<template lang="pug">
  .app-wrapper
    router-view
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class AppWrapper extends Vue {
}
</script>
