<template lang="pug">
  .edu-home
      hero-home
      dashboard-home
      user-profile-dialog(
        v-if="hasDisplayParam"
        :open-dialog-from-prop="hasDisplayParam"
      )
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import HeroHome from '@/components/Home/HeroHome.vue'
import DashboardHome from '@/components/Home/DashboardHome.vue'
import userProfileDialog from '../components/SSIWallet/userProfileDialog.vue'
@Component({
  components: {
    HeroHome,
    DashboardHome,
    userProfileDialog
  }
})

export default class Home extends Vue {
  beforeMount () {
    if (process.env.NODE_ENV !== 'development') {
      if (window.location.href.includes('assess')) {
        window.location.href = `${window.location.origin}/${this.$i18n.locale}/`
      }
    }
  }

  get hasDisplayParam () : boolean {
    return !!this.$route.query.openUserProfile
  }
}
</script>
