<template lang="pug">
  v-container.container.issuer-portal.mt-12.pt-12
    v-card.mt-4.pt-4.px-4.px-sm-14.edit-card(outlined)
      v-card-title.edit-user-header {{ $t("wallet.issuance") }}
      v-divider
      v-card-text(v-show="selectedVc && !$route.query.sessionId")
        h1 {{ $t('wallet.qrCodeIssuance') }}
        .qr-code.d-flex.align-center.mt-10
          v-progress-circular(
            v-if="!hasEndpointUrl"
            :size="70"
            :width="5"
            color="primary"
            indeterminate
          )
          canvas(
            v-show="hasEndpointUrl"
            id="qr"
          )
      v-card-text
        .verifiable-credential(v-if="issuerVcs.length > 0")
          v-radio-group(v-model="selectedVc")
            v-radio.mb-4(
              v-for="vc in issuerVcs"
              :key="vc.id"
              :value="vc.id"
            )
              template(v-slot:label)
                .d-flex.flex-column
                  div {{ `${ vc.name } (${ vc.type })` }}
                  div {{ vc.description }}
          v-btn.mb-4(
            :disabled="!hasEndpointUrl"
            :loading="loading"
            color="success"
            @click="issueCredential"
          )  {{ $t("wallet.issuance") }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'

import * as QRious from 'qrious'
import WalletService from '../services/walletService'
import { Getter } from 'vuex-class'
import { User } from '../store/modules/user/types'
import VerifiableCredential from '../assets/interfaces/VerifiableCredential'
@Component
export default class Issuance extends Vue {
  @Getter('user/getUser') getUser!: User

  private hasEndpointUrl: boolean = false
  private loading: boolean = false
  private issuerVcs: VerifiableCredential[] = []
  private request: WalletService = new WalletService()
  private selectedVc: any = null

  @Watch('getUser.id', { immediate: true })
  async changeUserId () {
    const userId = this.getUser.id
    if (userId !== 0) {
      const vcList = await this.request.getVcList(userId)
      this.issuerVcs = vcList.data.data
    }
  }

  @Watch('selectedVc')
  async changeQr () {
    const sessionId = this.$route.query.sessionId
    if (!sessionId) {
      try {
        const userId = this.getUser.id
        this.hasEndpointUrl = false
        const url = await this.request.issueVc(userId, this.selectedVc, sessionId, true)
        const oidcUrl = url.data.data.redirect_uri
        this.hasEndpointUrl = true

        /* eslint-disable */
        new QRious({
          element: document.getElementById('qr'),
          value: oidcUrl,
          size: 200
        })
      } catch (error) {
        console.error('Error while verifiable credential issuance', error)
      }
    } else {
      this.hasEndpointUrl = true
    }
  }

   async issueCredential () {
    try {
      this.loading = true
      const userId = this.getUser.id
      const sessionId = this.$route.query.sessionId
      const url = await this.request.issueVc(userId, this.selectedVc, sessionId, false)
      const oidcUrl = url.data.data.redirect_uri
      this.loading = false
      window.location = oidcUrl
    } catch (error) {
      console.error('Error while verifiable credential issuance', error)
    }
  }
}
</script>

<style lang="scss">
  .issuer-portal .v-card {
    z-index: 10
  }
</style>
