<template lang="pug">
  div.signup-form
    v-container.bg-signup
      v-toolbar.d-flex.justify-center(
        color="colorTab"
        cards
        flat
        rounded
        height="70"
        max-width="450px"
        width="100%"
      )
        v-card-title.title-form.justify-center.white--text {{ $t('Login.login') }}
        v-spacer

      v-card.mx-auto.card-sign(
        style="max-width: 450px"
        max-width="450px"
        width="100%"
        elevation="0"
        outlined
      )

        v-form.pa-6(ref="form" v-model="form")
          v-text-field.input-form(
            v-model="user.email"
            :rules="[rules.required]"
            color="primary"
            :label="$t('User.email')"
            prepend-inner-icon="mdi-account"
            outlined
          )
          v-text-field.input-form.activeTextColor--text(
            v-model="user.password"
            :rules="[rules.passwordRules]"
            color="primary"
            :label="$t('User.password')"
            style="min-height: 50px"
            type="password"
            outlined
            prepend-inner-icon="mdi-lock-open"
            @keyup.enter="loginAction()"
          )
          v-alert.form-error(
            dense
            outlined
            type="error"
            v-if="errorPassword"
          ) {{ $t("User.errorPassword") }}

          v-alert.form-error(
            dense
            outlined
            type="error"
            v-if="errorEmail"
          ) Error

          v-alert.form-success(
            dense
            outlined
            type="success"
            v-if="success"
          ) {{ $t("Login.messageLogin") }}

        v-divider
        v-card-actions.justify-space-between.px-6.btn-form
          v-btn(
            outlined
            color="black"
            text,
            :to="{ path: `signup?next=/${$route.params.locale}/edit/main` }"
          ) {{ $t("Signup.signUp") }}
          v-btn.white--text.btn-register.btn-form(
            :disabled="!form"
            :loading="isLoading"
            color="primary"
            @click="loginAction()"
          ) {{ $t('Login.login') }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Action, State, Getter } from 'vuex-class'
import { User, UserState } from '@/store/modules/user/types'
import UserService from '@/services/userService'

@Component({
  components: { }
})
export default class Login extends Vue {
  @Getter('user/isConsultant') isConsultant!: boolean
  @Getter('user/isManager') isManager!: boolean

  private errorPassword = false
  private errorEmail = false
  private form = false
  private isLoading = false
  private success = false
  private user = {
    email: '',
    password: ''
  }

  private rules = {
    email: (v: any) => !!(v || '').match(/@/) || 'Please enter a valid email',
    password: (v: any) =>
      !!(v || '').match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
      'Password must contain an upper case letter, a numeric character, and a special character',
    required: (v: any) => !!v || this.$t('inputRequired'),
    passwordRules: (v: any) => (v && v.length >= 6) || this.$t('passwordLength')
  }

  @Action('user/loadUserToken') loadUserToken: any
  @Action('user/registerUser') registerUser: any
  @Action('setIsLoading') setIsLoading: any
  @State('user') apiUser!: UserState
  @Getter('user/getUser') getUser!: User

  async created () {
    this.setIsLoading(true)
    await this.loadUserToken()
    this.logged()
    this.setIsLoading(false)
  }

  logged () {
    if (this.getUser.token.access_token !== '') {
      let pathName: string = ''
      if (this.isManager) {
        pathName = 'scoreboard'
      } else if (this.isConsultant) {
        pathName = 'consultant-list'
      } else {
        pathName = 'edit'
      }
      this.$router.push({ name: pathName, params: { locale: this.$route.params.locale } })
    }
  }

  async loginAction (): Promise<void> {
    const userService = new UserService([])
    this.isLoading = true

    userService.loginUser(this.user.email, this.user.password)
      .then(() => {
        this.success = true
        this.errorEmail = this.errorPassword = false
        setTimeout(async () => {
          await this.loadUserToken()
          if (this.isManager) {
            await this.$router.push({ name: 'scoreboard' })
          } else if (this.isConsultant) {
            await this.$router.push({ name: 'consultant-list' })
          } else {
            let qnr: string = ''
            if (this.$route.query.next) {
              qnr = '/' + this.$route.query.next
            }
            await this.$router.push({
              path: 'edit' + qnr
            })
          }
          this.isLoading = false
        }, 500)
      })
      .catch(() => {
        this.errorEmail = true
        this.errorPassword = false
        this.isLoading = false
      })
  }
}
</script>

<style lang="scss">
.font-color {
  color: var(--v-generalText-base) !important;
}

.signup-form {
  .bg-signup {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: relative;
    margin-top: 148px;
    z-index: 10;

    .v-toolbar {
      margin-bottom: 15px;
    }
  }

  .title-form {
    font-size: 24px;
    font-weight: 500;
  }

  .bg-signup {
    max-height: 720px;
  }

  /**override**/
  .input-form > div > div > fieldset {
    background: #d3d3d34f;
  }

  p.font-color {
    margin: 0;
  }

  .v-input--selection-controls .v-input__slot > .v-label,
  .v-input--selection-controls .v-radio > .v-label {
    flex-wrap: wrap;
  }

  .btn-form {
    font-family: "cairo" !important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase !important;
  }
}

.v-card__text.message-body {
  overflow: hidden;
}

@media (max-width: 570px) {
  .bg-signup{

    .signup-form .mx-auto.card-sign.v-card.v-sheet.theme--light {
      z-index: 10;
    }

    .v-input--selection-controls .v-input__slot > .v-label,
    .v-input--selection-controls .v-radio > .v-label {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}
</style>
