<template lang="pug">
    v-container.page-not-found
      .not-found Page not found
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Action } from 'vuex-class'

@Component
export default class PageNotFound extends Vue {
  @Action('setIsLoading') setIsLoading: any

  created () {
    this.setIsLoading(false)
  }
}
</script>

<style lang="scss">
.page-not-found{

  .header-second{
        height: 150px !important;
  }
  .not-found {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
  }
}
</style>
