<template lang="pug">
  div.signup-form
    v-container
      v-row.signup-container(justify="center" )
        v-col.col-12.col-md-5.d-flex.flex-column.align-center
          v-toolbar.d-flex.justify-center.mb-4(
            color="colorTab"
            cards
            flat
            rounded
            height="70"
            max-width="450px"
            width="100%"
          )
            v-card-title.title-form.justify-center.white--text {{ $t("Signup.signUp") }}
            v-spacer
          v-card.mx-auto.card-sign(
            style="max-width: 450px"
            max-width="450px"
            width="100%"
            elevation="0"
            outlined
          )
            v-form.pa-6(ref="form" v-model="form")
              v-select(
                v-if="qnrSelector.length && !hideSelector"
                v-model="user.default_questionnaire"
                :items="qnrSelector"
                :rules="[rules.required]"
                item-text="selector_text"
                item-value="slug"
                color="primary"
                prepend-inner-icon="mdi-clipboard-list-outline"
                outlined
                :label="$t('User.selector')"
              )
              v-text-field.input-form(
                v-model="user.email"
                :rules="[rules.required]"
                color="primary"
                :label="emailLabel"
                prepend-inner-icon="mdi-account"
                outlined
              )
              v-text-field.input-form(
                v-model="user.password"
                :rules="[rules.passwordRules]"
                color="primary"
                :label="$t('User.password')"
                style="min-height: 50px"
                type="password"
                outlined
                prepend-inner-icon="mdi-lock-open"
              )
              v-text-field.input-form(
                v-model="confirmPass"
                :rules="[rules.passwordRules]"
                color="primary"
                :label="$t('Signup.confirmPassword')"
                style="min-height: 50px"
                type="password"
                padding="0"
                outlined
                prepend-inner-icon="mdi-lock"
              )
              v-alert.form-error(
                dense
                outlined
                type="error"
                v-if="errorPassword"
              ) {{ $t("User.errorPassword") }}
              v-alert.form-error(
                dense
                outlined
                type="error"
                v-if="errorEmail"
              ) {{ $t("User.errorEmail") }}
              v-alert.form-success(
                dense
                outlined
                type="success"
                v-if="success"
              ) {{ $t("Signup.messageRegister") }}
              v-checkbox(
                v-model="serviceAgreement"
                :rules="[rules.required]"
                color="primary"
              )
                template(v-slot:label)
                  span.font-color {{ $t('Signup.serviceTerms.start') }}&nbsp;
                  a(
                    href="https://www.wbstraining.de/allgemeine-geschaeftsbedingungen/"
                    target="blank"
                    @click.stop
                  ) {{ $t('Signup.serviceTerms.link') }}
                  span.font-color &nbsp;{{ $t('Signup.serviceTerms.end') }}
              v-checkbox.mt-0(
                v-model="privacyAgreement"
                :rules="[rules.required]"
                color="primary"
              )
                template(v-slot:label)
                  span.font-color {{ termsLabel }}&nbsp;
                  a(
                    href="/de/p/privacy-policy/"
                    target="blank"
                    @click.stop
                  ) {{ $t('Signup.privacyTerms.link') }}
            v-divider
            v-card-actions.justify-space-between.px-6.btn-form
              v-btn(
                outlined
                color="black"
                text
                :to="loginRoute"
              ) {{ $t('Login.login') }}
              v-btn.activeTextColor--text--text.btn-register.btn-form(
                :disabled="!form"
                :loading="isLoading"
                color="primary"
                @click="registerAction()"
              ) {{ $t("Signup.registerNew") }}
        v-col.col-12.col-md-6.pt-12.mt-0.mt-md-12.px-6(v-if="showHelpText")
          .qnr-signup-description(
            v-if="qnrSignupDesc"
            v-html="qnrSignupDesc"
          )
          .common-desc(v-else)
            p.font-weight-bold {{ $t('Signup.helpSection.sectionOne.title') }}
            p(v-html="$t('Signup.helpSection.sectionOne.desc')")
            p.font-weight-bold {{ $t('Signup.helpSection.sectionTwo.title') }}
            p(v-html="$t('Signup.helpSection.sectionTwo.desc')")
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Action, Getter, State } from 'vuex-class'
import { User, UserState } from '@/store/modules/user/types'
import UserService from '@/services/userService'
import QuestionnaireService from '../services/questionnaireService'
import { Questionnaire } from '../store/modules/questionnaire/types'
import { TranslateResult } from 'vue-i18n'

@Component({
  components: {}
})
export default class SignUpForm extends Vue {
  @Action('user/loadUserToken') loadUserToken: any
  @Action('user/registerUser') registerUser: any
  @Action('setIsLoading') setIsLoading: any

  @State('user') apiUser!: UserState
  @Getter('user/getUser') getUser!: User
  @Getter('user/isConsultant') isConsultant!: boolean
  @Getter('user/isManager') isManager!: boolean

  private errorPassword = false
  private errorEmail = false
  private hideSelector = false
  private serviceAgreement = false
  private privacyAgreement = false
  private dialog = false
  private form = false
  private isLoading = false
  private success = false
  private confirmPass = ''
  private user = {
    default_questionnaire: undefined,
    email: '',
    password: ''
  }

  private qnrSelector: Questionnaire[] = []

  private rules = {
    required: (v: any) => !!v || this.$t('inputRequired'),
    passwordRules: (v: any) => (v && v.length >= 6) || this.$t('passwordLength')
  }

  get currentQnr (): Questionnaire | undefined {
    let currentQnr
    if (this.user.default_questionnaire) {
      currentQnr = this.qnrSelector.find((Qnr: Questionnaire) => {
        return this.user.default_questionnaire === Qnr.slug
      })
    }
    return currentQnr
  }

  get emailLabel (): TranslateResult {
    return this.currentQnr?.email_label || this.$t('User.email')
  }

  get loginRoute () {
    return {
      name: 'login',
      params: {
        locale: this.$i18n.locale
      }
    }
  }

  get qnrSignupDesc (): string {
    return this.currentQnr?.signup_description || ''
  }

  get showHelpText (): boolean {
    return !!this.$t('Signup.helpSection.sectionOne.title')
  }

  get termsLabel (): TranslateResult {
    return this.currentQnr?.checkbox_label || this.$t('Signup.privacyTerms.start')
  }

  async created () {
    const questionnaireService = new QuestionnaireService()
    questionnaireService.getPublicQuestionnaires().then((questionnaires: Questionnaire[]) => {
      const slugList: string[] = []
      questionnaires.forEach((qnr: Questionnaire) => {
        if (qnr.selector_text) {
          this.qnrSelector.push(qnr)
          slugList.push(qnr.slug)
        }
        const querySelect: any = this.$route.query.select
        if (querySelect && slugList.includes(querySelect)) {
          this.user.default_questionnaire = querySelect
          this.hideSelector = true
        }
      })
    })
    this.setIsLoading(true)
    await this.loadUserToken()
    this.logged()
    this.setIsLoading(false)
  }

  logged () {
    if (this.getUser.token.access_token !== '') {
      let pathName: string = ''
      if (this.isManager) {
        pathName = 'scoreboard'
      } else if (this.isConsultant) {
        pathName = 'consultant-list'
      } else {
        pathName = 'edit'
      }
      this.$router.push({ name: pathName, params: { locale: this.$route.params.locale } })
    }
  }

  registerAction (): void {
    if (this.user.password === this.confirmPass) {
      const userService = new UserService([])
      this.isLoading = true

      userService
        .registerUser(this.user)
        .then(async (response) => {
          this.success = true
          this.errorEmail = this.errorPassword = false
          this.registerUser(response)
          await userService.loginUser(this.user.email, this.user.password)
          setTimeout(async () => {
            await this.loadUserToken()
            let next: string = String(this.$route.query.next || '')
            if (!next && this.user.default_questionnaire) {
              next = `edit/${this.user.default_questionnaire}`
            }
            await this.$router.push({ path: next })
            this.isLoading = false
          }, 500)
        })
        .catch((err) => {
          if (err.response.status === 400) {
            this.errorEmail = true
            this.errorPassword = false
          }
          this.isLoading = false
        })
    } else {
      this.errorPassword = true
    }
  }
}
</script>

<style lang="scss">
.font-color {
  color: var(--v-generalText-base) !important;
}

.signup-form {
  .signup-container {
    position: relative;
    margin-top: 148px;
    z-index: 10;
  }

  .bg-signup {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .v-toolbar {
      margin-bottom: 15px;
    }
  }

  .title-form {
    font-size: 24px;
    font-weight: 500;
  }

  /**override**/
  .input-form>div>div>fieldset {
    background: #d3d3d34f;
  }

  .terms,
  .privacy {
    color: var(--v-darkgreen-base) !important;
    text-decoration: none !important;
  }

  p.font-color {
    margin: 0;
  }

  .v-input--selection-controls .v-input__slot>.v-label,
  .v-input--selection-controls .v-radio>.v-label {
    flex-wrap: wrap;
  }

  .btn-form {
    font-family: "cairo" !important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase !important;
  }
}

.v-card__text.message-body {
  overflow: hidden;
}

@media (max-width: 570px) {
  .bg-signup {

    .signup-form .mx-auto.card-sign.v-card.v-sheet.theme--light {
      z-index: 10;
    }

    .v-input--selection-controls .v-input__slot>.v-label,
    .v-input--selection-controls .v-radio>.v-label {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}
</style>
