<template lang="pug">
    v-container
      .under-construction Element under construction
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class UnderConstruction extends Vue { }
</script>

<style scoped>
.under-construction {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
}
</style>
