<template lang="pug">
  v-container.verifier-portal.mt-12.pt-12
    v-card.mt-4.pt-4.px-4.px-sm-14(outlined)
      v-card-title {{ $t('wallet.verify') }}
      v-divider
      div.mt-12.mb-6
        v-alert(
          v-if="displayError"
          type="error"
          prominent
        )
          h3 {{ $t('wallet.errorVerification') }}
        .d-flex.justify-center(v-else-if="!isVerifyRequestFinish")
          v-progress-circular(
            :size="180"
            :width="10"
            color="primary"
            indeterminate
          )
        div(v-else)
          v-alert(
            type="success"
            prominent
          )
            h3 {{ $t('wallet.validCredential') }}
          router-link(
            :to="`/${$i18n.locale}/?openUserProfile=true`"
          )
            v-btn(
              color="primary"
              large
            ) {{ $t('wallet.openUserProfile') }}
</template>
<script setup lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import WalletService from '../services/walletService'
import { Getter } from 'vuex-class'
import { User } from '../store/modules/user/types'

@Component
export default class Verify extends Vue {
  private isVerifyRequestFinish: boolean = false
  private displayError: boolean = false
  private request: WalletService = new WalletService()

  @Getter('user/getUser') getUser!: User

  async mounted () {
    if (this.$route.query.access_token === '' || !this.$route.query.access_token) {
      this.$router.push('/')
    } else {
      const token = this.$route.query.access_token
      if (token) {
        try {
          await this.request.verifyVc(token)
          this.isVerifyRequestFinish = true
        } catch (error) {
          this.displayError = true
          console.error('Error while verification of the verifiable credential', error)
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
.verifier-portal .v-card {
  z-index: 10
}
</style>
