<template lang="pug">
  .initiatives-list
    v-card
      v-card-title.initiatives-header-container
        p.initiatives-list-title {{ $t('Initiatives.initiatives') }}
        v-text-field.initiative-list-search(
          v-model="search"
          prepend-inner-icon="mdi-magnify"
          :label="$t('search')"
          single-line
          hide-details
          outlined
          color="activeColor"
        )
      v-data-table(
        :headers="headers"
        :items="initiatives"
        :search="search"
        :items-per-page="25"
        :footer-props="{ 'itemsPerPageOptions': [25, 50, 100, -1]}"
      )
        template(v-slot:[`item.title`]="{ item }")
          p.ma-0 {{ item.title }}
          p.ma-0 {{ `(${item.tags_list[0]})` }}
        template(v-slot:[`item.actions`]="{ item }")
          v-icon.me-2(small @click="editInitiative(item)") mdi-pencil
          v-icon.me-2(small @click="deleteItemConfirm(item)") mdi-delete
      v-dialog(v-model="dialog" width="800")
        v-card
          v-card-title.text-h5.white--text.colorTab.initiatives-card-title
            h2(v-if="!newIni") {{ $t('Initiatives.editInitiative') }}
            h2(v-else) {{ $t('Initiatives.newInitiative') }}
          v-card-text.edit-initiative-text
            .initiative-field
              p.label-edit-initiative {{ $t('Initiatives.initiativeTitle') }}
              v-text-field.iniciateive-input(
                :value="editedInitiative.title"
                :label="$t('Initiatives.initiativeTitle')"
                color="activeColor"
                outlined
                :rules="[rules.required]"
                v-model="editedInitiative.title"
              )
            .initiative-field
              p.label-edit-initiative {{ $t('Initiatives.initiativeDescription') }}
              v-text-field.iniciateive-input(
                :value="editedInitiative.description"
                :label="$t('Initiatives.initiativeDescription')"
                color="activeColor"
                outlined
                :rules="[rules.required]"
                v-model="editedInitiative.description"
              )
            .initiative-field
              p.label-edit-initiative {{ $t('Initiatives.initiativeTags') }}
              v-autocomplete.initiative-tag(
                :key="editedInitiative.id"
                :items="tags"
                :label="$t('Initiatives.initiativeTags')"
                color="activeColor"
                outlined
                :rules="[rules.required]"
                v-model="currentTag[0]"
              )
          v-divider
          v-card-actions
            v-spacer
            v-btn.activeTextColor--text(color="activeColor" @click="dialog=false; save()" :disabled="error") {{ $t('save') }}
            v-btn(text, @click="dialog=false") {{ $t('cancel') }}
    v-dialog(v-model="dialogDelete" max-width="500px")
      v-card
        v-card-title.text-h5.white--text.colorTab.answers-card-title(color) {{ $t("confirmDelete") }}
        v-card-actions
          v-spacer
          v-btn.activeTextColor--text(color="activeColor" @click="dialogDelete = false; deleteInitiative()") {{ $t("ok") }}
          v-btn(text, @click="dialogDelete = false") {{ $t("cancel") }}
          v-spacer
    v-snackbar(v-model="snackbar" content-class="white--text")
      p.mb-0(v-if="newIni === true && deleted === false") {{ $t("Initiatives.initiativeCreated") }}
      p.mb-0(v-else-if="newIni === false && deleted === false") {{ $t("Initiatives.initiativeUpdated") }}
      p.mb-0(v-else-if="deleted") {{ $t("Initiatives.initiativeDeleted") }}
      template(v-slot:action="{ attrs }")
        v-btn.activeTextColor--text(color="activeColor" text v-bind="attrs" @click="snackbar = false") {{ $t("ok") }}

    v-btn.white--text.add-btn.me-5.mb-16(v-if="$vuetify.rtl" fab fixed bottom left color="darkgreen" @click="newInitiative")
      v-icon mdi-plus
    v-btn.white--text.add-btn.me-5.mb-16(v-else fab fixed bottom right color="darkgreen" @click="newInitiative")
      v-icon mdi-plus
</template>

<script lang="ts">
import Initiative from '@/assets/interfaces/Initiative'
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'

@Component
export default class ListInitiatives extends Vue {
  @Getter('admin/getInitiatives') getInitiatives!: Initiative[]
  @Getter('admin/getTags') getTags: any
  @Getter('admin/getTagsByLanguage') getTagsByLanguage: any

  @Action('admin/loadInitiativesData') loadInitiativesData: any
  @Action('admin/loadTagsData') loadTagsData: any
  @Action('admin/addInitiative') addInitiativeAction: any
  @Action('admin/updateInitiative') updateInitiativeAction: any
  @Action('admin/deleteInitiative') deleteInitiativeAction: any

  private search = ''
  private dialog = false
  private newIni = false
  private snackbar = false
  private dialogDelete = false
  private deleted = false
  private error = true
  private deleteIni = -1
  private initiatives : any[] = []
  private currentTag: string[] = []
  private tags : any[] = []
  private editedInitiative = {
    id: this.initiatives.length + 1,
    title: '',
    description: '',
    points: '',
    tags_list: ['']
  }

  private rules = {
    required: (v: any) => !!v || this.$t('inputRequired')
  }

  private headers = [
    {
      text: this.$t('Initiatives.initiatives'),
      align: 'start',
      sortable: true,
      width: '40%',
      value: 'title'
    },
    {
      text: this.$t('Initiatives.initiativeDescription'),
      align: 'start',
      sortable: true,
      width: '40%',
      value: 'description'
    },
    {
      text: '',
      width: '10%',
      value: 'actions',
      sortable: false
    }
  ]

  @Watch('editedInitiative.title')
  @Watch('editedInitiative.description')
  @Watch('editedInitiative.points')
  @Watch('editedInitiative.tags_list')
  checkItem () {
    if (this.editedInitiative.title === '' || this.editedInitiative.description === '') {
      this.error = true
    } else {
      this.error = false
    }
  }

  @Watch('$route')
  changeRoute () {
    this.tags = this.getTagsByLanguage(this.$route.params.locale)
  }

  created () {
    this.loadInitiatives()
  }

  async loadInitiatives () {
    await this.loadInitiativesData()
    this.initiatives = this.getInitiatives.sort((a: Initiative, b: Initiative) => (b.id > a.id) ? 1 : -1)

    await this.loadTagsData()
    this.tags = this.getTagsByLanguage(this.$route.params.locale)
  }

  editInitiative (item: any) {
    this.currentTag = []
    this.checkInitiativeTag(item.tags_list[0])
    this.newIni = false
    this.dialog = true
    this.editedInitiative = Object.assign({}, item)
  }

  deleteInitiative () {
    this.deleteInitiativeAction(this.deleteIni).then(() => {
      this.loadInitiatives()
      this.deleted = true
      this.snackbar = true
    })
  }

  deleteItemConfirm (item: any) {
    this.deleteIni = item.id
    this.dialogDelete = true
  }

  newInitiative () {
    this.currentTag = []
    this.newIni = true
    this.dialog = true
    this.editedInitiative = {
      id: this.initiatives.length + 1,
      title: '',
      description: '',
      points: '',
      tags_list: []
    }
  }

  save () {
    this.setInitiativeTag()
    if (this.newIni) {
      this.addInitiativeAction({
        title: this.editedInitiative.title,
        description: this.editedInitiative.description,
        points: this.editedInitiative.points,
        tags_list: this.currentTag
      }).then(() => {
        this.loadInitiatives()
        this.deleted = false
        this.snackbar = true
      })
    } else {
      this.updateInitiativeAction({
        id: this.editedInitiative.id,
        data: {
          title: this.editedInitiative.title,
          description: this.editedInitiative.description,
          points: this.editedInitiative.points,
          tags_list: this.currentTag
        }
      }).then(() => {
        this.loadInitiatives()
        this.deleted = false
        this.snackbar = true
      })
    }
    this.dialog = false
  }

  checkInitiativeTag (tag: string) {
    this.getTags.forEach((tags: any) => {
      if (tags.tag === tag && tags.locale.includes(this.$i18n.locale)) {
        this.currentTag.push(tags.display_name)
      }
    })
  }

  setInitiativeTag () {
    this.getTags.forEach((tags: any) => {
      if (tags.display_name === this.currentTag[0]) {
        this.currentTag = []
        this.currentTag.push(tags.tag)
      }
    })
  }
}
</script>

<style lang="scss">
.add-btn {
  z-index: 200 !important;
}

p.label-edit-initiative {
  width: 25%;
  font-size: 20px;
  font-weight: 400;
  color: var(--v-generalText-base);
  display: inline-block;
}

.v-card__text.edit-initiative-text{
  padding: 40px 35px !important;
}

.initiatives-card-title{
  justify-content: center;
}

.v-card__text.edit-initiative-text {
  max-height: 65vh;
}

.initiatives-list {
  padding: 36px 16px !important;
  position: relative;
  z-index: 10;
  .initiatives-list-title {
    width: 40%;
  }
}

.initiative-tag .v-list-item--active,
div.v-application .primary--text {
  color: var(--v-activeColor-base) !important;
  caret-color: var(--v-activeColor-base) !important;
}

.v-card__text.edit-initiative-text {
  overflow: auto;
}
</style>
