<template lang="pug">
  .answer-radio
    v-radio-group(v-model="internalSelectedAnswer")
      v-radio(
        v-for="(answer, index) in answers"
        :key="answer.id"
        :value="index"
        :class="`option-${index + 1}`"
      )
        template(v-slot:label)
          .option-container
            p.answers-num {{ index + 1 }}
          p.answers-text {{ answer.answer }}
    v-btn.btn-survey(color="colorTab" @click="$emit('next-question')")
      v-icon mdi-check
      | {{ $t("ok") }}
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import Answer from '../../../../assets/interfaces/Answer'

@Component
export default class AnswerRadio extends Vue {
  private internalSelectedAnswer: any = null

  @Prop({ required: true }) readonly answers!: Answer[]
  @Prop({ required: true }) readonly value!: Number

  mounted () {
    this.internalSelectedAnswer = this.value
  }

  @Watch('value')
  changeVModel () {
    this.internalSelectedAnswer = this.value
  }

  @Watch('internalSelectedAnswer')
  changeSelectedAnswer () {
    this.$emit('input', this.internalSelectedAnswer)
  }
}
</script>
