<template lang="pug">
  .answer-slider
    v-radio-group.slider-radio-group(v-model="internalSelectedAnswer" row hide-details)
      .slider-radio-wrapper.text-center.d-flex.flex-column.justify-end(
        v-for="(answer, index) in answers"
        :key="answer.id"
      )
        v-hover(v-slot="{ hover }")
          .d-flex.flex-column.justify-end
            p.slider-answers-text.text-no-wrap(v-if="showLabel(index) || hover") {{ answer.answer }}
            .d-flex.justify-center
              v-radio.slider-radio.rounded-circle.ma-0(:value="index" :class="`option-${index + 1}`")
    v-divider.slider-divider
    .d-flex.justify-space-between.mt-12.flex-wrap
      v-btn.mb-4.mb-sm-0(v-if="showClearButton" @click="clearAnswer")
        v-icon mdi-close
        | {{ $t("Questionnaire.noAnswer") }}
      v-spacer(v-else)
      v-btn.btn-survey(
        color="colorTab"
        :disabled="isNextBtnDisabled"
        @click="nextQuestion"
      )
        v-icon mdi-check
        | {{ $t("ok") }}
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import Answer from '../../../../assets/interfaces/Answer'

@Component
export default class AnswerSlider extends Vue {
  private internalSelectedAnswer: any = null

  @Prop({ required: true }) readonly answers!: Answer[]
  @Prop({ required: true }) readonly hasAlternativeQuestions!: boolean
  @Prop({ default: false }) readonly hasHtmlQuestions!: boolean
  @Prop({ required: true }) readonly value!: Number

  mounted () {
    this.internalSelectedAnswer = this.value
  }

  @Watch('value')
  changeVModel () {
    this.internalSelectedAnswer = this.value
  }

  @Watch('internalSelectedAnswer')
  changeSelectedAnswer () {
    this.$emit('input', this.internalSelectedAnswer)
  }

  get isNextBtnDisabled (): boolean {
    return this.internalSelectedAnswer === null
  }

  get showClearButton (): boolean {
    return this.internalSelectedAnswer !== null ||
      this.hasAlternativeQuestions ||
      this.hasHtmlQuestions
  }

  clearAnswer () {
    this.internalSelectedAnswer = null
    this.$nextTick(() => {
      if (this.hasAlternativeQuestions && !this.hasHtmlQuestions) {
        this.$emit('next-alternative-question')
      } else {
        this.nextQuestion()
      }
    })
  }

  nextQuestion () {
    this.$emit('next-question')
  }

  showLabel (index: Number): boolean {
    const isFirst = index === 0
    const isLast = index === this.answers.length - 1
    const isSelected = index === this.internalSelectedAnswer
    return ((isFirst || isLast) && this.internalSelectedAnswer === null) || isSelected
  }
}
</script>
<style lang="sass">
.slider-radio
  width: 46px
  height: 46px
  border: solid thin lightgray
  background-color: white
.slider-answers-text
  font-size: 0.7rem
.slider-radio-group
  .v-input--radio-group__input
    display: flex
    justify-content: space-between
.slider-radio-wrapper
  max-width: 46px
  z-index: 1
.slider-divider
  position: relative
  bottom: 23px
@media (min-width: 960px)
  .slider-radio-wrapper
    width: 90px
    max-width: unset
</style>
