<template lang="pug">
  .html-questions
    span.text-h5 {{ question.question }}
    .mt-6
      p(v-if="question.alt1" v-html="question.alt1")
      p.mt-6(v-if="question.alt2" v-html="question.alt2")
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import Question from '../../../../assets/interfaces/Question'
@Component({
  components: {
  }
})
export default class HtmlQuestions extends Vue {
  @Prop({ required: true }) readonly question!: Question
}
</script>
<style lang="sass" scoped>
.html-questions
  width: 100%
</style>
