<template lang="pug">
  .questionnaire.slider-full-width
      v-card.complete-form(v-if="completedField")
        v-card-title
          | {{ $t("Questionnaire.formComplete") }}
        v-btn.btn-survey.btn-next-form.me-4(v-if="showNextField" color="colorTab" @click="nextField")
          | {{ $t('Questionnaire.nextForm') }}
        v-btn.btn-survey.btn-next-form(v-if="showRetakeBtn"  color="colorTab" @click="retakeSurvey")
          | {{ retakeLabel }}
          v-icon.ms-2(small) mdi-undo-variant
      v-stepper.question-container.slider-full-width(
        v-else-if="currentCategory.questions.length > 0"
        v-model="currentQuestionInCategory"
        vertical
      )
        v-stepper-items.slider-full-width
          v-stepper-content.px-0.mx-0(v-for="(questionWithAnswer, index) in currentCategory.questions" :key="`${index + 1}-content`" :step="index + 1")
            v-card(color="white")
              v-card-title.question-title
                .title-wrapper
                  html-questions(
                    v-if="hasHtmlQuestions"
                    :question="questionWithAnswer"
                  )
                  span(v-else v-html="questionWithAnswer.getCurrentQuestionText()")

              v-card-text.answer-container
                component(
                  :is="answerComponent"
                  v-model="modelAnswer"
                  :answers="questionWithAnswer.answers"
                  :has-html-questions="hasHtmlQuestions"
                  :has-alternative-questions="questionWithAnswer.hasAlternativeQuestions()"
                  @completeField="$emit('completeField')"
                  @next-question="nextQuestion"
                  @next-alternative-question="nextAlternativeQuestion"
                )
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { Getter } from 'vuex-class'
import AnswerRadio from './AnswerRadio.vue'
import AnswerSlider from './AnswerSlider.vue'
import HtmlQuestions from './HtmlQuestions.vue'
import QnrCategory from '../../../../assets/interfaces/QnrCategory'
import QuestionWithAnswer from '../../../../assets/interfaces/QuestionWithAnswer'
import { Questionnaire } from '../../../../store/modules/questionnaire/types'
import { TranslateResult } from 'vue-i18n'

@Component({
  components: { AnswerRadio, AnswerSlider, HtmlQuestions }
})
export default class QuestionsStepper extends Vue {
  private currentQuestionInCategory = 1
  private modelAnswer: number | null = null
  private retakeForm: boolean = false

  @Prop({ required: true }) readonly answerComponent!: string
  @Prop({ required: true }) readonly formComplete!: boolean
  @Prop({ default: false }) readonly hasHtmlQuestions!: boolean
  @Prop({ default: false }) readonly currentCategory!: QnrCategory
  @Prop({ default: false }) readonly showNextField!: boolean

  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire
  @Getter('user/isConsultant') isConsultant!: boolean
  @Getter('isLoading') isLoading!: boolean

  get currentQuestion (): QuestionWithAnswer {
    return this.currentCategory.getCurrentQuestion()
  }

  get completedField (): boolean {
    return this.showNextField || this.retakeForm
  }

  get isConsultantAsUser (): boolean {
    return this.isConsultant && !!this.$route.query?.srcUserId
  }

  get isKiraEmployerQnr (): boolean {
    return this.getQuestionnaire.user_fields_component === 'user-fields-kira-employer'
  }

  get retakeLabel (): TranslateResult {
    if (this.isKiraEmployerQnr) {
      return this.$t('Questionnaire.retakeSurveySubmission')
    }
    return this.$t('Questionnaire.retakeSurvey')
  }

  get showRetakeBtn (): boolean {
    const isSingleSubmit = this.getQuestionnaire.single_submit
    return this.retakeForm && !this.isConsultantAsUser && !isSingleSubmit
  }

  @Watch('currentCategory.currentQuestionIndex')
  changeCurrentQuestionIndex () {
    this.currentQuestionInCategory = this.currentCategory.currentQuestionIndex + 1
    this.setRadioValue()
  }

  @Watch('modelAnswer')
  changeModelAnswer () {
    if (this.modelAnswer || this.modelAnswer === 0) {
      this.currentQuestion.saveIndexAnswer(this.modelAnswer)
    }
  }

  @Watch('formComplete')
  checkFormCompleted () {
    if (this.formComplete) {
      this.retakeForm = true
    }
  }

  mounted () {
    window.addEventListener('keyup', this.keyPress)
    this.setRadioValue()
    this.checkFormCompleted()
  }

  destroyed () {
    window.removeEventListener('keyup', this.keyPress)
  }

  nextField () {
    this.$emit('next-field')
  }

  setRadioValue () {
    if (this.currentQuestion) {
      const answer = this.currentQuestion.indexAnswered
      const hasAnswer = !!answer || answer === 0
      this.modelAnswer = hasAnswer ? answer : null
    }
  }

  keyPress (e: KeyboardEvent) {
    if (!this.isLoading) {
      if (e.key === 'Enter') {
        if (this.showNextField) {
          this.nextField()
        } else {
          this.nextQuestion()
        }
      } else {
        const selected: number = parseInt(e.key) - 1
        if (this.currentQuestion.answers[selected]) {
          this.modelAnswer = selected
        }
      }
    }
  }

  retakeSurvey () {
    this.retakeForm = false
    this.$emit('retake')
  }

  nextAlternativeQuestion () {
    const totalSkipped = this.currentCategory.getTotalPreviousSkipped()
    const currentIndex = this.currentQuestion.currentAlternativeQuestionIndex
    if (currentIndex >= this.currentQuestion.alternativeQuestions.length - 1 || totalSkipped >= this.currentQuestion.alternativeQuestions.length - 1) {
      this.currentQuestion.currentAlternativeQuestionIndex = 0
      this.nextQuestion()
    } else {
      this.currentQuestion.currentAlternativeQuestionIndex += totalSkipped + 1
      this.currentQuestion.skippedAmount++
    }
  }

  nextQuestion () {
    if (!this.modelAnswer && this.modelAnswer !== 0) {
      this.currentQuestion.setIsSkippedQuestion(true)
    }
    this.modelAnswer = null
    this.$emit('next-question')
  }
}
</script>

<style lang="scss">

.questionnaire {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .v-stepper.v-stepper--vertical.v-sheet.theme--light {
    height: 100% !important;
    padding: 0 !important;
  }

  .v-stepper.question-container.v-stepper--vertical.v-sheet {
    background: var(--v-cardBackground-base);
  }

  .question-container .v-card.v-sheet {
    background: var(--v-cardBackground-base) !important;
  }

  .v-stepper__step {
    display: none !important;
  }

  .v-sheet.v-stepper:not(.v-sheet--outlined) {
    box-shadow: none !important;
  }

  .v-stepper--vertical .v-stepper__content:not(:last-child) {
    border: none !important;
  }

  .v-stepper__header {
    display: none;
  }

  .v-stepper__content {
    padding-top: 0 !important;
  }

  .v-sheet.v-card:not(.v-sheet--outlined) {
      box-shadow: none;
  }

  .v-radio:not(.slider-radio) {
      border: solid thin lightgray !important;
      border-radius: 5px !important;
      margin: 1rem 0 !important;
      padding: .5rem !important;
      width: fit-content !important;
  }

  p.answers-text, p.answers-num{
    font-size: 16px;
    padding: 0;
    margin: 0 5px;
  }

  button.btn-survey {
    font-size: 16px !important;
  }

  .v-radio.v-item--active {
      background: var(--v-activeColor-base);
      p.answers-num {
        border: solid thin var(--v-darkgreen-base);
      }
      p.answers-text {
        color: var(--v-activeTextColor-base);
      }
  }

  .v-input--selection-controls__input {
      display: none !important;
  }

  p.answers-num {
    border: solid thin lightgray;
    color: lightgrey;
    background: #fff;
    border-radius: 50px;
    width: 22px;
    text-align: center;
  }

  .question-title{
    font-size: 18px !important;
    color: var(--v-titleText-base);
  }

  .btn-survey{
    color: var(--v-tabsTextColor-base);
  }

  .complete-form.v-card,
  .complete-form .v-card__title,
  .complete-form .v-card__text {
    justify-content: center;
    text-align: center;
    background: var(--v-cardBackground-base);
  }
}

@media (max-width: 1150px) {
  .questionnaire {
    button.btn-survey.btn-next-form {
      margin: 14px;
    }
  }
}
.slider-questionnaire-body {
  .slider-full-width {
    width: 100%
  }
}
</style>
