<template lang="pug">
  .body-survey.radio-questionnaire-body
    .survey-steps
      v-divider(:class="(!$vuetify.rtl) ? 'step-divider-rt' : 'step-divider-lt'" vertical)
      .survey-step(
        v-for="(qnrCat, index) in data"
        :key="index"
        :class="{ 'current-step': isCurrentCategory(index) }"
      )
        v-progress-circular(
          v-if="isCurrentCategory(index) && !isFieldCompleted"
          :value="qnrCat.progressPercentage()"
          :rotate="-90"
          :size="65"
          :width="10"
          color="activeColor"
        ) {{ qnrCat.amountAnswered() }} / {{ qnrCat.totalQuestions() }}
        img.edit-survey-header-img.step-status.me-2(
          v-else-if="!qnrCat.isAllAnswered() && !isFieldCompleted"
          src="@/assets/img/disabledStep.png"
        )
        v-icon.step-status.me-2(v-else color="darkgreen") mdi-checkbox-marked-circle
        div.info-step
          p.step-name.ps-4 {{ qnrCat.category.display_name }}
          v-avatar.step-icon(size="45")
            .d-flex(
              v-if="isLordIcon(qnrCat.category.icon)"
            )
              ct-lord-icon(
                :src="lordIcons[qnrCat.category.icon].src"
                trigger="loop"
                :size="48"
              )
            v-icon(
              v-else
            ) {{ 'mdi-' + qnrCat.category.icon }}
    .survey-question.pa-0.pa-sm-4
      questions-stepper(
        v-if="data.length > 0"
        :answer-component="answerComponent"
        :show-next-field="showNextField"
        :current-category="currentCategory"
        :formComplete="formComplete"
        @next-question="$emit('next-question')"
        @next-field="$emit('next-field')"
        @retake="retake"
      )
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { Getter } from 'vuex-class'

import CtLordIcon from '../../../../components/ct/CtLordIcon.vue'
import lordIcons from '../../../../lib/data/lord-icons'
import QnrCategory from '../../../../assets/interfaces/QnrCategory'

import QuestionsStepper from './QuestionsStepper.vue'

interface lordiconInterface {
  src: String
}

interface lordiconsMapInterface {
  [key: string]: lordiconInterface
}

@Component({
  components: {
    CtLordIcon,
    QuestionsStepper
  }
})
export default class RadioQuestionnaireBody extends Vue {
  private answerComponent: string = 'answer-radio'
  private lordIcons: lordiconsMapInterface = lordIcons

  @Prop({ required: true }) data!: QnrCategory[]
  @Prop({ required: true }) readonly formComplete!: boolean
  @Prop({ default: false }) showNextField!: boolean
  @Prop({ required: true }) currentCategory!: QnrCategory

  @Getter('config/getConfig') getConfig: any

  get isFieldCompleted () {
    return this.showNextField || this.formComplete
  }

  isCurrentCategory (index: number) {
    return this.currentCategory.eq(this.data[index])
  }

  isLordIcon (name :string) {
    const hasLordIcon = this.getConfig.has_lordis === '1'
    return hasLordIcon && this.lordIcons[name] && this.lordIcons[name].src
  }

  retake () {
    this.$emit('retake')
  }
}
</script>
