<template lang="pug">
  .slider-questionnaire-body
    .pa-4
      v-progress-linear(
        :value="progress"
        height="10"
        rounded
      )
    .body-survey
      questions-stepper(
        v-if="data.length > 0"
        :answer-component="answerComponent"
        :current-category="currentCategory"
        :show-next-field="showNextField"
        :formComplete="formComplete"
        @next-question="$emit('next-question')"
        @next-field="$emit('next-field')"
        @retake="retake"
      )
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

import QnrCategory from '../../../../assets/interfaces/QnrCategory'

import QuestionsStepper from './QuestionsStepper.vue'

@Component({
  components: {
    QuestionsStepper
  }
})
export default class SliderQuestionnaireBody extends Vue {
  private answerComponent: string = 'answer-slider'

  @Prop({ required: true }) data!: QnrCategory[]
  @Prop({ required: true }) readonly formComplete!: boolean
  @Prop({ default: false }) showNextField!: boolean
  @Prop({ required: true }) currentCategory!: QnrCategory

  get progress (): number {
    if (this.isFieldCompleted) {
      return 100
    }
    return (this.answeredQuestionsAmount / this.totalQuestions) * 100
  }

  get answeredQuestionsAmount (): number {
    let answered: number = 0
    this.data.forEach((cat: QnrCategory) => {
      answered += cat.amountAnswered()
    })
    return answered
  }

  get isFieldCompleted () {
    return this.showNextField || this.formComplete
  }

  get totalQuestions (): number {
    let totalQuestions: number = 0
    this.data.forEach((cat: QnrCategory) => {
      totalQuestions += cat.totalQuestions()
    })
    return totalQuestions
  }

  retake () {
    this.$emit('retake')
  }
}
</script>
