<template>
  <v-app :style="customStyle">
    <app-header />
    <v-main class="app" :class="{admin : isAdmin()}">
      <router-view />
      <demo-modals v-if="hasDemoModals"></demo-modals>
    </v-main>
    <app-footer></app-footer>
    <app-loader v-if="isLoading"></app-loader>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import AppHeader from '@/components/Layout/AppHeader.vue'
import AppFooter from '@/components/Layout/AppFooter.vue'
import AppLoader from '@/components/Layout/AppLoader.vue'
import { GROUP_ADMIN, GROUP_SELLER } from '@/services/constants'

import { Action, Getter } from 'vuex-class'
import setColorTheme from './plugins/themes'
import setCustomLocale from './plugins/i18n/customLocales'
import UserService from './services/userService'
import { User } from './store/modules/user/types'
import DemoModals from './components/demo/DemoModals.vue'

@Component({
  components: {
    AppHeader,
    AppFooter,
    AppLoader,
    DemoModals
  }
})
export default class App extends Vue {
  @Getter('isLoading') isLoading!: boolean
  @Getter('user/getUser') getUser!: User
  @Getter('config/getConfig') getConfig: any
  @Getter('user/isBuyer') isBuyer!: boolean

  @Action('config/loadConfigData') loadConfigData : any
  @Action('user/setUserToken') setUserToken: any

  get customStyle () {
    return {
      '--custom-font-family': this.getConfig.font_family || 'Quicksand',
      background: this.$vuetify.theme.currentTheme.background
    }
  }

  get hasDemoModals (): boolean {
    return this.getConfig.demo_wizard && this.isBuyer
  }

  @Watch('$i18n.locale')
  changeLocale () {
    this.setLocale()
  }

  async beforeMount () {
    await this.loadConfigData()
    this.setFavicon()
    this.setTheme()
    this.setLocale()
    this.renewSessionActive()
    document.title = this.getConfig.app_title
    if (this.getConfig.services_widget === '1') {
      const widgetScript = document.createElement('script')
      widgetScript.setAttribute('src', 'https://dot0z5gt50bw8.cloudfront.net/s/front/shared/v-static/widget.js')
      document.head.appendChild(widgetScript)
    }
    if (this.getConfig.has_lordis === '1') {
      const lordiScript = document.createElement('script')
      lordiScript.setAttribute('src', 'https://cdn.courseticket.com/s/js/lord-icon-2.1.0.js')
      document.head.appendChild(lordiScript)
    }
  }

  isAdmin () {
    return (this.getUser.group_id === GROUP_ADMIN || this.getUser.group_id === GROUP_SELLER) &&
      (this.$route.meta?.name === 'scoreboard' || this.$route.name === 'dashboard')
  }

  renewSessionActive () {
    const minutes = 60 * 1000
    setInterval(() => {
      const uid = this.getUser.id
      if (uid) {
        const userService = new UserService([])
        userService.renewToken()
          .then((res: any) => {
            if (parseInt(res.data.user_id) === uid) {
              this.setUserToken(res.data.access_token)
            } else {
              console.error('Renew user does not match', uid, res)
            }
          })
      }
    }, 9 * minutes)
  }

  setFavicon () {
    const faviconDom: HTMLLinkElement = document.getElementById('favicon') as HTMLLinkElement
    if (this.getConfig.favicon && faviconDom) {
      faviconDom.href = this.getConfig.favicon
    }
  }

  setLocale () {
    let localeName: string
    let saveInLocalStorage: boolean = true
    const allowedLocales: string[] = this.getConfig.locales?.split(',') || []
    if (this.getConfig.custom_locale) {
      localeName = this.$i18n.locale + '-' + this.getConfig.custom_locale
    } else {
      localeName = this.$i18n.locale
    }
    if (!allowedLocales.includes(this.$i18n.locale) || !this.getConfig.custom_locale) {
      saveInLocalStorage = false
    }
    setCustomLocale(localeName, this.$i18n, saveInLocalStorage)
  }

  setTheme () {
    if (this.getConfig.color_theme) {
      setColorTheme(this.getConfig.color_theme, this.$vuetify)
    } else {
      console.log('THEME CONFIG: no configuration found for the theme, default light has been set')
    }
  }
}
</script>

<style lang="scss">
* {
  font-family: var(--custom-font-family), sans-serif;
  word-break: break-word !important;
}
.shadow-card {
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px;
}
.app {
  height: fit-content !important;
  padding-bottom: 32px !important;
}
.header-second {
  position: absolute;
  width: 100vw;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  height: 200px;
}
.admin {
  background: var(--v-adminBackground-base) !important;
}

main.v-main.app {
  background: var(--v-background-base);
}
</style>
