<template lang="pug">
  lord-icon.ct-lord-icon(
    :src="src"
    :trigger="trigger"
    :target="target"
    :colors="colors"
    :speed="speed"
    :style="style"
  )
</template>

<script>
export default {
  props: {
    size: {
      default: 28,
      type: Number
    },
    speed: {
      default: 1,
      type: Number
    },
    src: {
      required: true,
      type: String
    },
    target: {
      default: '',
      type: String
    },
    trigger: {
      default: 'hover',
      type: String
    }
  },

  computed: {
    colors () {
      const primary = this.$vuetify.theme?.currentTheme['lord-icon-primary']
      const secondary = this.$vuetify.theme?.currentTheme['lord-icon-secondary']
      return `primary:${primary},secondary:${secondary}`
    },
    style () {
      return `width:${this.size}px;height:${this.size}px`
    }
  }
}
</script>
