<template lang="pug">
  div
    .html-editor
      .caption.mb-1(v-if="label") {{ label }}
      .editor(ref="editorNode" :style="editorStyles")
      .counter.d-flex.justify-end.caption.grey--text.text--darken-1(v-if="maxLength" ref="editorCounter")
    p(style="margin-top: 0.3em; color: red" v-show="showError") {{ errorMsg }}
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import Quill from 'quill'
import { TranslateResult } from 'vue-i18n'

@Component({
  components: {
  }
})
export default class HtmlEditor extends Vue {
  private editorInstance:any = null
  private errorMsg:TranslateResult = ''
  private htmlContent:any = null
  private showError: boolean = false

  @Prop({ default: 140 }) height!: number
  @Prop({ default: '' }) label!: TranslateResult
  @Prop({ default: null }) maxLength!: number
  @Prop({ default: 'vertical' }) resize!: string
  @Prop({ default: 'snow' }) theme!: string
  @Prop({ required: true }) value!: string
  @Prop({ default: false }) isMandatory!: boolean
  @Prop({ default: 'transparent' }) background!: string

  get editorOpts (): any {
    const options: any = {
      modules: {
        toolbar: this.getToolbar
      },
      theme: this.theme
    }
    if (this.maxLength) {
      Quill.register('modules/counter', (quill: any, options: any) => {
        const container: any = this.$refs.editorCounter
        quill.on('text-change', () => {
          const text = quill.getText()
          container.textContent = text.length - 1
        })
      })
      options.modules.counter = true
    }
    return options
  }

  get getToolbar (): Array<Array<any>> {
    return [
      ['bold', 'italic'],
      [{ list: 'bullet' }]
    ]
  }

  get editorStyles (): any {
    const obj: any = {
      'min-height': `${this.height}px`,
      backgroundColor: this.background,
      'overflow-y': 'hidden',
      resize: this.resize
    }

    if (this.resize === 'none') {
      obj.height = `${this.height}px`
    }

    return obj
  }

  get missingRequiredContent (): boolean {
    return this.isMandatory && this.editorInstance.getLength() === 1
  }

  get isValidLength (): boolean {
    if (this.maxLength) {
      return this.editorInstance.getLength() <= this.maxLength + 1
    }
    return true
  }

  get needsValidation (): boolean {
    return !!this.maxLength || this.isMandatory
  }

  @Watch('value')
  changeValue (newVal: string, oldVal: string) {
    if (newVal !== this.trimEndLineBreaks(this.htmlContent)) {
      if (!newVal) {
        newVal = ''
      }
      this.editorInstance.pasteHTML(newVal)
      if (this.needsValidation) {
        this.onEditorChange()
      }
    }
  }

  mounted () {
    this.initialize()
    this.changeMinHeightContainerFocus()
    if (this.needsValidation) {
      this.onEditorChange()
    }
  }

  beforeDestroy () {
    this.editorInstance.off('text-change')
  }

  trimEndLineBreaks (string: string): string {
    return string.replace(/(<p>\s*<br>\s*<\/p>)+$/g, '')
  }

  initialize () {
    if (this.$refs.editorNode) {
      const editorNode:any = this.$refs.editorNode
      editorNode.innerHTML = this.value
      this.editorInstance = new Quill(editorNode, this.editorOpts)
      this.editorInstance.on('text-change', this.onEditorChange)
      if (this.$vuetify.rtl) {
        this.editorInstance.format('direction', 'rtl')
        this.editorInstance.format('align', 'right')
      }
      this.htmlContent = this.editorInstance.getText()
        ? this.editorInstance.root.innerHTML
        : ''
    }
  }

  changeMinHeightContainerFocus () {
    const qlEditor: any = document.querySelector('.ql-editor')
    if (qlEditor) {
      qlEditor.style.minHeight = `${this.height}px`
    }
  }

  onEditorChange () {
    this.htmlContent = this.editorInstance.getText() ? this.editorInstance.root.innerHTML : ''
    if (this.missingRequiredContent) {
      this.showError = true
      this.errorMsg = this.$t('inputRequired')
    } else if (!this.isValidLength) {
      this.showError = true
      this.errorMsg = this.$t('errors.textSizeError')
    } else {
      this.showError = false
    }
    const toEmit = this.trimEndLineBreaks(this.htmlContent)
    this.$emit('input', (this.showError || this.editorInstance.getLength() === 1) ? null : toEmit)
    this.$emit('validateCtEditor', !this.showError)
  }
}
</script>

<style lang="sass">
@import 'quill/dist/quill.snow.css'
</style>
