<template lang="pug">
.ssi-wallet
    v-btn(
      color="success"
      large
      @click="issueCredentialsToWallet"
    ) {{ $t("wallet.issuance") }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class IssueCredentialsBtn extends Vue {
  async issueCredentialsToWallet () {
    await this.$router.push({ path: `/${this.$i18n.locale}/issuance` })
    this.$emit('close-dialog')
  }
}
</script>
