<template lang="pug">
  .user-profile-dialog
    v-dialog(
      v-model="openDialog"
      fullscreen
    )
      v-card
        v-progress-linear(
          v-if="loading"
          indeterminate
          absolute
          color="primary"
          rounded
        )
        v-card-title.d-flex.justify-space-between
          h1 {{ $t('userProfile.userProfile') }}
          v-btn(
            icon
            large
            @click="openDialog = false"
          )
            v-icon mdi-close
        v-card-text.mt-12.px-6.px-sm-12(v-if="openDialog")
          v-row
            v-col.col-12.col-sm-6
              esco-occupation-selector.my-6(
                v-model="userProfile.current_occupation"
                :label="$t('userProfile.occupation')"
              )
              esco-occupation-selector.my-6(
                v-model="userProfile.target_occupation"
                :label="$t('userProfile.targetOccupation')"
              )
              v-text-field.my-6(
                v-model="userProfile.industry"
                :label="$t('userProfile.industry')"
                outlined
              )
            v-col.col-12.col-sm-6
              v-select.my-6(
                v-model="userProfile.main_goal"
                :items="mainGoalOptions"
                :label="$t('userProfile.mainGoal')"
                hide-details
                outlined
              )
              v-textarea.my-6(
                v-model="userProfile.goal_description"
                :label="$t('userProfile.goalDesc')"
                outlined
              )
          v-row
            v-col.col-12.col-sm-6
              esco-skills-selector(
                v-model="skillsOwned"
                :label="$t('userProfile.skillsOwned')"
              )
            v-col.col-12.col-sm-6
              esco-skills-selector(
                v-model="skillsDesired"
                :label="$t('userProfile.skillsDesired')"
              )
          .caption.mt-1 {{ $t('Esco.disclaimer') }}
        v-card-actions.mt-12.px-6.px-sm-12.justify-space-between
          verify-credentials-btn
          v-btn(
            :loading="loading"
            x-large
            color="success"
            @click="saveUserProfile"
          ) {{ $t('userProfile.createProfile') }}
        v-snackbar(
          v-model="snackBar"
          timeout="2700"
        )
          .snack-bar-content.d-flex.justify-space-between
            span {{ snackBarMessage }}
            v-btn(
              icon
              small
              @click="snackBar = false"
            )
              v-icon mdi-close
    v-btn(
      v-if="!openDialogFromProp"
      color="success"
      large
      @click="openDialog = true"
    ) {{ $t('userProfile.openUserProfile') }}
</template>
<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { USER_PROFILE } from '../../services/constants'
import UserProfileService from '../../services/userProfileService'
import { Action, Getter } from 'vuex-class'
import { User } from '../../store/modules/user/types'
import UserProfile from '../../assets/interfaces/UserProfile'
import EscoSkillsSelector from '../../components/BaseComponents/EscoSkillsSelector.vue'
import EscoOccupationSelector from '../../components/BaseComponents/EscoOccupationSelector.vue'
import SkillSimplified from '../../assets/interfaces/SkillSimplified'
import VerifyCredentialsBtn from '../../components/SSIWallet/VerifyCredentialsBtn.vue'
import ProfileSkill from '../../assets/interfaces/ProfileSkill'

@Component({
  components: { EscoSkillsSelector, EscoOccupationSelector, VerifyCredentialsBtn }
})
export default class UserProfileDialog extends Vue {
  @Prop({ default: false }) openDialogFromProp!: boolean
  private loading: boolean = false
  private openDialog: boolean = false
  private snackBar: boolean = false
  private snackBarMessage: string = ''
  private skillsDesired: SkillSimplified[] = []
  private skillsOwned: SkillSimplified[] = []
  private userProfileService: UserProfileService = new UserProfileService()
  private userProfile: UserProfile = {
    current_occupation: '',
    goal_description: '',
    industry: '',
    main_goal: '',
    profile: '',
    profiles_skills: [],
    target_occupation: '',
    user_id: ''
  }

  get mainGoalOptions (): string[] {
    return USER_PROFILE.GOALS.map((goal: any) => {
      goal.text = this.$t(goal.text)
      return goal
    })
  }

  @Getter('user/getUser') getUser!: User
  @Getter('user/getUserProfile') getUserProfile!: UserProfile | undefined
  @Action('user/setUserProfile') setUserProfile!: any
  @Watch('openDialog')
  changeDialog (value: boolean) {
    if (value) {
      if (this.getUserProfile) {
        this.userProfile = { ...this.getUserProfile }
      } else {
        this.getProfile()
      }
    } else if (this.openDialogFromProp) {
      setTimeout(() => {
        this.$router.push(this.$route.path)
      }, 200)
    }
  }

  @Watch('userProfile.profiles_skills', { deep: true })
  changeProfileSkills (skills: ProfileSkill[]) {
    const owned: SkillSimplified[] = []
    const desired: SkillSimplified[] = []
    skills.forEach((skill: ProfileSkill) => {
      if (skill.status === USER_PROFILE.SKILL_STATUS.HAVE) {
        owned.push({
          title: skill.skill,
          uri: skill.esco_uri
        })
      } else if (skill.status === USER_PROFILE.SKILL_STATUS.WANT) {
        desired.push({
          title: skill.skill,
          uri: skill.esco_uri
        })
      }
    })
    this.skillsOwned = owned
    this.skillsDesired = desired
  }

  async saveUserProfile (): Promise<void> {
    try {
      this.loading = true
      const payload: any = { ...this.userProfile }
      const profileSkills: any[] = []
      this.skillsDesired.forEach((skill: SkillSimplified) => {
        profileSkills.push({
          skill: skill.title,
          esco_uri: skill.uri,
          status: USER_PROFILE.SKILL_STATUS.WANT
        })
      })
      this.skillsOwned.forEach((skill: SkillSimplified) => {
        profileSkills.push({
          skill: skill.title,
          esco_uri: skill.uri,
          status: USER_PROFILE.SKILL_STATUS.HAVE
        })
      })
      payload.profiles_skills = profileSkills
      payload.user_id = this.getUser.id.toString()
      delete payload.id
      const newProfile = await this.userProfileService.saveUserProfile(payload)
      this.setUserProfile(newProfile.data.data)
      this.userProfile = newProfile.data.data
    } catch (err) {
      console.error('Error while creating user profile', err)
    } finally {
      this.loading = false
      this.snackBar = true
      this.snackBarMessage = this.$t('userProfile.createdProfile').toString()
    }
  }

  async getProfile (): Promise<void> {
    try {
      this.loading = true
      const profile: any = await this.userProfileService.getUserProfile(this.getUser.id)
      this.setUserProfile(profile.data.data)
      this.userProfile = profile.data.data
    } catch (err) {
      console.error('Error loading user profile', err)
    } finally {
      this.loading = false
    }
  }

  mounted () {
    if (this.openDialogFromProp) {
      setTimeout(() => {
        this.openDialog = this.openDialogFromProp
      }, 300)
    }
  }
}
</script>
