<template lang="pug">
  .verify-credentials-btn
    v-btn(
      color="primary"
      x-large
      text
      :href="importUrl"
    )
      v-icon(
        left
        large
      ) mdi-application-import
      span.ms-3 {{ $t('wallet.importVcs') }}
</template>
<script setup lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class VerifyCredentialsBtn extends Vue {
  get importUrl () {
    const domain = process.env.VUE_APP_TARGET_PROXY ? process.env.VUE_APP_TARGET_PROXY : ''
    return domain + '/edu/api/v1/wallet/verifier/present?walletId=EduProto&vcType=VerifiableUserLearningOutcomes'
  }
}
</script>
