<template lang="pug">
  v-container
    .scoreboard-container
      v-card.scoreboard-filter-container.mb-8(v-if="questionnaires.length > 0")
        p.user-list-title {{ $t('Scoreboard.selectDeveloper') }}
        .scoreboard-filter-user.me-4
          v-autocomplete.users-list(
            outlined
            v-model="emailSelected"
            :items="usersInSelect"
            :item-text="getNameForSelector"
            item-value="email"
            :prepend-inner-icon="userSelectorIcon()"
            append-icon="mdi-chevron-down"
            background-color="adminInputBackground"
            attach=".users-list"
            :menu-props="{ offsetY: true, marginTop: '8px' }"
            @change="userSelected"
            @click="selectText"
            @update:search-input="searchUser($event)"
          )
            template(#item="{ item }")
              v-icon.me-4 {{ getUserIcon(item) }}
              span {{ getNameForSelector(item) }}
        .scoreboard-filter-date
          v-btn-toggle.filter-date(
            v-model="timeFilter"
            mandatory
            @change="() => { if (!menu) timeSelected() }"
          )
            v-btn.date-select(v-for="(date, index) in dateSelect" :key="index") {{ date }}
            v-menu(ref="menu1"
              v-model="menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              offset-x
              left max-width="290px"
              min-width="auto"
            )
              template(v-slot:activator="{ on, attrs }")
                v-btn(v-bind="attrs" v-on="on" :class="menu ? 'v-item--active v-btn--active' : ''")
                  v-icon(color="white") mdi-calendar
              v-date-picker(
                v-model="date"
                range
                color="cardTextColor"
              )
        v-select.questionnaire-list.mt-10(
          v-if="emailSelected !== null"
          v-model="qnrSlug"
          outlined
          :items="questionnaires"
          item-text="title"
          item-value="slug"
          :placeholder="$t('Navbar.questionnaires')"
          append-icon="mdi-chevron-down"
          background-color="adminInputBackground"
          :menu-props="{ offsetY: true, marginTop: '8px' }"
          @change="questionnaireSelected"
        )
          template(#item="{ item }")
            v-icon.me-4 {{ item.icon }}
            span {{ item.title }}
          template(#selection="{ item }")
            v-icon.me-4 {{ item.icon }}
            span {{ item.title }}
        div.take-survey.d-flex.justify-center
          v-btn.adminActiveTextColor--text(
            v-if="emailSelected !== null && emailSelected !== allDevelopers && Object.keys(userInitiatives).length === 0"
            @click="takeSurvey"
            color="activeColor"
          ) {{ $t('Scoreboard.takeSurvey') }}
      .scoreboard-user-initiative-data
        ScoreboardUserData(v-if="selectedUser" :selectedUser="selectedUser" )
      .scoreboard-body.mt-4
        v-card.scoreboard-content(
          v-if="!isCharging && emailSelected !== null || Object.keys(userInitiatives).length > 0"
          color="transparent"
          width="63%"
        )
          div.scoreboard-all-user-data(
            v-if="categoryStates.length > 0 && emailSelected === allDevelopers"
            )
            scoreboard-bar-chart.mb-8(:categoryStates="categoryStates" :totalStates="totalStates")
            scoreboard-doughnut-chart.mb-8(:categoryStates="categoryStates" :totalStates="totalStates")
            scoreboard-stats(:categoryStates="categoryStates" :totalStates="totalStates")
          div.scoreboard-user-data(
            v-if="!isCharging && selectedUser && categoryStates.length > 0"
            )
            ScoreboardUserInitiative(
              :categorySelect="categorySelect"
              :categoryStates="categoryStates"
              :userInitiatives="userInitiatives"
              @selectedFunction="selectedFunction"
            )
            ScoreboardInitiativeChart.mt-4(:categoryStates="categoryStates" :userInitiatives="userInitiatives" :totalStates="totalStates")
        v-card.scoreboard-content-empty.pa-8(
          v-if="emailSelected === null"
          color="transparent"
          width="63%"
        )
          v-card.user-empty
            v-card-text {{ $t('Scoreboard.selectUser') }}
        v-card.scoreboard-aside
          scoreboard-aside(
            :selectedUser="selectedUser"
            :user="emailSelected"
            :userInitiatives="userInitiatives"
            :initiativesScoreboard="initiativesScoreboard"
            :isCharging="isCharging"
            @categorySelected="categorySelected"
            @completedChargeData="completedChargeData"
          )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import ScoreboardAside from './components/ScoreboardAside.vue'
import ScoreboardBarChart from './components/ScoreboardBarChart.vue'
import ScoreboardDoughnutChart from './components/ScoreboardDoughnutChart.vue'
import ScoreboardStats from './components/ScoreboardStats.vue'
import ScoreboardUserData from './components/ScoreboardUserData.vue'
import ScoreboardUserInitiative from './components/ScoreboardUserInitiative.vue'
import ScoreboardInitiativeChart from './components/ScoreboardInitiativeChart.vue'
import QuestionnaireService from '@/services/questionnaireService'
import { MONTH, WEEK, TO_DATE, GROUP_SELLER, ALL_USERS } from '@/services/constants'

import UserService from '@/services/userService'
import { Action, Getter } from 'vuex-class'
import InitiativeScore from '../../assets/interfaces/InitiativeScore'
import { User } from '../../store/modules/user/types'
import { Questionnaire, Tag } from '../../store/modules/questionnaire/types'
import InitiativesUser from '../../assets/interfaces/InitiativesUser'
import BaseUser from '../../assets/interfaces/BaseUser'
import Scorecard from '../../assets/interfaces/Scorecard'

@Component({
  components: {
    ScoreboardAside,
    ScoreboardBarChart,
    ScoreboardDoughnutChart,
    ScoreboardStats,
    ScoreboardUserData,
    ScoreboardUserInitiative,
    ScoreboardInitiativeChart
  }
})
export default class ScoreboardSummary extends Vue {
  @Action('admin/loadInitiativesScoreboard') loadInitiativesScoreboard: any
  @Action('admin/loadInitiativesScoreboardByDate') loadInitiativesScoreboardByDate: any
  @Action('admin/loadUserScoreboard') loadUserScoreboard: any
  @Action('admin/loadUserScoreboardByDate') loadUserScoreboardByDate: any
  @Action('user/loadUserInitiatives') loadUserInitiatives!: (filters: object) => Promise<void>
  @Action('user/loadUserInitiativesByDate') loadUserInitiativesByDate: any
  @Action('admin/loadInitiativesGroupState') loadInitiativesGroupState: any
  @Action('admin/loadInitiativesGroupStateByDate') loadInitiativesGroupStateByDate: any
  @Action('setIsLoading') setIsLoading: any
  @Action('questionnaire/loadQuestionnaire') loadQuestionnaire!: (slug: string) => Promise<void>

  @Getter('admin/getInitiativesGroupState') getInitiativesGroupState!: Scorecard[]
  @Getter('admin/getInitiativesGroupStateByDate') getInitiativesGroupStateByDate!: Scorecard[]
  @Getter('questionnaire/getTagsByFunction') getTagsByFunction!: (fieldSlug: string) => Tag[][]
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire: Questionnaire | undefined
  @Getter('user/getUserInitiatives') getUserInitiatives!: InitiativesUser[]
  @Getter('user/getUserInitiativesByDate') getUserInitiativesByDate!: InitiativesUser[]
  @Getter('admin/getInitiativesScoreboard') getInitiativesScoreboard: any
  @Getter('admin/getInitiativesScoreboardByDate') getInitiativesScoreboardByDate!: InitiativeScore[]
  @Getter('user/getUser') getUser!: User

  private timeFilter = 0
  private emailSelected: string | null = ALL_USERS
  private allDevelopers = ALL_USERS
  private usersInSelect: BaseUser[] = []

  private allUsers: BaseUser[] = []
  private totalStates: Scorecard[] = []
  private categoryStates: Tag[] = []
  private categorySelect: any = {}
  private selectedUser: BaseUser | null = null
  private userInitiatives: InitiativesUser[] = []
  private dateSelect = [
    this.$t('Scoreboard.thisMonth'),
    this.$t('Scoreboard.thisWeek'),
    this.$t('Scoreboard.toDate')
  ]

  private initiativesScoreboard: InitiativeScore[] = []
  private menu = false
  private date: any[] = []
  private timeout: any
  private questionnaires: Questionnaire[] = []
  private qnrSlug: string = ''
  private isCharging: boolean = false

  @Watch('date')
  async selectedDate () {
    if (this.date.length > 1) {
      await this.timeSelected()
    }
  }

  @Watch('selectedUser')
  async selectUser () {
    this.isCharging = true
    await this.timeSelected()
  }

  @Watch('getUser')
  async QuestionnaireData () {
    await this.initData()
  }

  questionnaireSelected () {
    this.isCharging = true
    this.initData()
  }

  completedChargeData () {
    this.isCharging = false
  }

  async created () {
    if (this.getUser.token.access_token) {
      this.setIsLoading(true)

      const questionnaireService = new QuestionnaireService()
      this.questionnaires = await questionnaireService.getQuestionnaires()

      if (this.questionnaires[0]) {
        this.qnrSlug = this.questionnaires[0].slug
      } else {
        this.setIsLoading(false)
        this.$router.push('questionnaire')
      }
      const userService = new UserService([])
      const usersList: BaseUser[] = (this.getUser.group_id === GROUP_SELLER)
        ? await userService.getSmeUsersSearch(this.getUser.id, '')
        : await userService.getUsers()
      const allUsers: any = { email: ALL_USERS }
      this.usersInSelect.push(allUsers)
      this.allUsers = usersList
      if (usersList) {
        usersList.map((user: BaseUser) => {
          this.usersInSelect.push(user)
          this.allUsers.push(user)
          return user
        })
      }
      if (!await this.isUserFromUrlLoaded() && this.getQuestionnaire) {
        await this.timeSelected()
      }
      if (this.qnrSlug) {
        await this.initData()
      }
    }
  }

  get currentSelectedUserId (): number | undefined {
    if (!this.selectedUser) {
      return undefined
    }
    return this.selectedUser.id
  }

  async initData () {
    if (this.getUser.token.access_token) {
      await this.loadQuestionnaire(this.qnrSlug)

      if (!await this.isUserFromUrlLoaded()) {
        await this.timeSelected()
      }

      this.setIsLoading(false)
    }
  }

  async searchUser (search: string | null) {
    clearTimeout(this.timeout)
    this.timeout = setTimeout(async () => {
      const searching: string = (!search || search === this.$t('Scoreboard.allDevelopers')) ? '' : search
      if (search && search !== '') {
        this.setIsLoading(true)
        const userService = new UserService([])
        const usersList: BaseUser[] = (this.getUser.group_id === GROUP_SELLER)
          ? await userService.getSmeUsersSearch(this.getUser.id, searching)
          : await userService.getUsersSearch(searching)

        if (usersList.length > 0) {
          usersList.map((user: BaseUser) => {
            if (this.usersInSelect.findIndex((usr: BaseUser) => usr.email === user.email) === -1) {
              this.usersInSelect.push(user)
              this.allUsers.push(user)
            }
            return user
          })
        }
      }
      clearTimeout(this.timeout)
      this.setIsLoading(false)
    }, 400)
  }

  selectText ($event: any) {
    $event.target.select()
  }

  categorySelected (args: any) {
    this.categorySelect = args.selected
    this.categoryStates = this.getTagsByFunction(args.category)[args.categoryItem]
  }

  userSelected () {
    const listOfOne: BaseUser[] = this.allUsers.filter((user: BaseUser) => {
      return user.email === this.emailSelected
    })
    this.selectedUser = listOfOne[0]
    const query: any = { user_id: this.currentSelectedUserId }
    this.$router.push({ path: this.$route.path, query })
  }

  selectedFunction (args: string) {
    const select: HTMLElement = document.querySelector(`.${args[0]}`)!.childNodes[0] as HTMLElement
    if (select) select!.click()
  }

  userSelectorIcon () {
    if (this.selectedUser) {
      return this.getUserIcon(this.selectedUser)
    }
    return 'mdi-magnify'
  }

  async groupStateFilterDate (gte: any) {
    this.setIsLoading(true)
    let lte: any = new Date()
    switch (this.timeFilter) {
      case MONTH :
        await this.loadScoreboardData(gte, lte, 30)
        break
      case WEEK :
        await this.loadScoreboardData(gte, lte, 7)
        break
      case TO_DATE :
        await this.loadScoreboardData(gte, lte, 0)
        break
      default:
        if (this.date.length > 1) {
          this.timeFilter = 3
          let gte
          if (this.date[0] > this.date[1]) {
            gte = new Date(this.date[0] + 'T23:59:59.99Z').toISOString()
            lte = new Date(this.date[1]).toISOString()
          } else {
            gte = new Date(this.date[1] + 'T23:59:59.99Z').toISOString()
            lte = new Date(this.date[0]).toISOString()
          }
          await this.loadScoreboardData(gte, lte, -1)
        } else {
          // eslint-disable-next-line no-console
          console.log('No filter found', this.timeFilter, this.dateSelect[this.timeFilter], this.date)
        }
        break
    }
    this.setIsLoading(false)
  }

  async userInitiativesFilterDate (gte: any) {
    let lte: any = new Date()
    switch (this.timeFilter) {
      case MONTH :
        await this.userScoreboardData(gte, lte, 30)
        break
      case WEEK :
        await this.userScoreboardData(gte, lte, 7)
        break
      case TO_DATE :
        await this.userScoreboardData(gte, lte, 0)
        break
      default:
        if (this.date.length > 1) {
          this.timeFilter = 3
          let gte
          if (this.date[0] > this.date[1]) {
            gte = new Date(this.date[0] + 'T23:59:59.99Z').toISOString()
            lte = new Date(this.date[1]).toISOString()
          } else {
            gte = new Date(this.date[1] + 'T23:59:59.99Z').toISOString()
            lte = new Date(this.date[0]).toISOString()
          }
          await this.userScoreboardData(gte, lte, -1)
        }
        break
    }
  }

  getUserIcon (user: BaseUser): string {
    const icon: string = ''
    if (!user.default_questionnaire) {
      return icon
    }
    const qnrs = this.questionnaires.filter((qnr: Questionnaire) => {
      return qnr.slug === user.default_questionnaire
    })
    if (qnrs[0]) {
      const qnr: Questionnaire = qnrs[0]
      return qnr.icon
    }
    return icon
  }

  getNameForSelector (user: BaseUser): string {
    if (user.email === ALL_USERS) {
      return this.$t('Scoreboard.allDevelopers').toString()
    } else {
      const email = ' (' + user.email + ')'
      if (user.company) {
        return user.company + email
      }
      return user.email
    }
  }

  get getQuestionnaireId () {
    return this.getQuestionnaire?.id
  }

  async loadScoreboardData (gte: any, lte: any, time: number) {
    this.totalStates = []
    if (time > 0) {
      lte = new Date(lte.setDate(gte.getDate() - time)).toISOString()
      await this.loadInitiativesGroupStateByDate({
        gte: gte.toISOString(),
        lte: lte,
        questionnaireId: this.getQuestionnaireId
      })
      this.totalStates = await this.getInitiativesGroupStateByDate

      await this.loadInitiativesScoreboardByDate({
        gte: gte.toISOString(),
        lte: lte,
        questionnaireId: this.getQuestionnaireId
      })
      this.initiativesScoreboard = await this.getInitiativesScoreboardByDate
    } else if (time === 0) {
      await this.loadInitiativesGroupState(this.getQuestionnaireId)
      this.totalStates = await this.getInitiativesGroupState

      await this.loadInitiativesScoreboard(this.getQuestionnaireId)
      this.initiativesScoreboard = await this.getInitiativesScoreboard
    } else {
      await this.loadInitiativesGroupStateByDate({
        gte: gte,
        lte: lte,
        questionnaireId: this.getQuestionnaireId
      })
      this.totalStates = await this.getInitiativesGroupStateByDate

      await this.loadInitiativesScoreboardByDate({
        gte: gte,
        lte: lte,
        questionnaireId: this.getQuestionnaireId
      })
      this.initiativesScoreboard = await this.getInitiativesScoreboardByDate
    }
  }

  async userScoreboardData (gte: any, lte: any, time: number) {
    this.userInitiatives = []
    this.setIsLoading(true)
    if (this.getQuestionnaireId) {
      if (time > 0) {
        lte = new Date(lte.setDate(gte.getDate() - time)).toISOString()
        await this.loadUserScoreboardByDate({
          id: this.currentSelectedUserId,
          gte: gte.toISOString(),
          lte: lte,
          questionnaireId: this.getQuestionnaireId
        })
        this.initiativesScoreboard = await this.getInitiativesScoreboard

        await this.loadUserInitiativesByDate({
          userId: this.currentSelectedUserId,
          questionnaireId: this.getQuestionnaireBySlug()?.id,
          gte: gte.toISOString(),
          lte: lte
        })
        this.userInitiatives = await this.getUserInitiativesByDate
      } else if (time === 0) {
        await this.loadUserScoreboard({
          id: this.currentSelectedUserId,
          questionnaireId: this.getQuestionnaireId
        })
        this.initiativesScoreboard = await this.getInitiativesScoreboard

        await this.loadUserInitiatives({
          userId: this.currentSelectedUserId,
          questionnaireId: this.getQuestionnaireId
        })
        this.userInitiatives = await this.getUserInitiatives
      } else {
        await this.loadUserScoreboardByDate({
          id: this.currentSelectedUserId,
          gte: gte,
          lte: lte,
          questionnaireId: this.getQuestionnaireId
        })
        this.initiativesScoreboard = await this.getInitiativesScoreboard

        await this.loadUserInitiativesByDate({
          userId: this.currentSelectedUserId,
          questionnaireId: this.getQuestionnaireBySlug()?.id,
          gte: gte,
          lte: lte
        })
        this.userInitiatives = await this.getUserInitiativesByDate
      }
    }
    this.setIsLoading(false)
  }

  async isUserFromUrlLoaded () {
    if (Object.keys(this.$route.query).length > 0 && this.$route.query.user_id) {
      const userService = new UserService([])
      const user = {
        id: this.$route.query.user_id
      }
      const usr: BaseUser = await userService.getUserData(user.id)
      this.emailSelected = usr.email
      this.usersInSelect.push(usr)
      this.selectedUser = usr
      return true
    } else {
      return false
    }
  }

  async timeSelected () {
    const gte = new Date()
    if (this.selectedUser) {
      await this.userInitiativesFilterDate(gte)
    } else {
      this.userInitiatives = []
      await this.groupStateFilterDate(gte)
    }
  }

  async takeSurvey () {
    const qnrData: Questionnaire[] = this.questionnaires.filter((qnr: Questionnaire) => {
      return qnr.slug === this.qnrSlug
    })

    await this.$router.push({ path: `edit/${qnrData[0].slug}?srcUserId=${this.currentSelectedUserId}` })
  }

  getQuestionnaireBySlug () {
    return this.questionnaires.find((qnr: Questionnaire) => {
      return qnr.slug === this.qnrSlug
    })
  }
}
</script>

<style lang="scss">

.scoreboard-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  .scoreboard-filter-container.v-card.v-sheet {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: var(--v-adminCard-base);
    margin-top: 120px;
    min-height: 130px;
    padding: 28px;
    z-index: 1;
  }
  .scoreboard-filter-date {
    padding: 6px;
    background: var(--v-filterBtn-base);
    border-radius: 5px;
    width: fit-content;

    button.v-btn.v-item--active.v-btn--active.v-btn--is-elevated.v-btn--has-bg.v-size--default {
      background: var(--v-activeColor-base);
      color: var(--v-adminActiveTextColor-base);
      border-radius: 5px;
      height: 40px;
    }
    .v-btn-toggle:not(.v-btn-toggle--group),
    button.v-btn.v-btn--is-elevated.v-btn--has-bg.v-size--default {
      background:  var(--v-filterBtn-base);
      color: var(--v-filterTextBtn-base);
      font-weight: 800;
      height: auto;
    }
  }

  .filter-date.v-item-group.v-btn-toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--v-filterBtn-base);
  }

  .scoreboard-filter-user {
    width: 45%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .v-input.users-list {
      .v-list {
        background: var(--v-adminInputBackground-base);
      }
      input,
      .v-list-item__title,
      i, .initiative-tag .v-list-item--active,
      div.v-application .primary--text {
        color: var(--v-adminInputText-base) !important;
      }
      .v-menu__content.theme--light.menuable__content__active {
        margin-top: 14px;
      }
      .v-select__selection.v-select__selection--comma {
        margin: 0 8px;
      }
      .v-text-field__details {
        display: none;
      }
      .v-input__slot.white {
        margin: 0;
      }
    }
  }

  .v-input.questionnaire-list,
  .take-survey {
    width: 100%;
  }

  p.user-list-title {
    margin: 0;
    color: var(--v-adminTitleText-base);
    font-size: 18px;
    font-weight: 600;
    width: 15%;
  }
  .scoreboard-body {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 1200px;
    .scoreboard-aside{
      width: 34%;
    }

    .scoreboard-aside,
    .scoreboard-content {
      background: none;
      height: fit-content;
      box-shadow: none !important;
    }

    .scoreboard-content-empty {
      background: var(--v-cardTextColor-base) !important;
      height: fit-content;
    }

    .user-empty {
      background: var(--v-adminListCard-base);
    }

    .user-empty .v-card__text {
      font-size: 18px;
      color: #fff;
      text-align: center;
    }
  }
  @media (max-width: 1263px) {

    .scoreboard-filter-container.v-card.v-sheet {
      flex-direction: column;
    }

    p.user-list-title {
      width: 100%;
      text-align: start;
      margin-bottom: 14px;
    }

    .scoreboard-filter-user {
      width: 100%;
      margin: 0 0 22px 0;
    }

    .scoreboard-filter-date {
      width: fit-content;
    }
  }

  @media (max-width: 1024px) {
    .scoreboard-aside, .scoreboard-content {
      width: 100% !important;
      margin-bottom: 16px;
    }
    .scoreboard-body {
      flex-direction: column-reverse;
      width: 100%;
    }
  }

  @media (max-width: 570px) {
    .scoreboard-filter-container.v-card.v-sheet {
      margin-top: 145px;
    }

    .filter-date.v-item-group.v-btn-toggle {
      justify-content: center;
      flex-wrap: wrap;
    }
    .scoreboard-filter-user.me-4 {
      margin: 0 0 16px 0 !important;
    }
  }
}
</style>
