<template lang="pug">
  v-card.initiatives-container-list-state.shadow-card
    v-card-title.px-8.py-10.pa-sm-10.ps-sm-15
      p.action-initiative-list {{ $t('ActionInitiative.actionInitiative') }}
        | {{ totals.executionName }}
      p.action-initiative-list-title {{ $t('ActionInitiative.Select.actionInitiativeSubtitle') }}
      div.filter-initiatives(v-if="!isSimpleUI")
        div.filter-container
          span.filter-text.me-4 {{ $t('ActionInitiative.Select.score') }}
          v-select.filter-select-score.me-6(
            :items="score"
            item-text="label"
            item-value="id"
            background-color="cardBackground"
            solo
            dense
            :label="$t('ActionInitiative.Select.score')"
            attach=".filter-select-score"
            v-model="filterScore"
            @change="clickFilterScore()"
          )
        div.filter-container
          span.filter-text.me-4 {{ $t('ActionInitiative.Select.status') }}
          v-select.filter-select-status.me-6(
            :items="state"
            item-text="label"
            item-value="id"
            background-color="cardBackground"
            solo
            dense
            :label="$t('ActionInitiative.Select.status')"
            attach=".filter-select-status"
            v-model="filterStatus"
            @change="clickFilterStatus()"
          )
        v-switch.filter-switch(
          v-model="filterFlagState"
          inset
          :label="$t('ActionInitiative.Select.flag')"
          @change="clickFilterInitiatives()"
        )
    v-card-text.px-8.px-sm-16.pb-10(v-if="initiatives.length > 0")
      p(v-if="initiativeCardDesc") {{ initiativeCardDesc }}
      div
        v-list.list-initiatives.pb-0(flat, subheader, three-line)
          v-list-item-group(v-model="settings", multiple)
            template(v-for="initiative in initiatives")
              v-list-item.initiative-card-state.mb-8(:key="initiative.id", :ripple="false")
                .initiative-card-container.px-8.py-6
                  v-row(v-if="isSimpleUI")
                    v-col.col-12.col-md-4.d-flex.justify-center.align-center
                      circular-progress(
                        :size="100"
                        :display-percentage-icon="displayIconProgress"
                        :width="2"
                        :value="calculatePercentageScore(initiative)"
                        textColor="colorTab"
                        :percentage="false"
                      )
                    v-col.col-12.col-md-8
                      span {{ levelIndicator(initiative).desc }}
                  v-list-item-content
                    v-list-item-title
                      .initiative-card-header
                        p.initiative-title.me-4 {{ initiative.initiative.title }}
                        v-progress-linear.me-2(
                          v-if="!isSimpleUI"
                          :value="calculatePercentageScore(initiative)"
                          :color="levelIndicator(initiative).color"
                          active
                          height="15"
                        )
                          strong {{ levelIndicator(initiative).label }}
                      v-btn-toggle.initiative-card-header-flag(v-if="!isSimpleUI")
                        v-btn(
                          @click.stop="flagInitiative(initiative)"
                          :class="(initiative.is_flagged === false) ? 'flag-progress' : 'flagged'"
                        )
                          v-icon.flag-active(v-if="initiative.is_flagged === true" color="white") mdi-flag-variant
                          v-icon.flag-img(v-else color="grey lighten-2") mdi-flag-variant
                    p.caption(v-if="isCombinedMissing(initiative)") {{ $t('ActionInitiative.combinedMissing') }}
                    span.initiative-card-description {{ initiative.initiative.description }}
                    .initiative-state.mt-4(v-if="!isSimpleUI")
                      v-select.status-select(
                        :items="statuses"
                        :placeholder="label(initiative.state)"
                        item-text="label"
                        item-value="value"
                        solo
                        dense
                        :class="`ini-${ initiative.id }`"
                        :attach="`.ini-${initiative.id}`"
                        @change="changeInitiativeProgress(initiative, $event)")
                    .events(v-if="getConfig.services_widget === '1'")
                      courseticket-event-list(
                        :tag="initiative.initiative.tag_slug"
                        hide-filters="true"
                        per-page-limit="2"
                      )
                      .d-flex.justify-end
                        v-btn(
                          color="primary"
                          large
                          text
                          :href="getTagUrl(initiative)"
                        ) {{ $t('ActionInitiative.seeMore') }}
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { Getter } from 'vuex-class'
import {
  IN_PROGRESS,
  COMPLETED,
  NOT_STARTED,
  ALL_OPTIONS,
  LOW_STATUS,
  MED_STATUS,
  ADVANCE_STATUS,
  HIGH_STATUS
} from '@/services/constants'
import InitiativesUser from '../../../../assets/interfaces/InitiativesUser'
import CircularProgress from '../../../BaseComponents/CircularProgress.vue'
import levelHelper from '../../../../lib/util/levelHelper'
import LevelIndicator from '../../../../assets/interfaces/LevelIndicator'
import { Questionnaire } from '../../../../store/modules/questionnaire/types'
import { TranslateResult } from 'vue-i18n'

declare let window: any
@Component({
  components: { CircularProgress }
})
export default class ActionInitiativesListReport extends Vue {
  @Prop({ required: true }) initiatives!: InitiativesUser[]
  @Prop({ required: true }) filterFlag: any
  @Prop({ required: true }) stateStatus: any
  @Prop({ required: true }) stateScore: any
  @Prop({ required: true }) totals: any
  @Prop({ default: false }) questionnaire!: Questionnaire
  @Prop({ default: false }) isSimpleUI!: boolean

  @Getter('config/getConfig') getConfig: any
  @Getter('user/isBuyer') isBuyer!: boolean
  @Getter('user/isConsultant') isConsultant!: boolean

  private settings = []
  private statuses = [
    { label: this.$t('inProgress'), value: IN_PROGRESS.label },
    { label: this.$t('completed'), value: COMPLETED.label }
  ]

  private filterFlagState = false
  private filterStatus = ''
  private filterScore = ''
  private score = [
    { label: this.$t('all'), id: ALL_OPTIONS },
    { label: this.$t('low'), id: LOW_STATUS },
    { label: this.$t('medium'), id: MED_STATUS },
    { label: this.$t('advance'), id: ADVANCE_STATUS },
    { label: this.$t('high'), id: HIGH_STATUS }
  ]

  private state = [
    { label: this.$t('all'), id: 0 },
    { label: this.$t('notStarted'), id: NOT_STARTED.id },
    { label: this.$t('inProgress'), id: IN_PROGRESS.id },
    { label: this.$t('completed'), id: COMPLETED.id }
  ]

  get displayIconProgress (): boolean {
    return this.getConfig.has_icon_progress === '1'
  }

  get initiativeCardDesc (): TranslateResult {
    let desc: TranslateResult = ''
    if (this.isConsultant) {
      desc = this.$t('ActionInitiative.consultantDesc')
    } else if (this.isBuyer && this.isCombinedQuestionnaire) {
      desc = this.$t('ActionInitiative.buyerCombinedDesc')
    }
    return desc
  }

  get isCombinedQuestionnaire (): boolean {
    return !!this.questionnaire?.related_questionnaire_id
  }

  created () {
    this.filterFlagState = this.filterFlag
    this.filterStatus = this.stateStatus
    this.filterScore = this.stateScore
  }

  @Watch('initiatives')
  loadWidgetConfig () {
    window.ctWidget = {
      baseUri: 'https://' + window.location.host,
      lang: this.$i18n.locale
    }
  }

  clickFilterInitiatives () {
    this.$emit('clickFilter', this.filterFlagState)
  }

  clickFilterStatus () {
    this.$emit('clickFilterStatus', this.filterStatus)
  }

  clickFilterScore () {
    this.$emit('clickFilterScore', this.filterScore)
  }

  changeInitiativeProgress (initiative: InitiativesUser, progressState: string) {
    initiative.state = progressState
    this.$emit('progressChanged', initiative)
  }

  flagInitiative (initiative: InitiativesUser) {
    initiative.is_flagged = !initiative.is_flagged
    this.$emit('clickFlag', initiative)
  }

  getTagUrl (initiative: any) {
    if (initiative.initiative.tag_slug) {
      return '/' + this.$i18n.locale + '/t/' + initiative.initiative.tag_slug
    }
    return undefined
  }

  isCombinedMissing (initiative: InitiativesUser): boolean {
    if (!this.questionnaire?.related_questionnaire_id) {
      return false
    }
    return initiative.combined_amount === 1
  }

  levelIndicator (initiative: InitiativesUser): LevelIndicator {
    const value = this.calculatePercentageScore(initiative)
    return levelHelper(this, value, this.questionnaire)
  }

  calculatePercentageScore (initiative: InitiativesUser): number { // return 10 for lowest values to print in progress linear
    if (initiative.max_score > 0) {
      return (initiative.score / initiative.max_score) * 100
    } else {
      return 0
    }
  }

  label (state: string) {
    switch (state) {
      case IN_PROGRESS.label:
        return this.$t('inProgress')
      case COMPLETED.label:
        return this.$t('completed')
      default:
        return this.$t('ActionInitiative.Select.initiativeState')
    }
  }
}
</script>
<style lang="scss">

.v-list-item--active:hover::before, .v-list-item--active::before {
  opacity: 0;
}

.v-list-item.v-list-item--highlighted::before {
  opacity: 0;
}

.v-list-item__content {
  color: var(--v-generalText-base);
}

.initiatives-container-list-state {
  background: var(--v-cardBackground-base) !important;
  width: 63%;

  .list-initiatives {
    background: var(--v-cardBackground-base) !important;
  }

  .initiatives-title.v-card.v-sheet{
    width: 34%;
  }

  .v-input.status-select.v-select {
    max-width: 200px;
  }

  .v-select__selections input, .v-select__selections input::placeholder {
    font-size: 18px;
    color: var(--v-generalText-base);
  }

  .status-select.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    box-shadow: none;
  }

  .status-select .v-icon.notranslate.mdi.mdi-menu-down.theme--light {
    color: var(--v-borderState-base);
  }

  .status-select .v-input__slot {
    background: var(--v-cardBackground-base) !important;
    border: solid var(--v-borderState-base) thin;
  }

  .v-list-item__content {
    overflow: visible;
  }

  .status-select .v-select__selections {
    color: var(--v-borderState-base);
  }

  .v-menu__content.menuable__content__active > div > div,
  .v-menu__content > div > div {
    min-height: fit-content !important;
    border: none !important;
    padding: 8px 8px !important;
  }

  .status-select .v-icon.notranslate.mdi.mdi-menu-down.theme--light.primary--text {
    color: var(--v-borderState-base) !important;
  }

  .v-list-item.v-list-item--highlighted::before {
    opacity: 0;
  }

  .v-list-item--active, div.v-application .primary--text {
    color: #000 !important;
    caret-color: #000 !important;
  }

  .initiative-state .v-list {
    background: var(--v-cardBackground-base) !important;
    color: var(--v-generalText-base);
  }

  .initiative-card-state {
    cursor: default;
  }

  .filter-select-score,
  .filter-select-status {
    max-width: 230px;
  }

  .filter-select-score .v-list,
  .filter-select-status .v-list {
    background: var(--v-cardBackground-base);
    color: var(--v-generalText-base);
  }

  .flagged i.v-icon.notranslate.mdi.mdi-flag-variant.white--text {
    color: #fff !important;
  }
}

@media (max-width: 838px) {
  .initiatives-container-list-state {
    width: 100%;

    .initiative-state {
      text-align: center;
    }
  }
}
</style>
