<template lang="pug">
  div.action-initiative-aside-container
    v-card.initiatives-aside.shadow-card.pa-6
      v-card-title.functions-title.px-4.py-0
        v-btn.mx-4(text, @click="showAll") {{ $t("ActionInitiative.showAllFunctions") }}
      v-divider.ma-2.mx-4
      v-card-text.pt-0
        div(
          v-for="(category, index) in functionTitle"
          v-if="showCategory(category)"
          :key="index"
        )
          v-divider.my-2(v-if="index > 0")
          v-btn.function-title-container(
            icon
            @click="show(index)"
          )
            div.function-title-action
              v-icon.function-title.me-2(color="linkBackground") {{ (setShow(index)) ? "mdi-minus-circle" : "mdi-plus-circle" }}
              span.function-title {{ setCategories(category) }}
            CircularProgress.initiatives-progress.me-2(
              v-if="!isSimpleUI"
              :size="33" :width="2"
              :display-percentage-icon="displayIconProgress"
              :value="categoriesValue(category, index)"
              textColor="colorTab"
              :percentage="false"
            )
          v-expand-transition
            div(v-show="showField[index]")
              v-list.functions-list
                v-list-item-group.initiatives-tags-list(v-model="selectedItem[index]"
                  color="primary"
                  @change="showInitiatives(category, $event)"
                  :class="`${category}`"
                )
                  v-list-item(
                    v-for="(item, i) in functionsList[category]"
                    v-if="hasInitiatives(category, i)"
                    :key="i"
                  )
                    v-list-item-content()
                      v-list-item-title.category-name.ps-4 {{ item.display_name }}
                    v-list-item-icon.ma-2.ms-4(disabled)
                      CircularProgress.initiatives-progress(
                        v-if="!isSimpleUI"
                        :size="33"
                        :display-percentage-icon="displayIconProgress"
                        :width="2"
                        :value="categoryValue(category, index, i)"
                        textColor="colorTab"
                        :percentage="false"
                      )
    v-btn.mt-6.activeTextColor--text(
      v-if="showRetakeBtn"
      block
      color="colorTab"
      @click="retakeSurvey"
    ) {{ retakeLabel }}
      v-icon.ms-2(small) mdi-undo-variant
    .report-tab.my-6(v-if="listFilter")
      v-btn.activeTextColor--text(
        block
        color="primary"
        :loading="exportLoading"
        x-large
        @click="exportData"
      ) {{ $t("ActionInitiative.Select.exportActionInitiatives") }}
        v-icon.ms-2(small) mdi-export-variant
      v-btn.mt-6.activeTextColor--text(
        v-if="showBookAppointmentBtn"
        block
        color="primary"
        x-large
        href="https://www.etermin.net/wbstraining/serviceid/378645"
      ) {{ $t('ActionInitiative.bookAppointment') }}
    v-btn.my-6.activeTextColor--text(
      v-else
      block
      color="primary"
      x-large
      @click="checkReport"
    ) {{ $t("ActionInitiative.Select.checkReport") }}
      v-icon.ms-2(small) mdi-text-box-search-outline
</template>
<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import CircularProgress from '@/components/BaseComponents/CircularProgress.vue'
import {
  ADVANCE_STATUS,
  ALL_OPTIONS,
  COMPLETED,
  HIGH_STATUS,
  IN_PROGRESS,
  LOW_STATUS,
  MED_STATUS,
  THUMBS_PDF,
  XAPI
} from '@/services/constants'
import moment from 'moment'
import UserService from '@/services/userService'
import FieldsMap from '../../../../assets/interfaces/FieldsMap'
import { User } from '../../../../store/modules/user/types'
import { Questionnaire, Tag } from '../../../../store/modules/questionnaire/types'
import InitiativesUser from '../../../../assets/interfaces/InitiativesUser'
import BaseUser from '../../../../assets/interfaces/BaseUser'
import levelHelper from '../../../../lib/util/levelHelper'
import LevelIndicator from '../../../../assets/interfaces/LevelIndicator'
import PdfExportField from '../../../../assets/interfaces/PdfExportField'
import PdfExportInitiative from '../../../../assets/interfaces/PdfExportInitiative'
import Category from '../../../../assets/interfaces/Category'
import XApiTrackingService from '../../../../services/xApiTrackingService'
import { TranslateResult } from 'vue-i18n'
import Submission from '../../../../assets/interfaces/Submission'

@Component({
  components: {
    CircularProgress
  }
})
export default class ActionInitiativeAside extends Vue {
  @Prop({ required: true }) listInitiatives!: InitiativesUser[]
  @Prop({ required: true }) filterScore: any
  @Prop({ required: true }) filterStatus: any
  @Prop({ required: true }) filterFlag: any
  @Prop({ default: false }) isSimpleUI!: boolean
  @Prop({ required: true }) listFilter!: boolean

  @Action('setDemoStep') setDemoStep!: (step: number) => void
  @Action('questionnaire/registerNeedsTrack') registerNeedsTrack: any

  @Getter('questionnaire/getTagsByFunction') getTagsByFunction!: (fieldSlug: string) => Tag[][]
  @Getter('questionnaire/getFieldsMap') getFieldsMap!: FieldsMap | any
  @Getter('user/getUser') getUser!: User
  @Getter('user/isBuyer') isBuyer!: boolean
  @Getter('user/isConsultant') isConsultant!: boolean
  @Getter('user/isManager') isManager!: boolean
  @Getter('config/getConfig') getConfig: any
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire
  @Getter('questionnaire/getNeedsTrack') getNeedsTrack!: Questionnaire
  @Getter('user/getUserQuestionnaires') getUserQuestionnaires!: Questionnaire[]
  @Getter('user/getCurrentSubmission') getCurrentSubmission!: (route: any) => Submission | undefined

  private selectedItem: any[] = []
  private showField: any[] = []
  private functionTitle: string[] = []
  private functionsList: any[] = []
  private avgCategory: any[] = []
  private avgCategories: any[] = []
  private userData: any = {}
  private fields: any = []
  private initiatives: InitiativesUser[] = []
  private tagsInitiatives: any[] = []
  private exportLoading: boolean = false

  get currentSubmission (): Submission | undefined {
    return this.getCurrentSubmission(this.$route)
  }

  get displayIconProgress (): boolean {
    return this.getConfig.has_icon_progress === '1'
  }

  get isKiraEmployerQnr (): boolean {
    return this.getQuestionnaire.user_fields_component === 'user-fields-kira-employer'
  }

  get retakeLabel (): TranslateResult {
    if (this.isKiraEmployerQnr) {
      return this.$t('Questionnaire.retakeSurveySubmission')
    }
    return this.$t('Questionnaire.retakeSurvey')
  }

  get showBookAppointmentBtn (): boolean {
    return this.isSimpleUI && this.isBuyer && !this.isKiraEmployerQnr
  }

  get showRetakeBtn (): boolean {
    const isSingleSubmit = this.getQuestionnaire.single_submit
    return !this.isManagerOrConsultant && !isSingleSubmit
  }

  @Watch('listInitiatives')
  @Watch('getFieldsMap')
  listInitiativesChanged (newVal: any) {
    this.initCategoryData()
  }

  async created () {
    await this.initCategoryData()
    const userService = new UserService([])
    const usr: BaseUser = await userService.getUserData(this.getUser.id)
    this.userData = usr
    this.getQuestionnaire.fields.forEach((tabs: any, index: number) => {
      this.showField.push((index === 0))
    })
  }

  buildFields (): PdfExportField[] {
    const pdfFields: PdfExportField[] = [
      {
        title: this.getQuestionnaire?.level_3_title || '',
        badge: 'https://d1dwcvwxyxvs12.cloudfront.net/s/img/thumbs/thumb_up_green.png',
        description: this.getQuestionnaire?.level_3 || '',
        rows: this.getGroupedInitiatives(ADVANCE_STATUS)
      },
      {
        title: this.getQuestionnaire?.level_4_title || '',
        badge: 'https://d1dwcvwxyxvs12.cloudfront.net/s/img/thumbs/thumb_down_blue.png',
        description: this.getQuestionnaire?.level_4 || '',
        rows: this.getGroupedInitiatives(HIGH_STATUS)
      },
      {
        title: this.getQuestionnaire?.level_1_title || '',
        badge: 'https://d1dwcvwxyxvs12.cloudfront.net/s/img/thumbs/thumb_down_red.png',
        description: this.getQuestionnaire?.level_1 || '',
        rows: this.getGroupedInitiatives(LOW_STATUS)
      },
      {
        title: this.getQuestionnaire?.level_2_title || '',
        badge: 'https://d1dwcvwxyxvs12.cloudfront.net/s/img/thumbs/thumb_right_yellow.png',
        description: this.getQuestionnaire?.level_2 || '',
        rows: this.getGroupedInitiatives(MED_STATUS)
      }
    ]
    return pdfFields.filter((group: PdfExportField) => {
      return group.rows.length
    })
  }

  getGroupedInitiatives (status: number): PdfExportInitiative[] {
    const filteredInitiatives = this.listInitiatives.filter((initiative: InitiativesUser) => {
      const score = this.calculatePercentageScore(initiative)
      return levelHelper(this, score).status === status
    })
    return filteredInitiatives.map((initiative: InitiativesUser) => {
      const subtitle = this.isCombinedMissing(initiative)
        ? this.$t('ActionInitiative.combinedMissing')
        : ''
      return {
        title: initiative.initiative.title,
        subtitle,
        p: initiative.initiative.description
      }
    })
  }

  async initCategoryData () { // sets the values of the initiatives obtained from the survey
    this.functionTitle = []
    this.selectedItem = []
    this.getQuestionnaire.fields.forEach((tab: any) => {
      this.functionTitle.push(tab.slug)
    })

    this.functionTitle.forEach((title: string, index: number) => {
      if (title && index === 0) this.selectedItem.push(index)
      else this.selectedItem.push(null)
    })

    this.avgCategory = []
    this.avgCategories = []

    this.functionsList = this.getFieldsMap
    const tagsInitiatives: any[] = []
    let percentages = 0
    let percentagesCategory: any[] = []
    let count = 0

    Object.keys(this.getFieldsMap).forEach((title: string) => {
      tagsInitiatives.push(this.getTagsByFunction(title))
    })

    tagsInitiatives.forEach((tagInitiative: any) => {
      tagInitiative.forEach((tag: any) => {
        tag.forEach((tagItem: any) => {
          this.listInitiatives.forEach((initiative: InitiativesUser) => {
            if (initiative.initiative !== null && initiative.initiative.tags_list[0] === tagItem.tag) {
              if (initiative.max_score > 0) {
                percentages += (initiative.score / initiative.max_score)
              }
              count++
            }
          })
        })
        if (count > 0) {
          percentagesCategory.push((percentages / count))
          percentages = 0
        } else {
          percentagesCategory.push(0)
        }
        count = 0
      })

      if (percentagesCategory.length > 0) {
        this.avgCategories.push(Math.round(
          (percentagesCategory.reduce((a, b) => a + b, 0) / tagInitiative.length) * 100
        ))
      } else {
        this.avgCategories.push(0)
      }

      percentagesCategory.forEach((value, index) => {
        percentagesCategory[index] = Math.round(value * 100)
      })
      this.avgCategory.push(percentagesCategory)
      percentagesCategory = []
    })
    this.showInitiatives(this.getQuestionnaire.fields[0].slug, 0)
    this.trackInitiatives()
  }

  isCombinedMissing (initiative: InitiativesUser): boolean {
    if (!this.getQuestionnaire?.related_questionnaire_id) {
      return false
    }
    return initiative.combined_amount === 1
  }

  showInitiatives (category: string, tag: any) {
    if (!isNaN(tag)) {
      if (this.listFilter) {
        this.selectedItemCheck(category)
        this.$emit('showInitiativesFilter', { category: category, tag: tag })
      } else {
        this.selectedItemCheck(category)
        this.$emit('showInitiatives', { category: category, tag: tag })
      }
      this.setTotals(category, tag)
    } else {
      if (this.listFilter) {
        this.selectedItemCheck(category)
        this.$emit('showInitiativesFilter', null)
      } else {
        this.selectedItemCheck(category)
        this.$emit('showInitiatives', null)
      }
    }
  }

  setCategories (category: string) {
    let nameCategory
    this.getQuestionnaire.fields.forEach((tab: any) => {
      if (tab.slug === category) {
        nameCategory = tab.title
      }
    })

    return nameCategory
  }

  trackInitiatives () {
    const xapiService = new XApiTrackingService()
    const hasDemoModals = this.getConfig.demo_wizard
    if (this.getNeedsTrack && hasDemoModals) {
      this.functionTitle.forEach((fieldName: any, indexField: number) => {
        this.functionsList[fieldName].forEach((category: Category, indexCategory: number) => {
          const statement = this.buildStatement(category.display_name, this.categoryValue(fieldName, indexField, indexCategory))
          xapiService.postStatement(statement, this.getUser.id, this.getUser.token.access_token)
          this.registerNeedsTrack(true)
        })
      })
      setTimeout(() => {
        this.setDemoStep(2)
      }, 2000)
    }
  }

  buildStatement (assessmentName: string, score: number) {
    const baseUrl = window.location.origin
    return {
      actor: {
        account: {
          homePage: baseUrl,
          name: this.getUser.id + ''
        },
        objectType: 'Agent'
      },
      object: {
        definition: {
          type: XAPI.objects.types.assessments,
          name: {
            'en-US': assessmentName
          }
        },
        id: baseUrl + '/assessment/' + assessmentName
      },
      verb: XAPI.verbs.scored,
      result: {
        score: {
          raw: score,
          min: 0,
          max: 100
        }
      }
    }
  }

  categoriesValue (category: string, index: number) {
    const categoryIndex = Object.keys(this.functionsList).indexOf(category)
    return this.avgCategories[categoryIndex]
  }

  categoryValue (category: string, index: number, i: number) {
    const categoryIndex = Object.keys(this.functionsList).indexOf(category)
    return this.avgCategory[categoryIndex][i]
  }

  get isManagerOrConsultant (): boolean {
    return (this.isManager || this.isConsultant) && !!this.$route.query?.srcUserId
  }

  setTotals (category: string, tag: any) {
    let totalExecutionName: string = ''
    let totalDiagnosticName: any
    const categoryIndex = Object.keys(this.functionsList).indexOf(category)
    Object.keys(this.functionsList).forEach((functionItem: any) => {
      if (functionItem === category) {
        totalExecutionName = this.functionsList[functionItem][tag].display_name
        totalDiagnosticName = this.setCategories(functionItem)
      }
    })
    this.selectedItem.forEach((item: any, index: any) => {
      if (item !== null) {
        this.$emit('setTotals', {
          totalExecution: this.avgCategory[categoryIndex][item],
          totalExecutionName: totalExecutionName,
          totalDiagnostic: this.avgCategories[categoryIndex],
          totalDiagnosticName: totalDiagnosticName
        })
      }
    })
  }

  selectedItemCheck (category: string) {
    this.functionTitle.forEach((title: string, index: number) => {
      if (category !== title) {
        this.selectedItem[index] = null
      }
    })
  }

  setShow (index: number) {
    return this.showField[index]
  }

  show (index: number) {
    this.showField = this.showField.map((field: boolean, i: number) => {
      if (i === index) {
        field = !field
      }
      return field
    })
  }

  showAll () {
    this.showField = this.showField.map((field: boolean, i: number) => {
      field = true
      return field
    })
  }

  generateThumbsPdf () {
    const meta = {
      title: this.getQuestionnaire.pdf_title || this.$t('pdf.meta.title'),
      layout: THUMBS_PDF
    }
    const reportP = []
    if (this.getQuestionnaire.pdf_description_1) {
      reportP.push(this.getQuestionnaire.pdf_description_1)
    } else {
      reportP.push(this.$t('pdf.report_p.report_1'))
      reportP.push(this.$t('pdf.report_p.report_2'))
      reportP.push(' ')
      reportP.push(this.$t('pdf.report_p.report_3'))
    }
    reportP.push({
      img: [this.getQuestionnaire.pdf_image, 20, '', '', 130]
    })
    if (this.getQuestionnaire.pdf_description_2) {
      reportP.push(this.getQuestionnaire.pdf_description_2)
    } else {
      reportP.push(' ')
      reportP.push(this.$t('pdf.report_p.report_4'))
    }
    const title = this.getQuestionnaire.pdf_title || ''
    const sections = {
      cover_page: {
        title: title,
        subtitle: this.$t('pdf.report_title.subtitle'),
        img: 'https://d1dwcvwxyxvs12.cloudfront.net/cms/img/1-cms_pic-1668521417.jpeg',
        copyright: '© Delmaine Donson – iStock.com'
      },
      report_p_title: '',
      report_p_subtitle: '',
      report_p: reportP,
      fields: this.buildFields()
    }
    if (title) {
      sections.report_p_title = title
      sections.report_p_subtitle = '' + this.$t('pdf.report_title.subtitle')
    }
    if (this.currentSubmission) {
      sections.report_p_subtitle = ''
      const position = this.currentSubmission.job_position || this.currentSubmission.occupation
      const location = this.currentSubmission.location
      const date = moment(this.currentSubmission.created).locale(this.$route.params.locale)
        .format('DD MMMM YYYY HH:mm')
      if (position) {
        sections.report_p_subtitle = position
      }
      if (location) {
        if (position) {
          sections.report_p_subtitle += `, ${location}`
        } else {
          sections.report_p_subtitle += `${location}`
        }
      }
      sections.report_p_subtitle += ` (${date})`
    }
    return {
      meta,
      sections
    }
  }

  async generatePDFData () {
    const title = this.getQuestionnaire.pdf_title || this.$t('pdf.meta.title')
    const general = (Number(this.getConfig.hide_project_fields) === 1)
      ? []
      : [
          this.$t('pdf.general.title'),
        `${this.$t('Form.numberEmployees')}: ${(this.userData.employees_amount) ? this.userData.employees_amount : ''}`,
        `${this.$t('Form.totalProjects')}: ${(this.userData.total_projects) ? this.userData.total_projects : ''}`,
        `${this.$t('Form.ongoingProjects')}: ${(this.userData.ongoing_projects) ? this.userData.ongoing_projects : ''}`
        ]
    const payload = {
      header: [
        this.$t('pdf.header.title'),
        this.$t('pdf.header.subtitle'),
        `${moment().locale(this.$route.params.locale).format('DD MMMM YYYY')} ${this.$t('pdf.header.footer')}`
      ],
      meta: {
        title: title
      },
      sections: {
        report_title: [
          title,
          (this.userData.company) ? this.userData.company : '',
          `${moment().locale(this.$route.params.locale).format('DD MMMM YYYY')} ${this.$t('pdf.header.footer')}`
        ],
        report_p: [
          this.$t('pdf.report_p.report_1'),
          this.$t('pdf.report_p.report_2'),
          this.$t('pdf.report_p.report_3')
        ],
        general,
        overall: this.overallData(),
        fields: await this.fieldsTitleData()
      },
      footer: {
        page: this.$t('pdf.footer.page')
      }
    }
    return payload
  }

  overallData () {
    let categoryIndex
    const overall = [this.$t('pdf.overall.title')]
    this.getQuestionnaire.fields.forEach((field: any) => {
      categoryIndex = Object.keys(this.functionsList).indexOf(field.slug)
      overall.push(this.$t('pdf.overall.function', { fn: field.title, num: this.avgCategories[categoryIndex] }))
    })
    return overall
  }

  async fieldsTitleData () {
    let title: any = []
    let categoryIndex: number
    const titles: any = []
    this.getQuestionnaire.fields.forEach((field: any) => {
      categoryIndex = Object.keys(this.functionsList).indexOf(field.slug)
      Object.keys(this.functionsList).forEach((functionItem: any) => {
        this.functionsList[functionItem].forEach((item: any, indexItem: number) => {
          if (functionItem === field.slug) {
            title.push(`${field.title} ${this.$t('pdf.field.title.functions')}`)
            title.push(item.display_name)
            title.push(this.$t('pdf.field.title.result'))
            title.push(this.$t('pdf.field.title.percent', { n: this.avgCategory[categoryIndex][indexItem] }))
            titles.push(title)
          }
          title = []
        })
      })
    })

    await this.fieldRowsData(titles)
    return this.fields
  }

  fieldRowsData (titles: any) {
    titles.forEach((title: any) => {
      Object.keys(this.functionsList).forEach((functionItem: any) => {
        this.functionsList[functionItem].forEach(async (categoryItem: any, i: number) => {
          if (title[1] === categoryItem.display_name) {
            const rows = await this.fieldTextData(functionItem, i)
            this.fields.push(this.fieldData(title, rows))
          }
        })
      })
    })
  }

  async fieldTextData (functionItem: string, i: number) {
    const initiatives: any = []
    this.tagsInitiatives = await this.getTagsByFunction(functionItem)[i]
    this.filterInitiatives()
    this.initiatives.forEach((initiative: InitiativesUser) => {
      initiatives.push({
        text: [
          this.levelOptions(initiative).label,
          initiative.initiative.title,
          initiative.initiative.description
        ],
        firstColor: this.levelOptions(initiative).arrayColor,
        textColor: [[255, 255, 255], [0, 0, 0], [0, 0, 0]]
      })
    })
    return initiatives
  }

  filterInitiatives () {
    this.checkFlag()
    this.checkStatus()
    this.checkScore()
  }

  checkFlag () {
    this.initiatives = []
    if (this.filterFlag) {
      this.tagsInitiatives.forEach((tag: any) => {
        this.listInitiatives.forEach((initiative: InitiativesUser) => {
          if (tag.tag === initiative.initiative.tags_list[0] && initiative.is_flagged === true && initiative.state !== null) {
            initiative.initiative.tag_slug = tag.tag
            this.initiatives.push(initiative)
          }
        })
      })
    } else {
      this.tagsInitiatives.forEach((tag: any) => {
        this.listInitiatives.forEach((initiative: InitiativesUser) => {
          if (tag.tag === initiative.initiative.tags_list[0] && initiative.state !== null) {
            initiative.initiative.tag_slug = tag.tag
            this.initiatives.push(initiative)
          }
        })
      })
    }
  }

  checkStatus () {
    if (this.filterStatus && this.filterStatus !== ALL_OPTIONS) {
      this.initiatives = this.initiatives.filter((initiative: InitiativesUser) => {
        return (initiative.state === IN_PROGRESS.label && this.filterStatus === IN_PROGRESS.id) ||
          (initiative.state === COMPLETED.label && this.filterStatus === COMPLETED.id)
      })
    } else {
      this.initiatives = this.initiatives.filter((initiative: InitiativesUser) => {
        return initiative
      })
    }
  }

  checkScore () {
    let score
    const initiativeScore: any = []
    if (this.filterFlag) {
      if (this.filterScore && this.filterScore !== 0) {
        this.initiatives.forEach((initiative: InitiativesUser) => {
          score = this.levelOptions(initiative).status
          if (score === this.filterScore) {
            initiativeScore.push(initiative)
          }
        })
        this.initiatives = initiativeScore
      } else if (this.filterScore === ALL_OPTIONS && this.filterStatus === ALL_OPTIONS) {
        this.initiatives = []
        this.tagsInitiatives.forEach((tag: any) => {
          this.listInitiatives.forEach((initiative: InitiativesUser) => {
            if (tag.tag === initiative.initiative.tags_list[0] && initiative.is_flagged === true) {
              initiative.initiative.tag_slug = tag.tag
              this.initiatives.push(initiative)
            }
          })
        })
      }
    } else {
      if (this.filterScore && this.filterScore !== ALL_OPTIONS) {
        this.initiatives.forEach((initiative: InitiativesUser) => {
          score = this.levelOptions(initiative).status
          if (score === this.filterScore) {
            initiativeScore.push(initiative)
          }
        })
        this.initiatives = initiativeScore
      }
    }
  }

  levelOptions (initiative: InitiativesUser): LevelIndicator {
    const value = this.calculatePercentageScore(initiative)
    return levelHelper(this, value)
  }

  calculatePercentageScore (initiative: InitiativesUser): number { // return 10 for lowest values to print in progress linear
    if (initiative.max_score > 0) {
      return (initiative.score / initiative.max_score) * 100
    } else {
      return 0
    }
  }

  fieldData (title: any, rows: any) {
    const header = [
      this.$t('pdf.field.header.efficiency'),
      this.$t('pdf.field.header.component'),
      this.$t('pdf.field.header.supportive')
    ]

    const field: any = {
      title: title,
      header: header,
      rows: rows
    }
    return field
  }

  checkReport () {
    this.$emit('changeTab', 'action-initiative-select')
  }

  async exportData () {
    this.exportLoading = true
    let data
    if (this.getConfig.pdf_layout === THUMBS_PDF) {
      data = this.generateThumbsPdf()
    } else {
      data = await this.generatePDFData()
    }
    const userService = new UserService([])
    const response = await userService.getGenericPdf(JSON.stringify(data))
    this.exportLoading = false
    this.downloadFile(new Blob([response.data], { type: 'application/pdf' }), 'report.pdf')
    this.initiatives = []
    this.fields = []
  }

  downloadFile (blob: any, fileName: any) {
    const link = document.createElement('a')

    link.href = URL.createObjectURL(blob)
    link.download = fileName

    document.body.append(link)
    link.click()
    link.remove()

    setTimeout(() => URL.revokeObjectURL(link.href), 2000)
  }

  async retakeSurvey () {
    let qnrSlug: string = ''
    const originalQnrId: number | undefined = this.getQuestionnaire.related_questionnaire_id
    if (originalQnrId) {
      const questionnaire: Questionnaire | undefined = this.getUserQuestionnaires.find((qnr: Questionnaire) => {
        return qnr.id === originalQnrId
      })
      if (questionnaire) {
        qnrSlug = questionnaire.slug
      }
    }
    if (qnrSlug) {
      await this.$router.push(`${qnrSlug}?retakeQnr=true`)
    } else {
      this.$emit('retakeSurvey')
    }
  }

  hasInitiatives (category: string, index: number): boolean {
    const tagsInitiatives: Tag[] = this.getTagsByFunction(category)[index]
    let hasInitiatives: boolean = false
    tagsInitiatives.forEach((tag: Tag) => {
      const hasResults: boolean = !!this.listInitiatives.find((initiative: InitiativesUser) => {
        return tag.tag === initiative.initiative.tags_list[0]
      })
      if (hasResults) {
        hasInitiatives = true
        return true
      }
    })
    return hasInitiatives
  }

  showCategory (category: any): boolean {
    let showCategory: boolean = false
    this.functionsList[category].forEach((categoryObject: any, index: number) => {
      if (this.hasInitiatives(category, index)) {
        showCategory = true
        return true
      }
    })
    return showCategory
  }
}
</script>

<style lang="scss">
.action-initiative-aside-container {
  width: 34%;

  .initiatives-aside {
    background: var(--v-cardBackground-base);
  }

  .initiatives-aside .v-list {
    background: var(--v-cardBackground-base);
  }

  .category-name {
    white-space: break-spaces;
  }

  .v-progress-circular.circular-progress.initiatives-progress p {
    color: var(--v-generalText-base);
  }
}
@media (max-width: 838px) {
  .action-initiative-aside-container {
    width: 100%;
  }
}
</style>
