<template lang="pug">
  v-card.initiatives-container.shadow-card
    v-card-title.px-8.py-10.pa-sm-10.ps-sm-15
      p.action-initiative-list {{ $t('ActionInitiative.actionInitiative') }}
        | {{ totals.executionName }}
      p.action-initiative-list-title {{ $t('ActionInitiative.actionInitiativeSubtitle') }}
    v-card-text.px-8.px-sm-16.pb-10(v-if="initiativeList.length > 0")
      div
        v-list.list-initiatives.pb-0(two-line)
          v-list-item-group(v-model="initiativeSelected", multiple, :ripple="false")
            template(v-for="(initiative,index) in initiativeList")
              v-list-item.initiative-card.mb-8.px-8(
                :disabled.stop="isDisabled(initiative)",
                color="white" :key="initiative.id",
                :class="(levelOptions(initiative).label === $t('low')) ? 'flag-active' : ''",
                active-class="flag-active"
                :ripple="false")
                template(v-slot:default="{ active }")
                  .initiative-container(@click="setInitiativeState(active, initiative)")
                    v-list-item-action.mt-7
                      v-icon(v-if="!active", color="grey lighten-1") mdi-checkbox-blank-circle-outline
                      v-icon(v-else, color="activeColor") mdi-checkbox-marked-circle
                    v-list-item-content.py-6
                      v-list-item-title
                        .initiative-card-header
                          div.initiative-title-container
                            p.initiative-title.me-4 {{ initiative.initiative.title }}
                            p.initiative-state.me-4(
                              v-if="initiative.state !== null"
                            ) {{ `${$t('ActionInitiative.Select.status')} : `}} {{ initiativeState(initiative.state) }}

                          v-progress-linear.me-2(
                            :value="calculatePercentageScore(initiative)"
                            :color="levelOptions(initiative).color"
                            active
                            height="15"
                          )
                            strong {{ levelOptions(initiative).label }}
                        v-btn-toggle.initiative-card-header-flag
                          v-btn(
                            @click.stop="flagInitiative(initiative)"
                            :class="(initiative.is_flagged) ? 'flagged' : 'flag-progress'"
                          )
                            v-icon.flag-img(v-if="initiative.is_flagged" color="white") mdi-flag-variant
                            v-icon.flag-img(v-else color="grey lighten-2") mdi-flag-variant
                      span.initiative-card-description {{ initiative.initiative.description }}
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import { User } from '../../../../store/modules/user/types'
import { Questionnaire } from '../../../../store/modules/questionnaire/types'
import { COMPLETED, IN_PROGRESS, NOT_STARTED } from '../../../../services/constants'
import InitiativesUser from '../../../../assets/interfaces/InitiativesUser'
import levelHelper from '../../../../lib/util/levelHelper'
import LevelIndicator from '../../../../assets/interfaces/LevelIndicator'

@Component
export default class ActionInitiativesListMngt extends Vue {
  @Prop({ required: true }) initiatives!: InitiativesUser[]
  @Prop({ required: true }) totals: any
  @Getter('user/getUser') getUser!: User
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire

  @Action('user/registerStateInitiative') registerStateInitiative!: (payload: any) => Promise<void>

  private initiativeSelected: number[] = []
  @Watch('initiatives')
  checkLow () {
    this.isLow()
  }

  created () {
    this.isLow()
  }

  get initiativeList (): InitiativesUser[] {
    return this.initiatives
  }

  isLow () {
    let value
    this.initiativeSelected = []
    this.initiativeList.forEach((initiative: InitiativesUser, index: number) => {
      if (initiative.state !== null) {
        this.initiativeSelected.push(index)
      }
    })
  }

  isDisabled (initiative: any) {
    return initiative.state !== null && initiative.state !== NOT_STARTED.label
  }

  levelOptions (initiative: InitiativesUser): LevelIndicator {
    const value = this.calculatePercentageScore(initiative)
    return levelHelper(this, value)
  }

  calculatePercentageScore (initiative: InitiativesUser): number { // return 10 for lowest values to print in progress linear
    if (initiative.max_score > 0) {
      return (initiative.score / initiative.max_score) * 100
    } else {
      return 0
    }
  }

  initiativeState (state: string): string | undefined {
    switch (state) {
      case NOT_STARTED.label:
        return this.$t('notStarted').toString()
      case IN_PROGRESS.label:
        return this.$t('inProgress').toString()
      case COMPLETED.label:
        return this.$t('completed').toString()
    }
  }

  setInitiativeState (isChecked: boolean, initiative: InitiativesUser) { // Wait back fixed change state
    if (isChecked) {
      initiative.state = null
    } else {
      initiative.state = NOT_STARTED.label
    }

    const payload = {
      userId: this.getUser.id,
      questionnaireId: this.getQuestionnaire.id,
      initiativeId: initiative.id,
      state: {
        state: initiative.state
      }
    }

    this.registerStateInitiative(payload)
  }

  flagInitiative (initiative: InitiativesUser) {
    initiative.is_flagged = !initiative.is_flagged
    this.$emit('clickFlag', initiative)
  }
}
</script>
<style lang="scss">
.initiative-card-header-flag.v-item-group.v-btn-toggle {
  background: none;
}
.initiative-card-header-flag button {
  pointer-events: initial;
}
button.v-btn.v-item--active.v-btn--active.v-btn--is-elevated.flagged {
  color: transparent;
}
.initiatives-container {
  background: var(--v-cardBackground-base) !important;
}
.list-initiatives {
  background: var(--v-cardBackground-base) !important;
}

.initiatives-container {
  width: 63%;
}

.initiative-container {
  display: flex;
  width: 100%;
  .v-list-item__action {
    align-self: flex-start;
    margin: 12px 0;
  }
}

.initiative-title-container {
  p.initiative-state {
    font-size: 14px;
  }
}
.list-initiatives .flag-active.v-list-item--active{
  border: solid thin var(--v-activeColor-base) !important;
  border-radius: 4px;
}

@media (max-width: 838px) {
  .initiative-container {
    display: initial;
  }
  .initiative-title-container {
    text-align: center;
  }
}
</style>
