<template lang="pug">
  div.action-container
    v-card.action-execution.shadow-card(width="50%" color="cardBackground" )
      v-card-text.execution-content
        CircularProgress.execution-percentage.me-4(size="65" width="5" :value="totals.execution" textColor="cardTextColor" :percentage="true")
        div
          p.execution-subtitle {{ $t("ActionInitiative.totalFunctionScore") }}
          p.execution-title {{ totals.executionName }}
    v-card.ms-4.action-diagnostic.shadow-card(width="50%")
      v-card-text.darkCardTextColor--text.diagnostic-content
        CircularProgress.diagnostic-percentage.me-4(size="65" width="5" :value="totals.diagnostic" textColor="darkCardTextColor" :percentage="true")
        span.diagnostic-title {{`${$t("ActionInitiative.total")} ${totals.diagnosticName} ${$t("ActionInitiative.score")}` }}
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import CircularProgress from '@/components/BaseComponents/CircularProgress.vue'

@Component({
  components: {
    CircularProgress
  }
})
export default class ActionInitiativeScores extends Vue {
  @Prop() listFilter: any
  @Prop({ required: true }) totals: any
}
</script>

<style lang="scss">
.action-diagnostic.v-card {
  display: flex;
  align-items: center;
}

.execution-percentage p{
  font-size: 20px;
  font-weight: 600;
  color: var(--v-cardTextColor-base);
}

.diagnostic-percentage p{
  font-size: 20px;
  font-weight: 600;
  color: var(--v-darkCardTextColor-base);
}

.action-execution.v-card {
  display: flex;
  align-items: center;
}
</style>
