<template lang="pug">
  v-card.initiatives-title.me-3(v-if="listFilter" style="box-shadow: none; background: none")
    v-card-text.action-title.pa-0
        v-avatar.me-4(color="activeColor" size="56")
          v-icon(color="activeTextColor" ) mdi-chart-donut
        p.section-title.font-color.ms-4 {{ getQuestionnaire.fields.length + 3 }}.
        p.action-header-text.font-color {{ $t("ActionInitiative.Select.sectionTitle") }}
        v-select(
          v-if="getUserQuestionnaires"
          v-model="currentQuestionnaire"
          :items="getUserQuestionnaires"
          item-text="title"
          item-value="slug"
          :label="$t('Navbar.questionnaires')"
          solo
          dense
          hide-details
          class="select-Questionnaire mt-6"
          @change="questionnaireSelected"
        )
  v-card.initiatives-title.me-4(v-else style="box-shadow: none; background: none")
    v-card-text.action-title.pa-0
      v-avatar.me-4(color="activeColor" size="56")
        v-icon(color="activeTextColor") mdi-sign-direction
      p.section-title.font-color.ms-4 {{ getQuestionnaire.fields.length + 2 }}.
      p.action-header-text.font-color {{ $t("ActionInitiative.sectionTitle") }}
      v-select(
        v-if="getUserQuestionnaires"
        v-model="currentQuestionnaire"
        :items="getUserQuestionnaires"
        item-text="title"
        item-value="slug"
        :label="$t('Navbar.questionnaires')"
        solo
        dense
        hide-details
        class="select-Questionnaire mt-6"
        @change="questionnaireSelected"
      )

</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { Getter } from 'vuex-class'
import { Questionnaire } from '../../../../store/modules/questionnaire/types'

@Component
export default class ActionInitiativeTitle extends Vue {
  @Prop({ required: true }) listFilter: any

  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire
  @Getter('user/getUserQuestionnaires') getUserQuestionnaires!: Questionnaire[]
  private currentQuestionnaire = ''

  created () {
    if (this.$route.params.slug) {
      this.currentQuestionnaire = this.$route.params.slug
    }
  }

  questionnaireSelected (slug: string) {
    this.$router.push(`${slug}`)
  }
}
</script>

<style lang="scss" >
.v-input.select-Questionnaire {
  width: 100% !important;
}
</style>
