<template lang="pug">
  v-card.colorTab(v-if="submissionsArray.length > 1")
    v-card-text
      v-select(
        v-model="currentSubmission"
        :items="submissionsArray"
        :item-text="itemText"
        item-value="id"
        return-object
        outlined
        hide-details
        background-color="white"
        @change="questionnaireSelected"
      )

</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import { Questionnaire } from '../../../../store/modules/questionnaire/types'
import Submission from '../../../../assets/interfaces/Submission'
import moment from 'moment'
import UserJobPosition from '../../../../assets/interfaces/UserJobPosition'

@Component
export default class UserQuestionnaireSelector extends Vue {
  @Getter('user/getUserQuestionnaires') getUserQuestionnaires!: Questionnaire[]
  @Getter('user/getUserSubmissions') getUserSubmissions!: Submission[]
  @Getter('user/getCurrentSubmission') getCurrentSubmission!: (route: any) => Submission | undefined
  @Action('questionnaire/registerUserJobPosition') registerUserJobPosition!: (userJobPosition: UserJobPosition) => void

  private currentSubmission: Submission|null = null

  get submissionsArray (): Submission[] {
    return [...this.getUserSubmissions].reverse()
  }

  created () {
    this.currentSubmission = this.getCurrentSubmission(this.$route) || null
    if (this.currentSubmission) {
      const userJobPositionData: UserJobPosition = {
        home_office: this.currentSubmission.home_office,
        job_position: this.currentSubmission.job_position,
        location: this.currentSubmission.location,
        occupation: this.currentSubmission.occupation,
        working_times: this.currentSubmission.working_times
      }
      this.registerUserJobPosition(userJobPositionData)
    }
  }

  questionnaireSelected (submission: Submission) {
    let route = `${submission.questionnaire.slug}?submission=${submission.id}`
    if (this.$route.query.srcUserId) {
      route += `&srcUserId=${this.$route.query.srcUserId}`
    }
    this.$router.push(route)
  }

  itemText (item: Submission): string {
    const date = moment(item.created).locale(this.$route.params.locale).format('DD.MM.YYYY')
    let text = item.job_position || item.occupation || item.questionnaire.title
    if (item.location) {
      text += ` - ${item.location}`
    }
    text += ` (${date})`
    return text
  }
}
</script>
