<template lang="pug">
  .questions-list
    v-card
      v-card-title.questions-header-container
        p.questions-list-title {{ $t("Questions.questions") }}
        v-text-field.question-list-search(
          v-model="search"
          prepend-inner-icon="mdi-magnify"
          :label="$t('search')"
          single-line
          hide-details
          outlined
          color="activeColor"
        )
      v-data-table(
        :headers="headers"
        :items="questions"
        :search="search"
        :items-per-page="25"
        :footer-props="{ 'itemsPerPageOptions': [25, 50, 100, -1]}"
      )
        template(v-slot:[`item.tag`]="{ item }")
          p.ma-0 {{ `${ (item.display_name) ? item.display_name : '' }`}}
          p.ma-0 {{ `(${item.tag})`}}
        template(v-slot:[`item.actions`]="{ item }")
          v-icon.me-2(small @click="editItem(item)") mdi-pencil
          v-icon.me-2(small @click="editAnswers(item.id)") mdi-eye-outline
          v-icon.me-2(small @click="deleteItemConfirm(item)") mdi-delete
      v-dialog(v-model="dialog" width="800")
        v-card
          v-card-title.text-h5.white--text.colorTab.questions-card-title
            h2(v-if="!newQ") {{ $t("Questions.editQuestion") }}
            h2(v-else) {{ $t("Questions.newQuestion") }}
          v-card-text.edit-question-text
            .quetion-field
              p.label-edit-question {{ $t("Questionnaire.question") }}
              html-editor.mb-6(
                v-model="currentQuestion"
                :label="$t('Questionnaire.question')"
                :height="100"
                resize="none"
                :is-mandatory="true"
              )
              v-expansion-panels.alternative-questions.mb-8
                v-expansion-panel
                  v-expansion-panel-header
                    span {{ $t('Questionnaire.alternativeQuestions') }}
                  v-expansion-panel-content
                    .html-alternative-questions
                      html-editor(
                        v-model="editedItem.alt1"
                        :height="100"
                        resize="none"
                      )
                      html-editor.mt-6(
                        v-model="editedItem.alt2"
                        :height="100"
                        resize="none"
                      )
              .quetion-position-field
                p.label-edit-question-position {{ $t("Questions.position") }}
                v-text-field(
                  v-model.number="currentPosition"
                  :label="$t('Questions.position')"
                  color="activeColor"
                  type="number"
                  outlined
                )
            .tag-field
              p.label-edit-tag {{ $t("Questions.tag") }}
              v-autocomplete.select-tag(
                v-model="currentTag"
                :items="categories"
                :label="$t('Questions.tag')"
                color="activeColor"
                outlined
                :rules="[rules.required]"
              )
          v-divider
          v-card-actions
            v-spacer
            v-btn(text, @click="dialog=false") {{ $t("cancel") }}
            v-btn.activeTextColor--text(color="activeColor" @click="save(); dialog = false" :disabled="error") {{ $t("save") }}
    v-dialog(v-model="dialogDelete" max-width="500px")
      v-card
        v-card-title.text-h5.white--text.colorTab.answers-card-title(color) {{ $t("confirmDelete") }}
        v-card-actions
          v-spacer
          v-btn(text @click="dialogDelete = false") {{ $t("cancel") }}
          v-btn.activeTextColor--text(color="activeColor" @click="dialogDelete = false; deleteItem()") {{ $t("ok") }}
          v-spacer
    v-snackbar(v-model="snackbar" content-class="white--text")
      p.mb-0(v-if="errorMsg") {{ $t('error') }}
      p.mb-0(v-else-if="newQ === true && deleted === false") {{ $t("Questions.questionCreated") }}
      p.mb-0(v-else-if="newQ === false && deleted === false") {{ $t("Questions.questionUpdated") }}
      p.mb-0(v-else-if="deleted") {{ $t("Questions.questionDeleted") }}
      template(v-slot:action="{ attrs }")
        v-btn.activeTextColor--text(color="activeColor" text v-bind="attrs" @click="snackbar = false") {{ $t("ok") }}

    v-btn.white--text.add-btn.me-5.mb-16(v-if="$vuetify.rtl" fab fixed bottom left color="darkgreen" @click="newQuestion()")
      v-icon mdi-plus
    v-btn.white--text.add-btn.me-5.mb-16(v-else fab fixed bottom right color="darkgreen" @click="newQuestion()")
      v-icon mdi-plus
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import Question from '@/assets/interfaces/Question'
import HtmlEditor from '../ct/HtmlEditor.vue'
import questionnaireTypes from '../../lib/data/questionnaire-types'
import { Questionnaire } from '../../store/modules/questionnaire/types'

@Component({
  components: { HtmlEditor }
})
export default class ListQuestions extends Vue {
  @Getter('admin/getQuestions') getQuestions: any
  @Getter('admin/getTagsByLanguage') getTagsByLanguage: any
  @Getter('admin/getTags') getTags: any
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire

  @Action('questionnaire/loadQuestionnaire') loadQuestionnaire!: (slug: string) => Promise<void>
  @Action('admin/loadQuestionnaireData') loadQuestionnaireData: any
  @Action('admin/loadTagsData') loadTagsData: any
  @Action('admin/addQuestion') addQuestionAction: any
  @Action('admin/updateQuestion') updateQuestionAction: any
  @Action('admin/deleteQuestion') deleteQuestionAction: any

  private errorMsg = false
  private search = ''
  private dialog = false
  private dialogDelete = false
  private deleted = false
  private error = true
  private snackbar = false
  private deleteQ = -1
  private newQ = false
  private questions : Question[] = []
  private categories : string[] = []
  private answers = [{}]
  private currentQuestion: string | null = ''
  private currentPosition: number = 0
  private currentTag: string = ''
  private editedItem = {
    id: 0,
    answers: {},
    question: '',
    alt1: '',
    alt2: '',
    tag: ''
  }

  private rules = {
    required: (v: any) => !!v || this.$t('inputRequired')
  }

  private headers = [
    {
      text: this.$t('Questions.questions'),
      align: 'start',
      sortable: true,
      width: '40%',
      value: 'question'
    },
    {
      text: this.$t('Questions.tag'),
      align: 'start',
      sortable: true,
      width: '40%',
      value: 'tag'
    },
    {
      text: '',
      width: '10%',
      value: 'actions',
      sortable: false
    }
  ]

  get hasHtmlAlternativeQuestions (): boolean {
    return this.getQuestionnaire?.type === questionnaireTypes.SLIDER_NAVIGATION
  }

  @Watch('currentQuestion')
  @Watch('currentTag')
  checkItem () {
    if (this.currentQuestion === '' || this.currentQuestion === null || this.currentTag === '') {
      this.error = true
    } else {
      this.error = false
    }
  }

  @Watch('$route')
  changeRoute () {
    this.categories = this.getTagsByLanguage(this.$route.params.locale)
  }

  @Watch('snackbar')
  changeSnackbar () {
    if (!this.snackbar) {
      this.errorMsg = false
    }
  }

  async created () {
    await this.loadQuestionData()
  }

  async loadQuestionData () {
    const slug: string = '' + this.$route.query.qnrSlug
    await this.loadQuestionnaire(slug)
    await this.loadQuestionnaireData()
    const questions = this.getQuestions.sort((a: Question, b: Question) => {
      if (b.position > a.position) {
        return 1
      } else if (b.position < a.position) {
        return -1
      } else {
        return (b.id > a.id) ? -1 : 1
      }
    })

    await this.loadTagsData()
    this.getTags.forEach((tags: any) => {
      if (tags.locale.includes(this.$route.params.locale)) {
        this.categories.push(tags.display_name)
        this.setTagName(questions, tags)
      }
    })
    this.questions = questions
  }

  setTagName (questions: Question[], tags: any) {
    questions.forEach((question: any, index: number) => {
      if (tags.tag === question.tag) {
        questions[index] = { ...question, display_name: tags.display_name }
      }
    })
  }

  editItem (item: any) {
    this.currentQuestion = item.question
    this.currentPosition = item.position
    this.currentTag = ''
    this.checkInitiativeTag(item.tag)
    this.newQ = false
    this.editedItem = item
    this.answers = item.answers
    this.dialog = true
  }

  editAnswers (id: any) {
    this.$router.push({ path: `answers/${id}?qnrSlug=${this.$route.query.qnrSlug}` })
  }

  deleteItem () {
    this.newQ = false
    this.deleteQuestionAction(this.deleteQ)
      .then(() => {
        this.loadQuestionData()
        this.deleted = true
      })
      .catch((err: any) => {
        console.log('Error deleting question', err)
        this.errorMsg = true
      })
      .finally(() => {
        this.snackbar = true
      })
  }

  deleteItemConfirm (item: any) {
    this.dialogDelete = true
    this.deleteQ = item.id
  }

  newQuestion () {
    this.currentQuestion = ''
    this.currentPosition = 0
    this.currentTag = ''
    this.newQ = true
    this.editedItem = {
      id: 0,
      answers: {},
      question: '',
      alt1: '',
      alt2: '',
      tag: ''
    }
    this.answers = [this.editedItem.answers]
    this.dialog = true
  }

  save () {
    this.setQuestionTag()
    if (this.newQ) {
      this.addQuestionAction({
        question: this.currentQuestion,
        alt1: this.editedItem.alt1,
        alt2: this.editedItem.alt2,
        answers: this.answers,
        position: this.currentPosition,
        tag: this.currentTag
      })
        .then(() => {
          this.loadQuestionData()
          this.deleted = false
        })
        .catch((err: any) => {
          console.log('Error saving new question', err)
          this.errorMsg = true
        })
        .finally(() => {
          this.snackbar = true
        })
    } else {
      this.updateQuestionAction({
        id: this.editedItem.id,
        data: {
          question: this.currentQuestion,
          alt1: this.editedItem.alt1,
          alt2: this.editedItem.alt2,
          position: this.currentPosition,
          answers: this.answers,
          tag: this.currentTag
        }
      })
        .then(() => {
          this.loadQuestionData()
          this.deleted = false
        })
        .catch((err: any) => {
          console.log('Error updating question', err)
          this.errorMsg = true
        })
        .finally(() => {
          this.snackbar = true
        })
    }
  }

  checkInitiativeTag (tag: string) {
    this.getTags.forEach((tags: any) => {
      if (tags.tag === tag && tags.locale.includes(this.$i18n.locale)) {
        this.currentTag = tags.display_name
      }
    })
  }

  setQuestionTag () {
    this.getTags.forEach((tags: any) => {
      if (tags.display_name === this.currentTag) {
        this.currentTag = tags.tag
      }
    })
  }
}
</script>

<style lang="scss">

p.label-edit-question,
p.label-edit-tag {
  width: 10%;
  font-size: 20px;
  font-weight: 400;
  color: var(--v-generalText-base);
}

p.label-edit-answer{
  width: auto;
  font-size: 20px;
  font-weight: 400;
  color: var(--v-generalText-base);
}

.v-card__text.edit-question-text{
  padding: 40px 35px !important;
}

.answers-container{
  display: flex;
  justify-content: space-around;
}
.answers {
  width: 70%;
}

.weight{
  width: 15%;
}

.questions-card-title{
  justify-content: center;
}

.select-tag .v-list-item.primary--text.v-list-item--active.v-list-item--link {
  color: var(--v-activeColor-base) !important;
  caret-color: var(--v-activeColor-base) !important;
}
.questions-list {
  padding: 36px 16px !important;
  position: relative;
  z-index: 10;
  .questions-list-title {
    width: 40%;
  }
}
</style>
