<template lang="pug">
  .answers-list
    v-btn.mb-4( color="darkgreen" class="white--text" @click="questions")
      v-icon.me-2 mdi-arrow-left-circle
      | {{ $t("Questions.questions") }}
    v-card
      v-card-title.answers-header-container
        p.answers-list-title {{ $t("Answers.answers") }}
        v-text-field.answers-list-search(
          v-model="search"
          prepend-inner-icon="mdi-magnify"
          :label="$t('search')"
          single-line="single-line"
          hide-details="hide-details"
          outlined="outlined"
          color="activeColor"
        )
      v-data-table(
        :headers="headers"
        :items="answers"
        :search="search"
        :items-per-page="25"
        :footer-props="{ 'itemsPerPageOptions': [25, 50, 100, -1]}"
      )
        template(v-slot:[`item.actions`]="{ item }")
          v-icon.me-2(small="small" @click="editItem(item)") mdi-pencil
          v-icon.me-2(small="small" @click="dialogDelete = true; deleteItemConfirm(item)") mdi-delete
      v-dialog(v-model="dialog" width="800")
        v-card
          v-card-title.text-h5.white--text.white--text.colorTab.answers-card-title
            h2(v-if="!newAns") {{ $t("Answers.editAnswer") }}
            h2(v-else) {{ $t("Answers.newAnswer") }}
          v-card-text.edit-answer-text
            .answers-field
              p.label-edit-answer {{ $t("Answers.answers") }}
              .answers-container
                .answers
                  v-text-field(
                    :key="editedItem.id"
                    :value="editedItem.answer"
                    :label="$t('Answer')"
                    color="activeColor"
                    outlined
                    :rules="[rules.required]"
                    v-model="editedItem.answer")
                .weight
                  v-text-field(:key="editedItem.id"
                    :value="editedItem.weight"
                    :label="$t('Answers.weight')"
                    color="activeColor"
                    outlined
                    type="number"
                    :rules="[rules.required]"
                    v-model="editedItem.weight")
          v-divider
          v-card-actions
            v-spacer
            v-btn.activeTextColor--text(color="activeColor" @click="save(); dialog = false" :disabled="error") {{ $t("save") }}
            v-btn(text="text" @click="dialog=false") {{ $t("cancel") }}
      v-btn.white--text(v-if="!$vuetify.rtl" fab="fab" absolute="absolute" bottom="bottom" right="right" color="darkgreen" @click="newAnswer()")
        v-icon mdi-plus
      v-btn.white--text(v-else fab="fab" absolute="absolute" bottom="bottom" left="left" color="darkgreen" @click="newAnswer()")
        v-icon mdi-plus
    v-dialog(v-model="dialogDelete" max-width="500px")
      v-card
        v-card-title.text-h5.white--text.colorTab.answers-card-title(color) {{ $t("confirmDelete") }}
        v-card-actions
          v-spacer
          v-btn.activeTextColor--text(color="activeColor" @click="dialogDelete = false; deleteItem(deleteAns)") {{ $t("ok") }}
          v-btn(text @click="dialogDelete = false") {{ $t("cancel") }}
          v-spacer
    v-snackbar(v-model="snackbar" content-class="white--text")
      p.mb-0(v-if="errorMsg") {{ $t('error') }}
      p.mb-0(v-else-if="newAns === true && deleted === false") {{ $t("Answers.answerCreated") }}
      p.mb-0(v-else-if="newAns === false && deleted === false") {{ $t("Answers.answerUpdated") }}
      p.mb-0(v-else-if="deleted") {{ $t("Answers.answerDeleted") }}
      template(v-slot:action="{ attrs }")
        v-btn.activeTextColor--text(color="activeColor" text v-bind="attrs" @click="snackbar = false") {{ $t("ok") }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'

@Component
export default class ListAnswers extends Vue {
  @Getter('admin/getAnswers') getAnswers: any

  @Action('admin/loadAnswersData') loadAnswersData: any
  @Action('admin/addAnswer') addAnswerAction: any
  @Action('admin/deleteAnswer') deleteAnswerAction: any
  @Action('admin/updateAnswer') updateAnswerAction: any

  private errorMsg = false
  private search = ''
  private dialog = false
  private dialogDelete = false
  private deleted = false
  private snackbar = false
  private error = true
  private newAns = false
  private deleteAns = -1
  private editedItem = {
    id: 0,
    answer: '',
    weight: 0
  }

  private headers = [
    {
      text: 'Answer',
      align: 'start',
      sortable: true,
      width: '60%',
      value: 'answer'
    },
    {
      text: 'Weight',
      align: 'start',
      sortable: true,
      width: '20%',
      value: 'weight'
    },
    {
      text: '',
      width: '10%',
      value: 'actions',
      sortable: false
    }
  ]

  beforeRouteEnter (to: any, from: any, next: any) {
    next((vm: any) => {
      vm.prevRoute = from
    })
  }

  private rules = {
    required: (v: any) => !!v || this.$t('inputRequired')
  }

  private answers : any[] = []

  @Watch('editedItem.answer')
  @Watch('editedItem.weight')
  checkItem () {
    if (this.editedItem.answer === '' || this.editedItem.weight.toString() === '') {
      this.error = true
    } else {
      this.error = false
    }
  }

  @Watch('snackbar')
  changeSnackbar () {
    if (!this.snackbar) {
      this.errorMsg = false
    }
  }

  mounted () {
    this.loadAnswers()
  }

  loadAnswers () {
    this.loadAnswersData(this.$route.params.id).then(() => {
      this.answers = this.getAnswers
    })
  }

  questions () {
    this.$router.push({ name: 'questions', query: { qnrSlug: this.$route.query.qnrSlug } })
  }

  editItem (item: any) {
    this.dialog = true
    this.newAns = false
    this.editedItem = Object.assign({}, item)
    this.deleteAns = -1
  }

  deleteItem (answerId: any) {
    this.deleteAnswerAction({
      idQuestion: this.$route.params.id,
      idAnswer: answerId
    })
      .then(() => {
        this.loadAnswers()
        this.deleted = true
      })
      .catch((err: any) => {
        console.log('Error deleting answer', err)
        this.errorMsg = true
      })
      .finally(() => {
        this.snackbar = true
      })
  }

  deleteItemConfirm (item: any) {
    this.deleteAns = item.id
  }

  newAnswer () {
    this.dialog = true
    this.newAns = true
    this.editedItem = {
      id: 0,
      answer: '',
      weight: 0
    }
  }

  save () {
    if (this.newAns) {
      this.addAnswerAction({
        idQuestion: this.$route.params.id,
        data: {
          answer: this.editedItem.answer,
          weight: this.editedItem.weight
        }
      })
        .then(() => {
          this.loadAnswers()
          this.deleted = false
        })
        .catch((err: any) => {
          console.log('Error saving new answer', err)
          this.errorMsg = true
        })
        .finally(() => {
          this.snackbar = true
        })
    } else {
      this.updateAnswerAction({
        idQuestion: this.$route.params.id,
        idAnswer: this.editedItem.id,
        data: {
          answer: this.editedItem.answer,
          weight: this.editedItem.weight
        }
      })
        .then(() => {
          this.loadAnswers()
          this.deleted = false
        })
        .catch((err: any) => {
          console.log('Error updating answer', err)
          this.errorMsg = true
        })
        .finally(() => {
          this.snackbar = true
        })
    }
  }
}
</script>

<style lang="scss">
p.label-edit-answer {
  width: 10%;
  font-size: 20px;
  font-weight: 400;
  color: var(--v-generalText-base);
}

p.label-edit-answer{
  width: auto;
  font-size: 20px;
  font-weight: 400;
  color: var(--v-generalText-base);
}

.v-card__text.edit-answer-text{
  padding: 40px 35px !important;
}

.answers-container{
  display: flex;
  justify-content: space-around;
}
.answers {
  width: 70%;
}

.weight{
  width: 15%;
}

.answers-card-title{
  justify-content: center;
}

.select-tag .v-list-item.primary--text.v-list-item--active.v-list-item--link {
  color: var(--v-activeColor-base) !important;
  caret-color: var(--v-activeColor-base) !important;
}
.answers-list {
  padding: 36px 16px !important;
  position: relative;
  z-index: 10;
  .answers-list-title {
    width: 40%;
  }
}
</style>
