<template lang="pug">
  v-footer(
    bottom
    padless
    height="57"
    class="app-footer"
  )
    v-container
      v-row(no-gutters)
        v-col(
          cols="12"
          md="8"
        )
          .footer-text(v-html="$t('footerText')")
        v-col(
          cols="12"
          md="4"
        )
          div.text-end
            span.footer-lang.me-3(
              v-if="langs.length > 1"
              v-for="lang in langs"
              @click="() => { changeLanguage(lang) }"
            ) {{ lang }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { SUB_PATH, PLATFORM } from '@/services/constants'
import { Getter } from 'vuex-class'

@Component({
  components: { }
})
export default class AppFooter extends Vue {
  @Getter('config/getConfig') getConfig: any

  private langs: string[] = []

  @Watch('getConfig.locales')
  loadLanguages () {
    this.setLanguages()
  }

  beforeMount () {
    this.setLanguages()
  }

  setLanguages () {
    if (this.getConfig.locales) this.langs = this.getConfig.locales.split(',')
  }

  changeLanguage (lang: String) {
    let route = (this.$route.name) ? this.$route.name : ''

    if (route === 'home') route = ''
    console.log('xx SUB_PATH', SUB_PATH, process.env.VUE_APP_SUBPATH, PLATFORM)
    if (lang.toString() !== this.$route.params.locale) {
      window.location.href = `/${SUB_PATH}/${lang}/${route}`
    }
  }
}
</script>

<style lang="scss" scoped>
  .footer-text {
    color: var(--v-footerTextColor-base);
    font-size: 10px;
    line-height: 16px;
  }

  .footer-lang {
    color: var(--v-footerTextColor-base);
    font-size: 15px;
    cursor: pointer;
  }

  footer.v-footer.app-footer {
    background: var(--v-footerBackground-base) !important;
  }
</style>
