<template lang="pug">
  v-app-bar(absolute color="transparent" prominent fade-img-on-scroll style="box-shadow: none")
    v-img(
      v-if="largeNav()"
      class="header-second"
      :src="getConfig.app_bar_bg"
      :gradient="`to top right, ${bg}80, ${bg}`"
      )
    .nav.container
        .nav-up
          div.nav-list-container(v-if="isVisible")
            div.nav-list(v-if="logged")
              a.nav-title(:href="homePageUrl") {{ $t('Navbar.home') }}
              router-link.nav-title(
                v-if="isConsultant"
                :to="{ name: 'consultant-list', params: { locale: this.$i18n.locale }}"
              ) {{ $t('Navbar.scoreboard') }}
              a.nav-title.me-8(v-if="getUser.id === 0" :href="checkLogin()")
                span {{ $t('Login.login') }}
              a.nav-title(v-else :href="checkLogout()")
                span {{ $t('Navbar.logout') }}
              v-menu(v-if="isAdmin() || isSME()" offset-y left content-class="user-dropdown-card")
                template(v-slot:activator="{ on, attrs }")
                    v-icon(aria-hidden="false" v-bind="attrs" v-on="on" color="headerTextColor" ) mdi-account-circle-outline
                v-card
                  v-card-title(class="user-dropdown")
                    v-icon.me-4(color="white" x-large) mdi-account-circle
                    span.user-nav-title.me-10 {{ getUser.email }}
                    v-btn(text fab small @click="menu = false")
                      v-icon(color="white" medium) mdi-close
                  v-card-text.pa-0
                    v-list-item(
                      v-if="isAdmin()"
                      :to="{ name: 'initiatives', params: { locale: this.$i18n.locale }}"
                    )
                      v-list-item-title.user-nav-title.pa-4
                        v-icon.me-4(medium) mdi-clipboard-check-outline
                        span.dropdown-menu {{ $t('Navbar.initiatives') }}
                    v-list-item(
                      v-if="isAdmin()"
                      :to="{ name: 'questionnaire', params: { locale: this.$i18n.locale }}"
                    )
                      v-list-item-title.user-nav-title.pa-4
                        v-icon.me-4(medium) mdi-clipboard-list-outline
                        span.dropdown-menu {{ $t('Navbar.questionnaires') }}
                    v-list-item(:to="{ name: 'scoreboard', params: { locale: this.$i18n.locale }}")
                      v-list-item-title.user-nav-title.pa-4
                        v-icon.me-4(medium) mdi-chart-box-outline
                        span.dropdown-menu {{ $t('Navbar.scoreboard') }}
                    v-list-item(:to="{ name: 'dashboard', params: { locale: this.$i18n.locale }}")
                      v-list-item-title.user-nav-title.pa-4
                        v-icon.me-4(medium) mdi-monitor-dashboard
                        span.dropdown-menu {{ $t('Navbar.dashboard') }}
                  v-divider
          v-spacer
          .nav-left
            v-app-bar-title.app-title-up.pa-0(width="auto")
              p.app-title {{ getConfig.app_title }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Action, State, Getter } from 'vuex-class'
import { locales } from '@/plugins/i18n/i18n'
import {
  SUB_PATH,
  GROUP_ADMIN,
  GROUP_SELLER
} from '@/services/constants'
import { User, UserState } from '@/store/modules/user/types'

@Component({
  components: {}
})
export default class AppHeader extends Vue {
  private isVisible = false
  private menu = false
  private logged = true
  private admin = false

  @Action('user/loadUserToken') loadUserToken: any
  @State('user') apiUser!: UserState
  @Getter('user/getUser') getUser!: User
  @Getter('user/isConsultant') isConsultant!: boolean
  @Getter('config/getConfig') getConfig: any

  get homePageUrl (): string {
    return window.location.origin + '/' + this.$i18n.locale
  }

  @Watch('$route')
  changeRoute (newVal: string) {
    this.isVisible = this.$route.name !== 'signup'
    this.logged = this.$route.name !== 'login'
    this.admin = (this.getUser.group_id === GROUP_ADMIN)
    const locale = locales.filter((e) => e.code === this.$route.params.locale)
    if (locale.length === 1) {
      this.$vuetify.rtl = locale[0].rtl
      this.$i18n.locale = locale[0].code
    }
    if (this.getUser.id === 0) {
      this.loadUserToken()
    }
  }

  beforeMount () {
    this.isVisible = this.$route.name !== 'signup'
    this.logged = this.$route.name !== 'login'
    this.admin = (this.getUser.group_id === GROUP_ADMIN)
  }

  login () {
    this.$router.push({ name: 'login', params: { locale: this.$i18n.locale } })
  }

  get bg () {
    return this.$vuetify.theme.currentTheme.headerGradient
  }

  checkLogin () {
    if (process.env.NODE_ENV === 'development') {
      return `/${SUB_PATH}/${this.$i18n.locale}/login`
    } else {
      return `/${this.$i18n.locale}/login`
    }
  }

  checkLogout () {
    return `${window.location.origin}/${this.$i18n.locale}/logout`
  }

  isAdmin () {
    return this.getUser.id !== 0 && this.getUser.group_id === GROUP_ADMIN
  }

  isSME () {
    return this.getUser.group_id === GROUP_SELLER
  }

  largeNav () {
    if (this.$route.name !== 'home') {
      return true
    } else {
      return false
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  max-width: 1364px !important;
  margin-top: 25px;
}
.nav {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.dropdown-menu {
  color: var(--v-dropdownTextColor-base);
}

.nav-list-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.nav-up {
  display: flex;
  flex-direction: row-reverse;
  z-index: 10;
}

.nav-left {
    display: flex;
    flex-direction: row-reverse;
}

.app-title-up p {
  margin: 0;
}

.app-title {
  color: var(--v-headerTextColor-base);
}

.user-dropdown-card{
  min-width: fit-content !important;
  z-index: 10 !important;
}

.v-application a {
  font-size: 16px;
  line-height: 19px;
  color: var(--v-headerTextColor-base);
  text-decoration: none;
}
a.nav-title.router-link-exact-active.router-link-active {
  position: relative;
}
a.nav-title.router-link-exact-active.router-link-active:not([href="/account"])::after {
  content: "";
  position: absolute;
  bottom: -12px;
  height: 4px;
  background-color: var(--v-activeColor-base);
  left: 0;
  right: 0;
}

.btn-login {
  margin-left: 16px;
  margin-right: 16px;
}

.user-nav-title {
  font-size: 20px;
  font-weight: 400;
  color: var(--v-headerTextColor-base);
}

.user-dropdown {
  min-width: fit-content !important;
  background: var(--v-darkgreen-base);
}

@media (max-width: 835px) {
  .container {
    margin-top: 15px;
  }

  img.nav-logo {
    object-fit: contain;
    margin-bottom: 5px;
  }

  .user-dropdown-card {
    width: 100vw;
    left: 0 !important;
  }
  .v-menu__content {
    max-width: 100%;
  }
  .user-dropdown {
    justify-content: space-between;
  }

  .nav-views {
    text-align: center;
  }

  .app-title-up > div {
    font-size: 20px;
    width: auto !important;
    margin: 16px 0 0 0;
  }

  .app-title-up.v-toolbar__title.v-app-bar-title {
    align-self: flex-start !important;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .nav-up {
    flex-direction: column-reverse;
    align-items: center;
  }

  .spacer {
    display: none;
  }
}
</style>
