<template lang="pug">
  div.overlay
    v-progress-circular(
      :size="70"
      :width="5"
      color="loader"
      indeterminate
    )
</template>

<script>
import { Component, Vue } from 'vue-property-decorator'

@Component({
  components: { }
})
export default class AppLoader extends Vue { }
</script>

<style scoped>
  .overlay {
    background: rgba(0, 107, 105, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
