<template lang="pug">
  .gray.dashboard-home
      v-container.pa-0.container
        h3.dashboard-title.darkgreen--text.mt-14 {{ $t("Home.dashboard") }}
        .dashboard-item-section
          .dashboard-image
            v-img(src="../../assets/img/dashboard-home.svg")
          v-row.dashboard-item.mt-0
            .dashboard-item-right.col-4.text-center
              v-img.image-item(src="../../assets/img/actions-home.png")
              p.dashboard-item-title.darkgreen--text {{ $t("Home.actions") }}
              p.dashboard-item-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac auctor interdum.
              v-btn.read-more-btn(outlined="outlined", large="large") {{ $t("Home.read_more") }}
            .dashboard-item-center.col-4.text-center
              v-img.image-item(src="../../assets/img/analysis-home.png")
              p.dashboard-item-title.darkgreen--text {{ $t("Home.analysis") }}
              p.dashboard-item-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac auctor interdum.
              v-btn.read-more-btn(outlined="outlined", large="large") {{ $t("Home.read_more") }}
            .dashboard-item-left.col-4.text-center
              v-img.image-item(src="../../assets/img/diaganosis-home.png")
              p.dashboard-item-title.darkgreen--text {{ $t("Home.diaganosis_survey") }}
              p.dashboard-item-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac auctor interdum.
              v-btn.read-more-btn(outlined="outlined", large="large") {{ $t("Home.read_more") }}
</template>

<script>
export default {
  name: 'DashboardHome'
}
</script>

<style lang="scss" scoped>
.dashboard-home {
  padding: 4px 28px;
}

.container {
  max-width: 1364px;
  margin-bottom: 142px;

  .dashboard-title {
    font-family: Cairo;
    font-size: 32px;
    font-weight: 700;
    line-height: 59.97px;
  }

  .dashboard-item-section {
    max-width: 992px;
    margin: 0 auto;

    .dashboard-image {
      display: flex;
      justify-content: center;

      @media (max-width: 768px) {
        display: none;
      }

      v-img {
        width: 992px !important;
      }
    }

    .dashboard-item {
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-content: center;
      }

      .image-item {
        display: none;
        width: 276px;
        margin: 0 auto;

        @media (max-width: 768px) {
          display: block;
        }
      }

      .dashboard-item-left, .dashboard-item-center, .dashboard-item-right {
        padding: 40px 25px 0 25px;
        max-width: 500px;
        margin: 0 auto;
      }

      .dashboard-item-title {
        font-size: 28px;
        font-weight: 400;
        line-height: 33.6px;
      }

      .dashboard-item-description {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 32px;
      }

      .read-more-btn {
        font-size: 16px;
        font-weight: bold;
        line-height: 19.2px;
        padding: 16px 32px;
        width: 127px;
        height: 50px;
        letter-spacing: unset;
        text-transform: none;
      }
    }
  }
}
</style>
