<template lang="pug">
  .darkgreen.hero-home-bg(:class="{'hero-scale': !$vuetify.rtl}")
      v-container.container(:class="{'hero-scale': !$vuetify.rtl}")
        .hero-section
          h1.hero-title.white--text.text-start {{ $t("Home.title") }}
          v-btn.personality-btn.white--text.mt-6(color="activeColor" large="large") {{ $t("Home.personality") }}
</template>

<script>
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class HeroHome extends Vue {
}

</script>

<style lang="scss" scoped>

.hero-home-bg {
  background: url("../../assets/img/hero-home.svg") no-repeat;
  background-position-y: bottom;
  background-position-x: left;
  min-height: 705px;

  @media (max-width: 1250px) {
    background-position-x: -240px;
  }

  @media (max-width: 1024px) {
    background-position-x: -408px;
  }

  @media (max-width: 835px) {
    background-position-x: -480px;
  }

  @media (max-width: 768px) {
    min-height: 550px;
    background: none;
    display: flex;
    align-items: center;
  }
}

.hero-scale {
  transform: scaleX(-1);
}

.container {
  max-width: 1364px;
  padding-top: 150px;

  .hero-section {
    padding: 70px 28px;

    .hero-title {
      font-size: 48px;
      font-weight: 300;
      max-width: 489px;
      line-height: 75.02px;

      @media (max-width: 768px) {
        max-width: none;
        font-size: 40px;
      }
    }

    .personality-btn {
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
      height: 51px;
      padding: 16px 32px;
      box-shadow: none;
    }
  }
}
</style>
