<template lang="pug">
  .questionnaire-list
    v-card(v-if="questionnaires.length > 0")
      v-card-title.questionnaire-header-container
        p.questionnaire-list-title {{ $t('Questionnaire.questionnaires') }}
        v-text-field.questionnaire-list-search(
          v-model="search"
          prepend-inner-icon="mdi-magnify"
          :label="$t('search')"
          single-line
          hide-details
          outlined
          color="activeColor"
        )
      v-data-table(
        :headers="headers"
        :items="questionnaires"
        :search="search"
        :items-per-page="25"
        :footer-props="{ 'itemsPerPageOptions': [25, 50, 100, -1]}"
      )
        template(v-slot:[`item.actions`]="{ item }")
          v-icon.me-2(small="small" @click="editItem(item)") mdi-pencil
          v-icon.me-2(small="small" @click="showQuestions(item.slug)") mdi-eye
          v-icon.me-2(small="small" @click="deleteItemConfirm(item)") mdi-delete
      v-dialog(v-model="dialogDelete" max-width="500px")
        v-card
          v-card-title.text-h5.white--text.colorTab.answers-card-title(color) {{ $t("confirmDelete") }}
          v-card-actions
            v-spacer
            v-btn(text @click="dialogDelete = false") {{ $t("cancel") }}
            v-btn.activeTextColor--text(color="activeColor" @click="dialogDelete = false; deleteQuestionnaire()") {{ $t("ok") }}
            v-spacer
    .edit-add-dialog
      v-dialog(v-model="dialog" width="800")
        v-card
          v-card-title.text-h5.white--text.white--text.colorTab.questionnaire-card-title
            h2(v-if="!newQues") {{ $t("Questionnaire.editQuestionnaire") }}
            h2(v-else) {{ $t("Questionnaire.newQuestionnaire") }}
          v-card-text.edit-questionnaire-text
            .questionnaire-field
              p.label-edit-questionnaire {{ $t("Questionnaire.questionnaires") }}
              .questionnaire-container
                .questionnnaire-input
                  v-text-field(
                    v-model="editedItem.title"
                    :label="$t('Questionnaire.title')"
                    color="activeColor"
                    outlined
                    :rules="[rules.required]"
                    hide-details
                    )
                .questionnnaire-input
                  v-text-field(
                    v-model="editedItem.slug"
                    :label="$t('Questionnaire.slug')"
                    color="activeColor"
                    outlined
                    :rules="[rules.required]"
                    hide-details
                    )
                .questionnnaire-input
                  v-select(
                    v-model="editedItem.type"
                    :label="$t('Questionnaire.type.label')"
                    :items="optionsType"
                    color="activeColor"
                    item-color="activeColor"
                    background-color="white"
                    outlined
                    hide-details
                  )
                .questionnnaire-input
                  v-select.fields-input(
                    v-model="fields"
                    :label="$t('Navbar.fields')"
                    :items="listsField"
                    item-text="title"
                    item-value="id"
                    color="activeColor"
                    item-color="activeColor"
                    background-color="white"
                    outlined
                    multiple
                    hide-details
                  )

          v-divider
          v-card-actions
            v-spacer
            v-btn(text="text" @click="dialog=false") {{ $t("cancel") }}
            v-btn.activeTextColor--text(color="activeColor" @click="save(); dialog = false" :disabled="error") {{ $t("save") }}

    v-btn.white--text.add-btn.me-5.mb-16(
      :left="$vuetify.rtl"
      :right="!$vuetify.rtl"
      color="darkgreen"
      fab
      fixed
      bottom
      @click="newQuestionnaire"
    )
      v-icon mdi-plus
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import QuestionnaireService from '@/services/questionnaireService'
import { Action, Getter } from 'vuex-class'
import { Questionnaire } from '../../store/modules/questionnaire/types'
import Field from '../../assets/interfaces/Field'
import QuestionnaireTypes from '../../lib/data/questionnaire-types'

@Component
export default class ListQuestionnaire extends Vue {
  @Action('questionnaire/loadQuestionnaire') loadQuestionnaire!: (slug: string) => Promise<void>

  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire

  private search = ''
  private dialog = false
  private dialogDelete = false
  private error = true
  private newQues = false
  private questionnaires: Questionnaire[] = []
  private listsField: object[] = []
  private fields: number[] = []
  private editedItem = {
    id: 0,
    title: '',
    type: null,
    slug: '',
    fields: []
  }

  private questionnaireService = new QuestionnaireService()
  private rules = {
    required: (v: any) => !!v || this.$t('inputRequired')
  }

  private headers = [
    {
      text: this.$t('Questionnaire.title'),
      align: 'start',
      sortable: true,
      width: '40%',
      value: 'title'
    },
    {
      text: this.$t('Questionnaire.slug'),
      align: 'start',
      sortable: true,
      width: '40%',
      value: 'slug'
    },
    {
      text: '',
      width: '10%',
      value: 'actions',
      sortable: false
    }
  ]

  private optionsType: any[] = [
    {
      text: this.$t('Questionnaire.type.default'),
      value: null
    },
    {
      text: this.$t('Questionnaire.type.slider'),
      value: QuestionnaireTypes.SLIDER
    },
    {
      text: this.$t('Questionnaire.type.sliderNavigation'),
      value: QuestionnaireTypes.SLIDER_NAVIGATION
    }
  ]

  @Watch('editedItem.title')
  @Watch('editedItem.slug')
  checkItem () {
    this.error = this.editedItem.title === '' || this.editedItem.slug === ''
  }

  async mounted () {
    await this.loadQuestionnaires()
    const listField: Field[] = await this.questionnaireService.getFields()

    listField.forEach((field: Field) => {
      this.listsField.push({
        id: field.id,
        title: field.title
      })
    })
  }

  async loadQuestionnaires () {
    const listQuestionnaire: Questionnaire[] = await this.questionnaireService.getQuestionnaires()
    if (listQuestionnaire.length === 0) {
      this.newQuestionnaire()
    }
    this.questionnaires = listQuestionnaire
  }

  async showQuestions (slug: string) {
    await this.$router.push({ path: `questions?qnrSlug=${slug}` })
  }

  newQuestionnaire () {
    this.dialog = true
    this.newQues = true
    this.editedItem = {
      id: 0,
      title: '',
      type: null,
      slug: '',
      fields: []
    }
    this.fields = []
  }

  editItem (item: any) {
    this.dialog = true
    this.newQues = false
    this.editedItem = Object.assign({}, item)
    this.fields = []

    this.editedItem.fields.forEach((field: any) => {
      this.fields.push(field.id)
    })
  }

  async save () {
    const questionnaire = {
      title: this.editedItem.title,
      type: this.editedItem.type,
      slug: this.editedItem.slug,
      fields_ids: this.fields
    }
    if (this.newQues) {
      await this.questionnaireService.registerQuestionnaire(questionnaire)
    } else {
      await this.questionnaireService.updateQuestionnaire(questionnaire, this.editedItem.id)
    }
    await this.loadQuestionnaires()
  }

  deleteItemConfirm (questionnaire: any) {
    this.dialogDelete = true
    this.editedItem = questionnaire
  }

  async deleteQuestionnaire () {
    try {
      await this.questionnaireService.deleteQuestionnaire(this.editedItem.id)
      await this.loadQuestionnaires()
    } catch (e) {
    }
  }
}
</script>

<style lang="scss" scoped>
.add-btn {
  z-index: 200 !important;
}

p.label-edit-questionnaire {
  width: auto;
  font-size: 20px;
  font-weight: 400;
  color: var(--v-generalText-base);
  margin-bottom: 35px;
}

.v-card__text.edit-questionnaire-text {
  padding: 40px 35px !important;
}

.questionnaire-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
}

.questionnaire-card-title{
  justify-content: center;
}

.select-tag .v-list-item.primary--text.v-list-item--active.v-list-item--link {
  color: var(--v-activeColor-base) !important;
  caret-color: var(--v-activeColor-base) !important;
}

.questionnaire-list {
  padding: 36px 16px !important;
  position: relative;
  z-index: 10;
  .questionnaire-list-title {
    width: 40%;
  }
}

</style>
