<template lang="pug">
  v-container
    .dashboard-container(v-if="questionnaires.length > 0" )
      .dashboard-general-data.mb-8
        v-card.dashboard-body-data-container
          .questionnaires.mb-8
            SelectQuestionnaires(
              :questionnaires="questionnaires"
              @selectedQuestionnaire="selectedQuestionnaire"
              )
          .body-data-top.mb-8
            TotalRespondents
            TopPerformers
          .body-data-bottom
            TotalScore
        TotalScoreFunction
      .dashboard-general-data-bar-chart-filter.mb-8
        TotalRespondentsFunction
      .dashboard-general-data-linear-filter
        PerformanceTrend
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import TopPerformers from '@/components/Dashboard/components/TopPerformes.vue'
import TotalRespondents from '@/components/Dashboard/components/TotalRespondents.vue'
import TotalScore from '@/components/Dashboard/components/TotalScore.vue'
import TotalScoreFunction from '@/components/Dashboard/components/TotalScoreFunction.vue'
import TotalRespondentsFunction from '@/components/Dashboard/components/TotalRespondentsFunction.vue'
import PerformanceTrend from '@/components/Dashboard/components/PerformanceTrend.vue'
import SelectQuestionnaires from '@/components/Dashboard/components/SelectQuestionnaires.vue'
import QuestionnaireService from '@/services/questionnaireService'
import { User } from '../../store/modules/user/types'
import { Questionnaire } from '../../store/modules/questionnaire/types'

@Component({
  components: {
    PerformanceTrend,
    TopPerformers,
    TotalRespondents,
    TotalScore,
    TotalScoreFunction,
    TotalRespondentsFunction,
    SelectQuestionnaires
  }
})
export default class OverviewDashboard extends Vue {
  @Action('questionnaire/loadQuestionnaire') loadQuestionnaire!: (slug: string) => Promise<void>
  @Action('questionnaire/loadQuestionnaireData') loadQuestionnaireData: any
  @Action('setIsLoading') setIsLoading: any
  @Action('admin/loadTotalRespondentsState') loadTotalRespondentsState: any
  @Action('admin/loadTopPerformers') loadTopPerformers: any
  @Action('admin/loadTotalRespondents') loadTotalRespondents: any
  @Action('admin/loadInitiativesScoreboard') loadInitiativesScoreboard: any

  @Getter('user/getUser') getUser!: User
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire

  private questionnaires: Questionnaire[] = []

  async beforeMount () {
    await this.initData(true, '')
  }

  async initData (init: boolean, slug: string) {
    const questionnaireService = new QuestionnaireService()
    let qnrResponse: Questionnaire[] | null = null
    if (init && this.questionnaires.length === 0) {
      qnrResponse = await questionnaireService.getQuestionnaires()
      await this.loadQuestionnaire(qnrResponse[0].slug)
    } else {
      await this.loadQuestionnaire(slug)
    }
    await this.loadQuestionnaireData()
    await this.loadTotalRespondentsState(this.getQuestionnaire.id)
    await this.loadTopPerformers(this.getQuestionnaire.id)
    await this.loadTotalRespondents(this.getQuestionnaire.id)
    await this.loadInitiativesScoreboard(this.getQuestionnaire.id)

    if (qnrResponse) {
      this.questionnaires = qnrResponse
    }
  }

  async selectedQuestionnaire (payload: string) {
    this.setIsLoading(true)
    document.documentElement.style.overflow = 'hidden'
    await this.initData(false, payload)
    document.documentElement.style.overflow = 'auto'
    this.setIsLoading(false)
  }
}
</script>

<style lang="scss">
.container {
  max-width: 1364px;
}

.dashboard-container{
  margin-top: 128px;
  position: relative;
  z-index: 10;
  .dashboard-title-container {
    display: flex;
    justify-content: space-between;
  }

  .dashboard-general-data {
    display: flex;
    justify-content: space-between;
  }

  .dashboard-body-data-container.v-card.v-sheet {
    width: 63%;
    background: none;
    box-shadow: none;
  }

  .body-data-top {
    display: flex;
    justify-content: space-between;
  }

  .v-progress-linear__buffer {
    color: #101624;
    background: #101624;
    height: 5px;
  }

  .v-progress-linear__determinate {
    border-radius: 15px;
  }
}

@media (max-width: 1024px) {
  .dashboard-container {

    .dashboard-general-data {
      flex-direction: column;
    }
    .dashboard-body-data-container.v-card.v-sheet {
      width: 100%;
      margin-bottom: 32px;
    }
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  .dashboard-container {
    .body-card-data-title {
      font-size: 18px;
    }
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  .dashboard-container {
    .total-respondents-card-data.v-card.v-sheet {
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 599px) {
  .dashboard-container {
    .body-data-top {
      flex-direction: column;
    }

    .total-respondents-card-data.v-card.v-sheet {
      width: 100%;
      margin-bottom: 32px;
    }

    .body-card-data-title {
      font-size: 16px;
    }
  }
}
</style>
