<template lang="pug">
  v-container.action-initiative-container
    .action-initiatives
      .simple-ui(v-if="isSimpleUI")
        user-questionnaire-selector(v-if="!isConsultant")
      .action-initiative-top(v-else)
        action-initiative-title(:listFilter="isReportTab")
        action-initiative-scores(:totals="totals")
      .action-initiative-body.mt-4
        action-initiative-aside(
          :listInitiatives="listInitiatives"
          :listFilter="isReportTab"
          :filterFlag="filterFlag"
          :filterStatus="filterStatus"
          :filterScore="filterScore"
          :is-simple-u-i="isSimpleUI"
          @retakeSurvey="retakeSurvey"
          @changeTab="changeTab"
          @showInitiatives="showInitiatives"
          @showInitiativesFilter="showInitiativesFilter"
          @setTotals="renderTotals"
        )
        action-initiatives-list-report(
          v-if="isReportTab"
          :questionnaire="this.getQuestionnaire"
          :totals="totals"
          :initiatives="initiatives"
          :filterFlag="filterFlag"
          :is-simple-u-i="isSimpleUI"
          :state-status="filterStatus"
          :state-score="filterScore"
          @clickFilter="syncFilterFlag"
          @progressChanged="progressChanged"
          @clickFilterStatus="syncFilterStatus"
          @clickFilterScore="syncFilterScore"
          @clickFlag="flagInitiative"
        )
        action-initiatives-list-mngt(
          v-else
          :totals="totals"
          :initiatives="initiatives"
          @clickFlag="flagInitiative"
        )

</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { Getter, Action } from 'vuex-class'
import ActionInitiativeAside from '@/components/Steps/components/ActionInitiatives/ActionInitiativeAside.vue'
import ActionInitiativesListReport from '@/components/Steps/components/ActionInitiatives/ActionInitiativeListReport.vue'
import ActionInitiativesListMngt from '@/components/Steps/components/ActionInitiatives/ActionInitiativesListMngt.vue'
import ActionInitiativeTitle from '@/components/Steps/components/ActionInitiatives/ActionInitiativeTitle.vue'
import ActionInitiativeScores from '@/components/Steps/components/ActionInitiatives/ActionInitiativeScores.vue'
import {
  ALL_OPTIONS,
  IN_PROGRESS,
  COMPLETED, NOT_STARTED
} from '@/services/constants'
import { User } from '../../store/modules/user/types'
import { Questionnaire, Tag } from '../../store/modules/questionnaire/types'
import InitiativesUser from '../../assets/interfaces/InitiativesUser'
import InitiativesService from '../../services/initiativesService'
import levelHelper from '../../lib/util/levelHelper'
import UserQuestionnaireSelector from './components/ActionInitiatives/UserQuestionnaireSelector.vue'

interface questionnaireField {
  id: number,
  title: string,
  slug: string,
  icon: string,
  position: number
}

interface questionnaire {
  id: number,
  title: string,
  slug: string,
  fields: questionnaireField
}

@Component({
  components: {
    ActionInitiativeTitle,
    ActionInitiativeScores,
    ActionInitiativeAside,
    ActionInitiativesListMngt,
    ActionInitiativesListReport,
    UserQuestionnaireSelector
  }
})
export default class ActionInitiative extends Vue {
  @Prop({ required: true }) readonly fieldCategories!: string[]
  @Prop({ required: false }) readonly isReportTab!: boolean

  @Getter('user/getUserInitiatives') getUserInitiatives!: InitiativesUser[]
  @Getter('user/getUser') getUser!: User
  @Getter('questionnaire/getTagsByFunction') getTagsByFunction!: (fieldSlug: string) => Tag[][]
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire
  @Getter('config/getConfig') getConfig: any
  @Getter('user/isConsultant') isConsultant!: boolean

  @Action('user/registerStateInitiative') registerStateInitiative!: (payload: any) => Promise<void>
  @Action('setIsLoading') setIsLoading: any

  private initiatives: InitiativesUser[] = []
  private listInitiatives: InitiativesUser[] = []
  private filterStatus: number = 0
  private filterScore: number = 0
  private category: string = ''
  private tag: number = 0
  private filterFlag: boolean = false
  private selectedItem: any[] = []
  private tagsInitiatives: any[] = []
  private args: any = null
  private totals: any = {
    executionName: '',
    execution: 0,
    diagnosticName: '',
    diagnostic: 0
  }

  get isSimpleUI (): boolean {
    return this.getConfig.is_simple_ui === '1'
  }

  @Watch('isReportTab')
  updateList () {
    if (this.isReportTab) {
      if (this.args) {
        this.showInitiativesFilter(this.args)
      }
    } else {
      if (this.args) this.showInitiatives(this.args)
    }
  }

  async created () {
    Object.keys(this.getUserInitiatives).forEach((index: any) => {
      const initiative: InitiativesUser = this.getUserInitiatives[index]
      this.listInitiatives.push(initiative)
    })
    this.getQuestionnaire.fields.forEach(() => {
      this.selectedItem.push(null)
    })
  }

  async showInitiatives (args: any) { // event emitted from ActionInitiativesAside
    if (args) {
      this.args = args
      this.initiatives = []
      const tagsInitiatives = await this.getTagsByFunction(args.category)[args.tag]
      tagsInitiatives.forEach((tag: any) => {
        this.listInitiatives.forEach((initiative: InitiativesUser) => {
          if (tag.tag === initiative.initiative.tags_list[0]) {
            initiative.initiative.tag_slug = tag.tag
            this.initiatives.push(initiative)
          }
        })
      })
    } else {
      this.initiatives = []
    }
  }

  async flagInitiative (initiative: InitiativesUser) { // event emitted from ActionInitiativesList
    const payload = {
      userId: this.getUser.id,
      questionnaireId: this.getQuestionnaire.id,
      initiativeId: initiative.id,
      is_flagged: {
        is_flagged: initiative.is_flagged
      }
    }
    try {
      const initiativeService = new InitiativesService()
      await initiativeService.registerFlagInitiative(payload)
    } catch (err) {
      console.log('Error registerFlagInitiative', err)
    }
  }

  renderTotals (args: any) {
    this.totals.executionName = args.totalExecutionName
    this.totals.diagnosticName = args.totalDiagnosticName
    this.totals.execution = Math.round(args.totalExecution)
    this.totals.diagnostic = Math.round(args.totalDiagnostic)
  }

  async showInitiativesFilter (args: any) {
    if (args) {
      this.args = args
      this.category = args.category
      this.tag = args.tag
      this.selectedItemCheck(args.category)
      this.initiatives = []
      this.tagsInitiatives = await this.getTagsByFunction(this.category)[this.tag]
      this.filterInitiatives()
    } else {
      this.initiatives = []
    }
  }

  syncFilterFlag (filterFlag: boolean) {
    this.filterFlag = filterFlag
    this.filterInitiatives()
  }

  syncFilterStatus (filterStatus: any) {
    this.filterStatus = filterStatus
    this.filterInitiatives()
  }

  syncFilterScore (filterScore: number) {
    this.filterScore = filterScore
    this.filterInitiatives()
  }

  filterInitiatives () {
    this.checkFlag()
    this.checkStatus()
    this.checkScore()
  }

  checkStatus () {
    if (this.filterStatus && this.filterStatus !== ALL_OPTIONS) {
      this.initiatives = this.initiatives.filter((initiative: InitiativesUser) => {
        return (initiative.state === IN_PROGRESS.label && this.filterStatus === IN_PROGRESS.id) ||
          (initiative.state === COMPLETED.label && this.filterStatus === COMPLETED.id) ||
          (initiative.state === NOT_STARTED.label && this.filterStatus === NOT_STARTED.id)
      })
    } else {
      this.initiatives = this.initiatives.filter((initiative: InitiativesUser) => {
        return initiative
      })
    }
  }

  checkScore () {
    let score
    const initiativeScore: InitiativesUser[] = []
    if (this.filterFlag) {
      if (this.filterScore && this.filterScore !== 0) {
        this.initiatives.forEach((initiative: InitiativesUser) => {
          score = this.levelIndicators(initiative)
          if (score === this.filterScore) {
            initiativeScore.push(initiative)
          }
        })
        this.initiatives = initiativeScore
      } else if (this.filterScore === ALL_OPTIONS && this.filterStatus === ALL_OPTIONS) {
        this.initiatives = []
        this.tagsInitiatives.forEach((tag: any) => {
          this.listInitiatives.forEach((initiative: InitiativesUser) => {
            if (tag.tag === initiative.initiative.tags_list[0] && initiative.is_flagged === true) {
              initiative.initiative.tag_slug = tag.tag
              this.initiatives.push(initiative)
            }
          })
        })
      }
    } else {
      if (this.filterScore && this.filterScore !== ALL_OPTIONS) {
        this.initiatives.forEach((initiative: InitiativesUser) => {
          score = this.levelIndicators(initiative)
          if (score === this.filterScore) {
            initiativeScore.push(initiative)
          }
        })
        this.initiatives = initiativeScore
      }
    }
  }

  levelIndicators (initiative: InitiativesUser): number {
    const value = this.calculatePercentageScore(initiative)
    return levelHelper(this, value).status
  }

  calculatePercentageScore (initiative: InitiativesUser): number { // return 10 for lowest values to print in progress linear
    return (initiative.score / initiative.max_score) * 100
  }

  checkFlag () {
    this.initiatives = []
    if (this.filterFlag) {
      this.tagsInitiatives.forEach((tag: any) => {
        this.listInitiatives.forEach((initiative: InitiativesUser) => {
          if (tag.tag === initiative.initiative.tags_list[0] && initiative.is_flagged === true && initiative.state !== null) {
            initiative.initiative.tag_slug = tag.tag
            this.initiatives.push(initiative)
          }
        })
      })
    } else {
      this.tagsInitiatives.forEach((tag: any) => {
        this.listInitiatives.forEach((initiative: InitiativesUser) => {
          if (tag.tag === initiative.initiative.tags_list[0] && initiative.state !== null) {
            initiative.initiative.tag_slug = tag.tag
            this.initiatives.push(initiative)
          }
        })
      })
    }
  }

  selectedItemCheck (category: string) {
    this.getQuestionnaire.fields.forEach((tab: any, index: number) => {
      if (tab.slug !== category) {
        this.selectedItem[index] = null
      }
    })
  }

  progressChanged (initiative: InitiativesUser) {
    this.listInitiatives.forEach((initiativeItem: InitiativesUser, index: number) => {
      if (initiativeItem.id === initiative.id) {
        const initiative: InitiativesUser = this.listInitiatives[index]
        initiative.state = initiative.state || null
      }
    })
    const payload = {
      userId: this.getUser.id,
      initiativeId: initiative.id,
      questionnaireId: this.getQuestionnaire.id,
      state: {
        state: initiative.state
      }
    }
    this.registerStateInitiative(payload)
    this.filterInitiatives()
  }

  changeTab (param: string) {
    this.$emit('changeTab', param)
  }

  retakeSurvey () {
    this.$emit('retakeSurvey')
  }
}
</script>

<style lang="scss">
.theme--light.v-list-item:focus::before {
  opacity: 0 !important;
}
.initiatives-tags-list .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: transparent;
}
.action-container {
  display: flex;
  width: 63%;
}
.initiatives-tags-list .v-list-item.v-list-item--link {
  height: auto;
}
.action-initiative-container {
  padding-left: 0;
  padding-right: 0;
}

.v-card__text.action-title.pa-0 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.action-header-text.font-color {
  margin: 0 1rem;
  max-width: 600px;
  font-size: 24px;
  font-weight: 600;
  font-family: "cairo";
}
.diagnostic-content .v-progress-circular__overlay {
  stroke-width: 4;
}

.diagnostic-content .v-progress-circular__underlay {
  stroke: #fff;
  stroke-width: 2;
}

.execution-content .v-progress-circular__overlay {
  stroke-width: 4;
}

.execution-content .v-progress-circular__underlay {
  stroke-width: 2;
}

.execution-content .v-progress-circular.v-progress-circular--visible {
  min-width: 65px;
}

.v-card__text.execution-content,
.v-card__text.diagnostic-content {
  display: flex;
  align-items: center;
}
.action-initiative-top {
  display: flex;
  justify-content: space-between;
  min-height: 128px;

  .edit-header-img {
    object-fit: scale-down;
  }

  .initiatives-title.v-card.v-sheet {
    width: 34%;
  }

  .action-initiative-header-text{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    color: var(--v-cardTextColor-base);
    vertical-align: middle;
  }
  .action-diagnostic {
    background: var(--v-cardTextColor-base);
  }
  .execution-subtitle {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    color: var(--v-cardTextColor-base);
    margin: 0;
  }
  .diagnostic-title {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    width: 55%;
  }
  .execution-title{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    color: var(--v-cardTextColor-base);
    margin: 0;
  }
  .action-title {
    background: transparent;
  }
}

.action-initiative-body {
  display: flex;
  justify-content: space-between;
}

.initiatives-aside{
  height: fit-content;
}

.initiatives-aside button.v-btn.v-btn--icon.v-btn--round.v-size--default {
  width: 100%;
  justify-content: inherit;
}

.initiatives-aside button.v-btn.v-btn--icon {
  color: transparent !important;
}

.initiatives-container {
  height: fit-content;
}

.action-initiative-list {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: var(--v-titleText-base);
}

.action-initiative-list-title {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--v-cardTextColor-base);
}

.functions-title button {
  padding: 0;
}

.functions-title button span{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: capitalize;
  color: var(--v-linkBackground-base);
}

.function-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--v-linkBackground-base);
  text-transform: capitalize;
  white-space: break-spaces;
  max-width: 230px;
}

button.function-title-container > span {
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
  }
}

.functions-list circle.v-progress-circular__underlay {
  stroke-width: 1px;
}
.functions-title button.v-btn.v-btn--text.theme--light.v-size--default {
  padding: 0 !important;
}

.functions-list .v-list-item__content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--v-linkBackground-base);
}

.functions-list .v-list-item.v-item--active.v-list-item--active.v-list-item--link .v-list-item__content {
  color: var(--v-linkTextColor-base);
  padding: 5px;
  border-radius: 5px;
  background: var(--v-linkBackground-base);
}

.functions-list .v-list-item.v-list-item--link,
.functions-list .v-list-item.v-item--active.v-list-item--active.v-list-item--link{
  padding: 0;
}

.functions-list .v-list-item-group .v-list-item--active {
  color: transparent;
  padding: 8px;
}

.functions-list .v-progress-circular.v-progress-circular--visible {
  margin-left: 0 !important;
}

.list-initiatives .v-progress-linear.v-progress-linear--reactive {
  border-radius: 3px;
  width: 120px;
  color: #fff;
  font-size: 10px;
  margin: 12px 0;
}

.list-initiatives .v-list-item__title {
  display: flex;
  align-items: flex-start;
  padding-top: 0;
}

.list-initiatives .v-list-item.v-list-item--link {
  padding: 0;
}

.initiative-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--v-titleText-base);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.list-initiatives .v-progress-linear__content {
  justify-content: flex-start;
  padding: 0 9px;
}
.list-initiatives .v-progress-linear__background {
  background: lightgray !important;
}
.list-initiatives .v-progress-linear {
  border-radius: 3px;
  width: 120px;
  color: #fff;
  font-size: 10px;
  margin: 12px 0;
}
p.initiative-title {
  margin: 0;
  white-space: pre-wrap;
}
.list-initiatives .v-progress-linear__content {
  justify-content: flex-start;
  padding: 0 9px;
}

.list-initiatives .v-list-item.v-list-item--link {
  border: solid thin lightgray;
  border-radius: 4px;
}

button.v-btn.v-btn--disabled.v-btn--has-bg.v-size--default.flagged{
  min-width: 50px;
  height: 50px;
  background: var(--v-activeColor-base) !important;
  box-shadow: none;
}
.initiative-card-header-flag, .select-state {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.initiative-card-header-flag button, .select-state{
  border: solid thin lightgray;
  background: transparent !important;
  border-radius: 50% !important;
}
.initiative-card-header-flag  button.v-btn.v-btn--disabled.v-btn--has-bg.v-size--default.flag-progress {
  background: #fff !important;
}
button.v-btn.flagged, button.v-btn.flag-progress {
  background: var(--v-activeColor-base) !important;
}
.theme--light.v-btn-toggle:not(.v-btn-toggle--group) {
  color: transparent;
}
button.v-btn.flag-progress {
  background: #fff !important;
}

.flag-img {
  position: absolute;
  width: 20px;
  height: 20px;
}
.filter-initiatives {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.filter-switch .v-input__control .v-input__slot div {
  margin: 0 10px;
}
.filter-switch .v-input__control .v-input__slot label {
  color: var(--v-colorTab-base)
}
.filter-switch .v-input--switch__thumb.primary--text {
  background: #FFFFFF;
}
.filter-switch  .v-input--selection-controls__ripple {
  display: none;
}
.filter-switch .v-input--switch__track.primary--text {
  opacity: 1;
}
.flagged .flag-active-img {
  z-index: 10;
}

span.initiative-card-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--v-generalText-base)
}

.list-initiatives-actions {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .initiative-card-header {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .function-title {
    font-size: 13px;
  }
}

@media (max-width: 838px) {
  .action-initiative-top .action-container {
    display: flex;
    width: 100% !important;
    flex-wrap: wrap;
  }
  .initiatives-title {
    width: 100% !important;
    margin-bottom: 16px;
  }
  .initiatives-title.ms-4, .action-diagnostic.ms-4, .action-execution {
    width: 100% !important;
    margin: 0 0 20px 0 !important;
  }

  .v-card__text.action-title {
    width: 100% !important;
    text-align: center;
  }

  .v-card__text.execution-content, .v-card__text.diagnostic-content {
    justify-content: center;
  }

  .action-initiative-top .diagnostic-title {
    width: initial;
  }

  .action-initiative-top {
    flex-direction: column;
  }

  .action-initiative-body {
    flex-direction: column;
  }

  .initiatives-aside.pa-6.v-card.v-sheet {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .initiatives-container.v-card.v-sheet {
    width: 100% !important;
  }

  .function-title {
    font-size: 16px;
  }
}

@media (max-width: 764px) {
  .list-initiatives .v-list-item__action.mt-7 {
    margin: 32px 0 4px 0 !important;
    width: 100%;
    justify-content: center;
  }

  .list-initiatives .v-list-item__title {
    display: flex;
    align-items: center;
    padding-top: 0;
    flex-direction: column-reverse;
  }
  span.initiative-card-description {
    text-align: center;
  }

  .list-initiatives .v-progress-linear.ms-4.v-progress-linear--reactive {
    margin: 16px 0 !important;
  }
}
</style>
