<template lang="pug">
  v-card.mt-4.pt-4.px-4.px-sm-14.edit-card(outlined)
    v-card-title.edit-user-header
      div.header-section-subtitle
        p.edit-header-title.font-color {{ formTitle }}
      div.header-section-title
        p.edit-header-text.font-color {{ sectionTitle }}
        p.section-title.ms-4.generalText--text  1.
        v-avatar(color="activeColor" size="65")
          v-icon(color="activeTextColor" ) mdi-home-city
    v-divider
    v-card-text
      .edit-form
        component(
          :is="editUserComponent"
          v-model="userUpdate"
          :is-editing="isEditing"
        )
      .actions-kira-employer.pb-8(v-if="isKiraEmployerQnr")
        .edit-user-footer
          v-btn(
            :loading="isSaving"
            color="primary"
            large
            @click="saveUser"
          ) {{ $t("save") }}
      .actions.pb-8(v-else)
        .edit-user-footer(v-if="isEditing")
          v-btn.cancel-edit-btn(outlined large @click="() => { isEditing = false; }") {{ $t("cancel") }}
          v-btn.save-edit-btn.activeTextColor--text(
            :loading="isSaving"
            color="activeColor"
            large
            @click="saveUser"
          ) {{ $t("save") }}
        .edit-user-footer(v-else)
          v-btn.edit-btn.mx-4(
            outlined
            large
            @click="() => { isEditing = true;}"
          ) {{ $t("Form.edit") }}
            v-icon mdi-square-edit-outline
          v-btn(
            color="primary"
            large
            @click="goNextTab"
          ) {{ $t("Form.nextStep") }}

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { TranslateResult } from 'vue-i18n'

import UserService from '../../services/userService'
import { Action, State, Getter } from 'vuex-class'
import { User, UserState } from '@/store/modules/user/types'
import BaseUser from '../../assets/interfaces/BaseUser'
import { DEMO_MODAL_STORAGE_KEY, GO_TO_QUESTIONNAIRE } from '../../services/constants'
import { Questionnaire } from '../../store/modules/questionnaire/types'

@Component({
  components: {
    UserFieldsCompany: () => import('./UserFieldsCompany.vue'),
    UserFieldsEducation: () => import('./UserFieldsEducation.vue'),
    UserFieldsKiraEmployer: () => import('./UserFieldsKiraEmployer.vue'),
    UserFieldsRed: () => import('./UserFieldsRed.vue')
  }
})
export default class EditForm extends Vue {
  @Getter('config/getConfig') getConfig: any
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire

  @Getter('user/isConsultant') isConsultant!: boolean
  @Getter('user/isManager') isManager!: boolean

  @Action('setDemoStep') setDemoStep!: (step: number) => void

  private isEditing = false
  private isSaving = false
  private userUpdate = {
    age_range: '',
    benefits: [],
    company: '',
    company_size: '',
    cities: [],
    education: '',
    employees_amount: '',
    employment: '',
    gender: '',
    ongoing_projects: '',
    sector: '',
    total_projects: ''
  }

  @State('user') apiUser!: UserState
  @Getter('user/getUser') getUser!: User

  get editUserComponent (): string {
    const qnrUserFieldsComponent = this.getQuestionnaire.user_fields_component
    return qnrUserFieldsComponent || this.getConfig.user_fields_component || 'user-fields-company'
  }

  mounted () {
    const stepInStorage = parseInt(window.localStorage.getItem(DEMO_MODAL_STORAGE_KEY) || '')
    if (!stepInStorage) {
      this.setDemoStep(1)
    } else if (stepInStorage > 4) {
      this.setDemoStep(4)
    }
    const userService = new UserService([])
    userService
      .getUserData(this.currentUid)
      .then((usr: BaseUser) => {
        const cities: any = usr.cities || []
        const benefits: any = usr.benefits ? JSON.parse(usr.benefits) : []
        this.userUpdate = {
          age_range: usr.age_range || '',
          benefits,
          company: usr.company || '',
          company_size: usr.company_size || '',
          cities,
          education: usr.education || '',
          employees_amount: usr.employees_amount || '',
          employment: usr.employment || '',
          gender: usr.gender || '',
          ongoing_projects: usr.ongoing_projects || '',
          sector: usr.sector || '',
          total_projects: usr.total_projects || ''
        }
      })
      .catch(() => {
        // console.log(err)
      })
  }

  get currentUid (): number {
    const isManagerOrConsultant = (this.isManager || this.isConsultant) && !!this.$route.query?.srcUserId
    let userId: number
    if (isManagerOrConsultant) {
      const q: any = this.$route.query
      userId = q?.srcUserId
    } else {
      userId = this.getUser.id
    }
    return userId
  }

  get formTitle (): TranslateResult {
    if (this.getQuestionnaire.user_info) {
      return this.getQuestionnaire.user_info
    }
    if (this.isConsultant) {
      return this.$t('Form.consultantEditTitle')
    }
    return this.$t('Form.editTitle')
  }

  get isKiraEmployerQnr (): boolean {
    return this.getQuestionnaire.user_fields_component === 'user-fields-kira-employer'
  }

  get sectionTitle (): TranslateResult {
    if (this.isKiraEmployerQnr) {
      return this.$t('Form.sectionTitleEmployer')
    }
    if (this.isConsultant) {
      return this.$t('Form.consultantSectionTitle')
    }
    return this.$t('Form.sectionTitle')
  }

  goNextTab () {
    const hasSubmissionStep = this.getQuestionnaire.user_submission_component
    const nextTab = hasSubmissionStep ? 'submission-form' : GO_TO_QUESTIONNAIRE
    this.$emit('changeTab', nextTab)
  }

  async saveUser () {
    const userService = new UserService([])
    this.isSaving = true
    await userService.updateUser(this.userUpdate, this.currentUid)
    this.isEditing = false
    this.isSaving = false
    if (this.isKiraEmployerQnr) {
      this.goNextTab()
    }
  }
}
</script>

<style lang="scss">
.font-color {
  color: var(--v-generalText-base);
}

.edit-zone-select .v-list {
  max-width: 480px !important;
}

.edit-zone-select .v-menu__content.menuable__content__active {
  top: 60px !important;
}

.edit-zone-select .v-list-item {
  width: 49% !important;
  display: inline-flex !important;
}

.edit-zone-select .v-list-item__content {
  text-align: start;
}

.edit-card {
  background: var(--v-cardBackground-base) !important;
  .edit-user-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .header-section-title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
  }

  p.section-title.ms-4 {
    white-space: nowrap;
  }

  .header-section-action {
    width: 20%;
    text-align: end;
  }

  .header-section-subtitle {
    width: 50%;
  }

  .edit-header-title {
    margin: 0 1rem;
    max-width: 600px;
    font-size: 16px;
    font-weight: 400;
    font-family: "cairo";
  }

  .label-edit-form {
    font-size: 20px;
  }

  .edit-header-img {
    object-fit: scale-down;
  }

  p.edit-header-text {
    margin: 0 1rem;
    max-width: 600px;
    font-size: 24px;
    font-weight: 600;
    font-family: "cairo";
  }

  .edit-user-header .v-btn.v-size--large.edit-btn {
    font-size: 16px;
    padding: 16px 32px;
    width: auto;
    height: 50px;
  }

  .edit-btni.v-icon.notranslate.mdi.mdi-square-edit-outline.theme--light {
    font-size: 16px;
  }

  .edit-form {
    padding: 32px 100px 15px 100px;

    i, input, .v-select__selections {
      color: var(--v-editFormColor-base)
    }
  }

  .theme--light.v-label {
    color: var(--v-generalText-base);
    font-size: 20px;
  }

  .edit-body-column {
    display: flex;
    justify-content: space-between;
  }

  .edit-body-column .column {
    width: 48%;
  }

  .edit-user-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0px 100px;
  }

  .cancel-edit-btn,
  .save-edit-btn {
    margin-right: 24px;
    font-size: 16px;
    text-transform: capitalize !important;
    height: 55px !important;
    padding: 20px 32px 16px;
  }

  .cancel-edit-btn {
    width: 110px;
  }

  .v-list-item__action,
  .v-list-item__content {
    display: inline-block;
  }

  @media (min-width: 840px) and (max-width: 1024px) {
    p.edit-header-title.font-color {
      max-width: 330px;
    }

    .edit-card .edit-form {
      padding: 32px 80px 15px 80px;
    }
  }

  @media (max-width: 839px) {
    .edit-user-header {
      flex-direction: column-reverse;
    }

    .header-section-title {
      width: fit-content;
      margin-bottom: 8px;
    }
    .header-section-action {
      width: fit-content;
      margin-bottom: 8px;
    }

    .header-section-subtitle {
      width: fit-content;
      margin-bottom: 8px;
    }
    .edit-header-title {
      font-size: 13px;
      text-align: center;
    }

    p.edit-header-text {
      font-size: 16px;
    }
    .edit-form {
      padding: 32px 5px 15px 5px;
    }

    .edit-body-column {
      flex-wrap: wrap;
    }

    .edit-body-column .column {
      width: 100%;
    }

    .edit-user-footer {
      justify-content: center;
    }
  }
}
</style>
