<template lang="pug">
  v-card.mt-4.pt-4.px-4.px-sm-14.edit-survey-card(outlined="outlined")
      v-card-title.survey-user-header
        .edit-survey-header-column
          v-btn.tabsTextColor--text(
            v-if="showCompleteFieldBtn"
            color="colorTab"
            @click="completeField"
          ) {{ $t('Questionnaire.finishAndSubmit') }}
          div.header-section-subtitle
            span.edit-survey-header-title.font-color(v-if="data[getCategoryIndex] && data[getCategoryIndex].description !== null" v-html="data[getCategoryIndex].description")
            p.edit-survey-header-title.font-color(v-else) {{ surveyTitle }}
          div.header-section-title
            p.edit-survey-header-text.font-color(v-if="sectionTitle.title" ) {{ sectionTitle.title }}
            p.section-title.ms-4.generalText--text {{ currentTabIndex }}.
            v-avatar(color="activeColor" size="65")
              v-icon(color="activeTextColor" ) {{ sectionTitle.icon }}
      v-divider
      v-card-text.pa-0.pa-sm-4
        component(
          v-if="currentQnrCategory"
          :is="getQuestionnaireBody"
          :data="qnrCategories"
          :show-next-field="showNextField"
          :currentCategory="currentQnrCategory"
          :formComplete="formComplete"
          @completeField="completeField"
          @next-question="nextQuestion"
          @next-field="nextField"
          @change-category="changeCategory"
          @retake="retakeSurvey"
        )
</template>

<script lang="ts">
import { TranslateResult } from 'vue-i18n'
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import moment from 'moment'
import Question from '@/assets/interfaces/Question'
import FieldsMap from '../../assets/interfaces/FieldsMap'
import { Questionnaire, Tag } from '../../store/modules/questionnaire/types'
import questionnaireTypes from '../../lib/data/questionnaire-types'

import RadioQuestionnaireBody from './components/questionnaire/RadioQuestionnaireBody.vue'
import SliderNavigationQuestionnaireBody from './components/questionnaire/SliderNavigationQuestionnaireBody.vue'
import SliderQuestionnaireBody from './components/questionnaire/SliderQuestionnaireBody.vue'
import Category from '../../assets/interfaces/Category'
import QuestionWithAnswer from '../../assets/interfaces/QuestionWithAnswer'
import QnrCategory from '../../assets/interfaces/QnrCategory'
import { NOT_STARTED } from '../../services/constants'
import { User } from '../../store/modules/user/types'
import Initiative from '../../assets/interfaces/Initiative'
import Answer from '../../assets/interfaces/Answer'
import Score from '../../assets/interfaces/Score'
import QuestionnaireService from '../../services/questionnaireService'
import UserAnswerService from '../../services/userAnswerService'
import InitiativesAnswer from '../../assets/interfaces/InitiativesAnswer'
import UserJobPosition from '../../assets/interfaces/UserJobPosition'

@Component({
  components: {
    RadioQuestionnaireBody,
    SliderNavigationQuestionnaireBody,
    SliderQuestionnaireBody
  }
})
export default class ParentQuestionnaire extends Vue {
  private icon = ''
  private data: Category[] = []
  private sectionTitle: object = {}
  private currentQnrCategory: QnrCategory | null = null
  private showNextField: boolean = false
  private qnrCategories: QnrCategory[] = []
  private startDate: string = ''

  @Prop({ required: true }) readonly questionnaireFunction!: string
  @Prop({ required: true }) readonly formComplete!: boolean
  @Prop({ required: true }) readonly currentTabIndex!: number

  @Getter('questionnaire/getFieldsMap') getFieldsMap!: FieldsMap | any
  @Getter('questionnaire/getCategoryIndex') getCategoryIndex!: number
  @Getter('config/getConfig') getConfig: any
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire
  @Getter('questionnaire/getTagsByFunction') getTagsByFunction!: (fieldSlug: string) => Tag[][]
  @Getter('questionnaire/getQuestionsByTags') getQuestionsByTags!: (tags: Tag[]) => Question[]
  @Getter('questionnaire/getFormState') getFormState: any
  @Getter('questionnaire/getQnrCategories') getQnrCategories!: QnrCategory[]
  @Getter('user/getUser') getUser!: User
  @Getter('user/isConsultant') isConsultant!: boolean
  @Getter('user/isManager') isManager!: boolean
  @Getter('admin/getInitiatives') getInitiatives!: Initiative[]
  @Getter('questionnaire/getUserJobPosition') getUserJobPosition!: UserJobPosition

  @Action('questionnaire/registerFormState') registerFormState: any
  @Action('questionnaire/registerNeedsTrack') registerNeedsTrack: any
  @Action('questionnaire/registerQnrCategories') registerQnrCategories!: (qnrCategories: QnrCategory[]) => void
  @Action('setIsLoading') setIsLoading: any
  @Action('admin/loadInitiativesData') loadInitiativesData: any
  @Action('user/loadUserInitiatives') loadUserInitiatives!: (filters: object) => Promise<void>
  @Action('user/loadUserSubmissions') loadUserSubmissions!: (userId: any) => Promise<void>
  @Action('user/loadUserQuestionnaires') loadUserQuestionnaires: any
  @Action('questionnaire/registerEmptyAnswer') registerEmptyAnswer!: (isEmpty: boolean) => void

  get currentUserId (): number {
    const isManagerOrConsultant = (this.isManager || this.isConsultant) && !!this.$route.query?.srcUserId
    if (isManagerOrConsultant) {
      const userId: any = this.$route.query.srcUserId
      return parseInt(userId)
    } else {
      return this.getUser.id
    }
  }

  get getQuestionnaireBody (): string {
    const type = this.getQuestionnaire.type
    switch (type) {
      case questionnaireTypes.SLIDER:
        return 'slider-questionnaire-body'
      case questionnaireTypes.SLIDER_NAVIGATION:
        return 'slider-navigation-questionnaire-body'
      default:
        return 'radio-questionnaire-body'
    }
  }

  get hasDirectReports (): boolean {
    return this.getConfig.has_direct_report === '1'
  }

  get isCompletedField (): boolean {
    let toRet = false
    this.getQuestionnaire.fields.forEach((category: any, index: number) => {
      if (category.slug === this.questionnaireFunction) {
        toRet = !!this.getFormState[index]
      }
    })
    return toRet
  }

  get isSimpleUI (): boolean {
    return this.getConfig.is_simple_ui === '1'
  }

  get questionsWithAnswersTags (): QuestionWithAnswer[] {
    const questionsWithAnswers: QuestionWithAnswer[] = []
    this.getQnrCategories.forEach((qnrCat: QnrCategory) => {
      qnrCat.questions.forEach((questionWithAnswer: QuestionWithAnswer) => {
        if (questionWithAnswer.tag) {
          questionsWithAnswers.push(questionWithAnswer)
        }
      })
    })
    return questionsWithAnswers
  }

  get showCompleteFieldBtn (): boolean {
    const isSliderWithNav = this.getQuestionnaire.type === questionnaireTypes.SLIDER_NAVIGATION
    const isAlreadyCompletedField = this.showNextField || this.formComplete
    return isSliderWithNav && !isAlreadyCompletedField
  }

  get surveyTitle (): TranslateResult {
    if (this.getQuestionnaire.question_info) {
      return this.getQuestionnaire.question_info
    }
    if (this.isConsultant) {
      return this.$t('Questionnaire.consultantSurveyTitle')
    }
    return this.$t('Questionnaire.surveyTitle')
  }

  loadQnrCategories () {
    const toRet: QnrCategory[] = []
    const tags: Tag[][] = this.getTagsByFunction(this.questionnaireFunction)
    tags.forEach((tag: Tag[], index: number) => {
      const category: Category = this.data[index]
      const QnrCategoryItem: QnrCategory = new QnrCategory(category, this.buildQuestions(tag))
      if (QnrCategoryItem.totalQuestions()) {
        toRet.push(QnrCategoryItem)
      }
    })
    this.qnrCategories = toRet
  }

  @Watch('qnrCategories')
  watcherHandler () {
    if (this.isCompletedField && !this.formComplete) {
      this.showNextField = true
      this.currentQnrCategory = this.qnrCategories[this.qnrCategories.length - 1]
    } else {
      this.currentQnrCategory = this.qnrCategories[0]
    }
  }

  @Watch('questionnaireFunction')
  updateComponent (newVal: string) {
    this.initData()
  }

  beforeMount () {
    this.initData()
  }

  buildQuestions (tag: Tag[]): QuestionWithAnswer[] {
    const questions: Question[] = this.getQuestionsByTags(tag)
    const toRet: QuestionWithAnswer[] = []
    questions.forEach((question: Question) => {
      toRet.push(new QuestionWithAnswer(question))
    })
    return toRet
  }

  initData () {
    this.data = this.getFieldsMap[this.questionnaireFunction] ?? []
    this.showNextField = false
    this.registerEmptyAnswer(true)
    this.loadQnrCategories()
    this.setSectionTitle(this.questionnaireFunction)
    this.startDate = moment().locale('en').format('YYYY-MM-DDTHH:mm:ssZ')
  }

  setSectionTitle (category: string) {
    this.getQuestionnaire.fields.forEach((tab: any, index: number) => {
      if (tab.slug === category) {
        this.sectionTitle = {
          title: tab.title,
          icon: `mdi-${tab.icon}`
        }
      }
    })
  }

  changeCategory (qnrCat: QnrCategory) {
    if (this.currentQnrCategory) {
      const index: number = this.qnrCategories.findIndex((cat: QnrCategory) => {
        return qnrCat.eq(cat)
      })
      this.currentQnrCategory.resetCurrentQuestion()
      this.currentQnrCategory = null
      this.$nextTick(() => {
        this.currentQnrCategory = this.qnrCategories[index]
      })
    }
  }

  nextQuestion () {
    if (this.currentQnrCategory) {
      this.trackAnswer(this.currentQnrCategory.getCurrentQuestion())
      const currentQnrCategory: QnrCategory = this.currentQnrCategory
      if (currentQnrCategory.isLastQuestion()) {
        const index: number = this.qnrCategories.findIndex((cat: QnrCategory) => {
          return currentQnrCategory.eq(cat)
        })
        if (this.qnrCategories[index + 1]) {
          this.currentQnrCategory.resetCurrentQuestion()
          this.currentQnrCategory = null
          this.$nextTick(() => {
            this.currentQnrCategory = this.qnrCategories[index + 1]
          })
        } else {
          this.completeField()
        }
      } else {
        currentQnrCategory.nextQuestion()
      }
    }
  }

  nextField () {
    this.getQuestionnaire.fields.forEach((tab: any, index: number) => {
      if (tab.slug === this.questionnaireFunction && tab.slug !== this.getQuestionnaire.fields[this.getQuestionnaire.fields.length - 1].slug) {
        this.showNextField = false
        this.$emit('changeTab', this.getQuestionnaire.fields[index + 1].slug)
      }
    })
  }

  checkIsInvalidAnswers (initiativesQuestions: QuestionWithAnswer[]): boolean {
    if (this.isSimpleUI && initiativesQuestions.length === 2) {
      const minScore = 1
      const maxScore = 6
      const answered = initiativesQuestions.filter((questionWithAnswer: QuestionWithAnswer) => {
        return questionWithAnswer.hasAnswer()
      })
      const isOnlyOneAnswered = answered.length === 1
      const firstScore = initiativesQuestions[0].getScore()
      const secondScore = initiativesQuestions[1].getScore()
      const isInvalidAnswers = (firstScore === minScore && secondScore === maxScore) ||
        (firstScore === maxScore && secondScore === minScore)
      if (isOnlyOneAnswered || isInvalidAnswers) {
        return true
      }
    }
    return false
  }

  completeField () {
    this.registerEmptyAnswer(false)
    const formState: boolean[] = []
    this.getFormState.forEach((state: boolean) => {
      formState.push(state)
    })
    this.getQuestionnaire.fields.forEach((category: any, index: number) => {
      if (category.slug === this.questionnaireFunction) {
        formState[index] = true
      }
    })
    this.registerFormState(formState)
    let alreadyAnsweredCategories = this.getQnrCategories
    alreadyAnsweredCategories = alreadyAnsweredCategories.concat(this.qnrCategories)
    this.registerQnrCategories(alreadyAnsweredCategories)
    const isLastField = this.getQuestionnaire.fields[this.getQuestionnaire.fields.length - 1].slug === this.questionnaireFunction
    if (isLastField) {
      this.saveAllAnswers()
    } else {
      this.showNextField = true
    }
  }

  retakeSurvey () {
    this.$emit('retakeSurvey')
  }

  async saveAllAnswers () {
    this.setIsLoading(true)
    await this.loadInitiativesData()
    await this.setAnswersData()
    const filters = {
      questionnaireId: this.getQuestionnaire.id,
      userId: this.currentUserId
    }
    await this.loadUserInitiatives(filters)
    await this.loadUserSubmissions(this.currentUserId)
    await this.loadUserQuestionnaires()
    this.registerQnrCategories([])
    this.setIsLoading(false)
    const isManager = this.isManager && !!this.$route.query?.srcUserId
    if (isManager) {
      await this.$router.push({ name: 'scoreboard' })
    } else {
      this.registerNeedsTrack(true)
      const resultTab: string = this.hasDirectReports ? 'action-initiative-select' : 'action-initiative'
      this.$emit('changeTab', resultTab)
    }
  }

  async setAnswersData () {
    const initiatives = this.getInitiatives
    let contScore = 0
    const maxScores: any[] = []

    initiatives.forEach((initiative: Initiative) => {
      this.questionsWithAnswersTags.forEach((question: QuestionWithAnswer) => {
        if (initiative.tags_list[0] === question.tag) {
          contScore = contScore + this.getMaxScore(question)
        }
      })
      maxScores.push({
        max_score: contScore,
        tag: initiative.tags_list[0]
      })
      contScore = 0
    })
    await this.scoringAnswers(initiatives, maxScores)
  }

  async scoringAnswers (initiatives: Initiative[], maxScores: any[]) {
    const scores: Score[] = []
    const date: string = moment().locale('en').format('YYYY-MM-DDTHH:mm:ssZ')
    let total = 0
    let maxScore = -1

    const defaultState = this.hasDirectReports ? NOT_STARTED.label : undefined

    initiatives.forEach((initiative: Initiative) => {
      const initiativesQuestions: QuestionWithAnswer[] = this.questionsWithAnswersTags.filter(
        (questionWithAnswer: QuestionWithAnswer) => {
          return initiative.tags_list[0] === questionWithAnswer.tag
        }
      )
      initiativesQuestions.forEach((questionWithAnswer: QuestionWithAnswer) => {
        const weight: number = questionWithAnswer.getScore()
        total = total + weight
      })

      const isInvalidAnswers = this.checkIsInvalidAnswers(initiativesQuestions)
      maxScore = this.setMaxScore(initiative.tags_list[0], maxScores)

      if (maxScore > 0) {
        const score: Score = {
          initiative_id: initiative.id,
          score: isInvalidAnswers ? null : total,
          state: defaultState,
          max_score: maxScore,
          created: date
        }
        const isLowerThan50percent = total <= (maxScore / 2)
        if (isLowerThan50percent) {
          score.state = NOT_STARTED.label
        }
        scores.push(score)
      }
      total = 0
      maxScore = 0
    })
    await this.saveScore(scores)
  }

  async saveScore (score: Score[]) {
    try {
      const questionnaireService = new QuestionnaireService()
      const data: InitiativesAnswer = {
        initiatives: score,
        user: this.getUserJobPosition
      }
      await questionnaireService.registerAnswerScore(this.getQuestionnaire.id, this.currentUserId, data)
    } catch (err) {
      console.error('Error saving score', err)
    }
  }

  setMaxScore (initiativeTag: string, maxScores: any[]) {
    let maxScore = 0

    maxScores.forEach((score) => {
      if (score.tag === initiativeTag) {
        maxScore = score.max_score
      }
    })

    return maxScore
  }

  async trackAnswer (question: QuestionWithAnswer) {
    try {
      const answer: Answer | undefined = question.getAnswer()
      const data = {
        question_id: question.id,
        question_text: question.getCurrentQuestionText(),
        answer_id: answer?.id || null,
        answer_text: answer?.answer || '',
        start_date: this.startDate
      }
      const userAnswerService = new UserAnswerService()
      const userId = this.currentUserId
      await userAnswerService.saveUserAnswer(question.questionnaire_id, userId, data)
    } catch (err) {
      // tslint:disable-next-line:no-console
      console.error('Error saving user answer', err)
    }
  }

  getMaxScore (question: QuestionWithAnswer) {
    let max = -1

    question.answers.forEach((answer: Answer) => {
      if (max < answer.weight) max = answer.weight
    })

    return max
  }
}
</script>

<style lang="scss">

.edit-survey-card .survey-steps {
  max-width: 45%;
  width: 45%;
  height: fit-content;
  position:relative;
  background: var(--v-cardBackground-base);
}

.edit-survey-card {
  background: var(--v-cardBackground-base) !important;
  .edit-survey-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .edit-survey-header-column {
    width: auto;
  }

  .header-section-title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
  }

  .header-section-subtitle {
    width: 60%;
  }

  .edit-survey-header-title {
    margin: 0 16px;
    max-width: 600px;
    font-size: 16px;
    font-weight: 400;
    font-family: "cairo";
  }

  .edit-survey-header-column {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .edit-survey-header-img {
    object-fit: scale-down;
  }

  p.edit-survey-header-text {
    margin: 0 1rem;
    max-width: 600px;
    font-size: 24px;
    font-weight: 600;
    font-family: "cairo";
  }

  .edit-survey-header .v-btn.v-size--large.edit-btn {
    font-size: 16px;
    padding: 16px 32px;
    width: 127px;
    height: 50px;
  }

  .body-survey {
    display: flex;
  }

  .survey-step {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    margin-bottom: 36px;
    position: relative !important;
    background: var(--v-cardBackground-base);
  }

  .info-step {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .step-icon i.v-icon.notranslate {
    color: var(--v-questionnaireIcon-base);
  }

  .v-progress-circular__underlay {
    stroke: lightgray;
    z-index: 1;
  }
  p.step-name {
    max-width: 220px;
  }
  .current-step {
    p.step-name {
      color: var(--v-titleText-base);
      max-width: 220px;
    }

    .step-icon i.v-icon.notranslate {
      background: var(--v-activeTab-base);
      color: var(--v-questionnaireCurrentIcon-base);
    }

    .step-icon {
      border: var(--v-titleText-base);
    }
  }

  .step-status {
    width: 50px;
  }

  p.step-name {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0;
  }

  .step-icon {
    border: solid thin var(--v-questionnaireIcon-base);
  }

  .survey-question {
    width: 75%;
    height: inherit;
    display: inline-block;
    padding: 0rem 20px;
  }

  hr.step-divider-lt.v-divider.v-divider--vertical {
    position: absolute;
    left: 33px;
  }

  hr.step-divider-rt.v-divider.v-divider--vertical {
    position: absolute;
    right: 33px;
  }

  .survey-steps div:last-child {
    margin: 0;
  }

  .v-progress-circular__info {
    color: var(--v-activeTextColor-base) !important;
    background: var(--v-titleText-base);
    width: 70%;
    height: 70%;
    border-radius: 50%;
    font-size: 14px;
  }

}

@media (min-width: 840px) and (max-width: 1024px) {

  p.edit-survey-header-text.font-color {
    width: 30%;
  }
  .edit-survey-card .survey-steps {
    max-width: 60%;
    width: 60%;
    height: fit-content;
    display: inline-block;
  }

  .v-avatar.step-icon {
    height: 35px !important;
    width: 35px !important;
    min-width: 35px !important;
  }

  p.step-name {
    font-size: 12px;
  }

  .v-progress-circular.v-progress-circular--visible.teal--text {
    height: 35px !important;
    width: 35px !important;
  }

  .v-progress-circular__info {
    font-size: 12px !important;
  }

}

@media (max-width: 839px) {
  .edit-survey-card {
    .header-section-title {
      width: fit-content;
      margin-bottom: 8px;
    }

    .header-section-subtitle {
      width: fit-content;
      margin-bottom: 8px;
    }
  }
  .survey-user-header {
    justify-content: center !important;
  }

  .edit-survey-card .edit-survey-header-column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  p.edit-survey-header-title.font-color {
    text-align: center;
  }

  .edit-survey-card .body-survey {
    display: flex;
    flex-direction: column;
  }

  .edit-survey-card .survey-steps {
    max-width: 100%;
    display: inline-block;
    height: fit-content;
    width: 100%;
    align-self: center;
  }

  .edit-survey-card .survey-question {
    width: 100%;
    height: inherit;
    display: inline-block;
    padding: 0rem 20px;
  }

  .body-survey .v-stepper__content {
    padding: 0 !important;
    margin: 0 !important;
  }

  .survey-step {
    display: none !important;
  }

  .survey-step.current-step{
    display: flex !important;
    margin-top: 20px !important;
  }

  hr.step-divider-lt.v-divider.v-divider--vertical,
  hr.step-divider-rt.v-divider.v-divider--vertical {
    display: none;
  }
}
</style>
