<template lang="pug">
  .user-submission-form
    v-row
      v-col.col-12.col-sm-6
        p.label-edit-form.font-color Wählen Sie zunächst das passende Berufsbild aus:
        v-autocomplete.esco-selector(
          v-model="value.occupation"
          :disabled="disabled"
          attach=".esco-selector"
          :menu-props="{ auto: true }"
          hide-details
          outlined
          no-filter
          :items="escoOptions"
          color="activeColor"
          item-color="activeColor"
          placeholder="z.B. Projektmanager:in"
          :search-input.sync="searchInputEsco"
        )
        .caption.mt-1 {{ $t('Esco.disclaimer') }}
      v-col.col-12.col-sm-6
        p.label-edit-form.font-color Arbeitszeit:
        v-select(
          v-model="value.working_times"
          :disabled="disabled"
          outlined
          :items="workingTimesOptions"
          color="activeColor"
          placeholder="z.B. Vollzeit"
          item-color="activeColor"
        )
    v-row
      v-col.col-12.col-sm-6
        p.label-edit-form.font-color Titel der Stelle:
        v-text-field(
          v-model="value.job_position"
          :disabled="disabled"
          color="activeColor"
          placeholder="z.B. Projektleiter:in im E-Commerce"
          outlined
        )
      v-col.col-12.col-sm-6
        p.label-edit-form.font-color Arbeitsort:
        v-autocomplete.location-selector(
          :disabled="disabled"
          v-model="value.location"
          attach=".location-selector"
          :menu-props="{ auto: true }"
          outlined
          no-filter
          :items="locationOptionsCompleted"
          color="activeColor"
          item-color="activeColor"
          placeholder="Postleitzahl eingeben ..."
          :search-input.sync="searchInput"
        )
    .d-flex.justify-end
      v-switch(
        v-model="value.home_office"
        :disabled="disabled"
        label="Home-Office möglich"
      )
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import UserJobPosition from '../../assets/interfaces/UserJobPosition'
import { Getter } from 'vuex-class'
import PLZDatenbankService from '../../services/PLZDatenbankService'
import EscoService from '../../services/EscoService'

@Component
export default class UserSubmissionForm extends Vue {
  @Prop({ required: true }) value!: UserJobPosition
  @Prop({ required: true }) readonly disabled!: boolean

  @Getter('questionnaire/getUserJobPosition') getUserJobPosition!: UserJobPosition

  private delayRequest: any = null
  private delayRequestEsco: any = null
  private escoOptions: string[] = []
  private locationOptions: string[] = []
  private searchInput: string|null = null
  private searchInputEsco: string|null = null
  private workingTimesOptions = [
    {
      text: 'Vollzeit',
      value: 'Vollzeit'
    },
    {
      text: 'Teilzeit',
      value: 'Teilzeit'
    },
    {
      text: 'Beides möglich',
      value: 'Beides möglich'
    }
  ]

  get locationOptionsCompleted (): string[] {
    return ['Ausschließlich Home Office/Remote'].concat(this.locationOptions)
  }

  @Watch('searchInput')
  changeSearchInput (value: string) {
    const searchFunction = () => {
      if (value?.length > 3) {
        this.loadLocationOptions(value)
      }
    }
    if (this.delayRequest) {
      clearTimeout(this.delayRequest)
    }
    this.delayRequest = setTimeout(() => {
      searchFunction()
    }, 300)
  }

  @Watch('searchInputEsco')
  changeSearchInputEsco (value: string) {
    if (this.delayRequestEsco) {
      clearTimeout(this.delayRequestEsco)
    }
    this.delayRequestEsco = setTimeout(() => {
      this.loadEscoOptions(value)
    }, 300)
  }

  @Watch('getUserJobPosition', { deep: true, immediate: true })
  changeGetUserJobPosition () {
    this.value.job_position = this.getUserJobPosition.job_position
    this.value.location = this.getUserJobPosition.location
    this.value.occupation = this.getUserJobPosition.occupation
    this.value.working_times = this.getUserJobPosition.working_times
    this.value.home_office = this.getUserJobPosition.home_office
    if (this.getUserJobPosition.location) {
      this.loadLocationOptions(this.getUserJobPosition.location)
    }
    this.loadEscoOptions(this.getUserJobPosition.occupation)
  }

  async loadLocationOptions (search: string | null) {
    try {
      const newArray: string[] = []
      const plzDatenbankService = new PLZDatenbankService()
      const query = search || ''
      const res = await plzDatenbankService.getRecords(0, 200, query)
      const sorted = res.data?.records?.sort((a: any, b: any) => {
        return parseInt(a.fields?.plz_code) - parseInt(b.fields?.plz_code)
      })
      sorted?.forEach((record: any) => {
        if (record?.fields?.plz_name_long) {
          newArray.push(record.fields.plz_name_long)
        }
      })
      this.locationOptions = newArray
    } catch (err) {
      // tslint:disable-next-line:no-console
      console.error('Error loading data from plz datenbank api', err)
    }
  }

  async loadEscoOptions (search: string | null) {
    try {
      const newArray: string[] = []
      const escoService = new EscoService()
      const query = search || ''
      const res = await escoService.getOccupations(0, 10, query)
      res.data?._embedded?.results?.forEach((elem: any) => {
        if (elem?.title) {
          newArray.push(elem.title)
        }
      })
      this.escoOptions = newArray
    } catch (err) {
      // tslint:disable-next-line:no-console
      console.error('Error loading esco occupations', err)
    }
  }
}
</script>
<style lang="sass">
  .location-selector, .esco-selector
    .v-menu__content
      left: 0 !important
</style>
