<template lang="pug">
  .user-fields-kira-employer
    .edit-body-column
      .column
        p.label-edit-form.font-color Branche
        v-select.edit-zone-select(
          v-model="value.sector"
          outlined
          :items="sectorOptions"
          color="activeColor"
          item-color="activeColor"
        )
      .column
        p.label-edit-form.font-color Unternehmensgröße
        v-select.edit-zone-select(
          v-model="value.company_size"
          outlined
          :items="companySizeOptions"
          color="activeColor"
          item-color="activeColor"
        )
    .edit-body-column
      .column
        .d-flex.justify-space-between.align-start
          p.label-edit-form.font-color Benefits
          v-tooltip(bottom)
            template(v-slot:activator="{ on }")
              v-icon(v-on="on") mdi-information-outline
            span Welche Vorteile kann Ihr Unternehmen einem Mitarbeitenden anbieten? Bitte alle Vorteile auswählen.
        v-select.edit-zone-select(
          v-model="value.benefits"
          multiple
          outlined
          :items="benefitsOptions"
          color="activeColor"
          item-color="activeColor"
        )
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class UserFieldsKiraEmployer extends Vue {
  @Prop({ required: true }) value!: Object

  private benefitsOptions = [
    {
      text: 'Homeoffice',
      value: 'Homeoffice'
    },
    {
      text: 'flex. Arbeitszeiten',
      value: 'flex. Arbeitszeiten'
    },
    {
      text: 'Mobiles Arbeiten',
      value: 'Mobiles Arbeiten'
    },
    {
      text: 'Kinderbetreuung',
      value: 'Kinderbetreuung'
    },
    {
      text: 'Mitarbeiter-Events',
      value: 'Mitarbeiter-Events'
    },
    {
      text: 'Kantine / Essenzulagen',
      value: 'Kantine / Essenzulagen'
    },
    {
      text: 'Gesundheitsförderung / -maßnahmen',
      value: 'Gesundheitsförderung / -maßnahmen'
    },
    {
      text: 'Mitarbeiter-Beteiligung',
      value: 'Mitarbeiter-Beteiligung'
    },
    {
      text: 'betriebliche Altersvorsorge',
      value: 'betriebliche Altersvorsorge'
    },
    {
      text: 'Vermögenswirksame Leistungen',
      value: 'Vermögenswirksame Leistungen'
    },
    {
      text: 'Fortbildungsangebote',
      value: 'Fortbildungsangebote'
    },
    {
      text: 'Mitarbeiter-Rabatte',
      value: 'Mitarbeiter-Rabatte'
    },
    {
      text: 'Parkplatz',
      value: 'Parkplatz'
    },
    {
      text: 'Hunde geduldet',
      value: 'Hunde geduldet'
    },
    {
      text: 'gute Verkehrsanbindung',
      value: 'gute Verkehrsanbindung'
    },
    {
      text: 'Job-Rotation',
      value: 'Job-Rotation'
    },
    {
      text: 'Job-Sharing',
      value: 'Job-Sharing'
    },
    {
      text: 'internationale Arbeitseinsätze möglich',
      value: 'internationale Arbeitseinsätze möglich'
    }
  ]

  private companySizeOptions = [
    {
      text: 'Weniger als 50',
      value: 'Weniger als 50'
    },
    {
      text: 'Weniger als 100',
      value: 'Weniger als 100'
    },
    {
      text: 'Weniger als 500',
      value: 'Weniger als 500'
    },
    {
      text: 'Weniger als 1000',
      value: 'Weniger als 1000'
    },
    {
      text: 'Weniger als 5000',
      value: 'Weniger als 5000'
    },
    {
      text: 'Weniger als 10.000',
      value: 'Weniger als 10.000'
    },
    {
      text: '10.000 und mehr',
      value: '10.000 und mehr'
    }
  ]

  private sectorOptions = [
    {
      text: 'Land- und Forstwirtschaft / Rohstoffe',
      value: 'Land- und Forstwirtschaft / Rohstoffe'
    },
    {
      text: 'Produzierendes Gewerbe / Industrie',
      value: 'Produzierendes Gewerbe / Industrie'
    },
    {
      text: 'Energie- und Wasserversorgung / Umwelt',
      value: 'Energie- und Wasserversorgung / Umwelt'
    },
    {
      text: 'Handwerk',
      value: 'Handwerk'
    },
    {
      text: 'Handel',
      value: 'Handel'
    },
    {
      text: 'IT, Medien und Telekommunikation',
      value: 'IT, Medien und Telekommunikation'
    },
    {
      text: 'Verkehr, Transport und Logistik',
      value: 'Verkehr, Transport und Logistik'
    },
    {
      text: 'Banken und Versicherungen',
      value: 'Banken und Versicherungen'
    },
    {
      text: 'Dienstleistungen',
      value: 'Dienstleistungen'
    },
    {
      text: 'Öffentlicher Sektor',
      value: 'Öffentlicher Sektor'
    },
    {
      text: 'Gesundheits- und Bildungssektor',
      value: 'Gesundheits- und Bildungssektor'
    },
    {
      text: 'Sonstiges',
      value: 'Sonstiges'
    }
  ]
}
</script>
