<template lang="pug">
  .user-fields-red
    p.label-edit-form.font-color {{ $t("Form.companyName") }}
    v-text-field.input-form.font-color(
      v-model="value.company"
      color="activeColor"
      outlined
      prepend-inner-icon="mdi-office-building-outline"
      :disabled="!isEditing"
    )
    .edit-body-column
      .column
        p.label-edit-form.font-color {{ $t("Form.citiesOperation") }}
        v-select.edit-zone-select(
          outlined
          multiple
          v-model="value.cities"
          :items="items"
          item-text="name"
          item-value="code"
          color="activeColor"
          item-color="activeColor"
          attach=".edit-zone-select"
          prepend-inner-icon="mdi-map-marker-outline"
          :disabled="!isEditing"
        )
        .edit-select
      .column
        p.label-edit-form.font-color {{ $t("Form.numberEmployees") }}
        v-text-field.edit-input-form(
          v-model="value.employees_amount"
          color="activeColor"
          style="min-height: 50px"
          type="number"
          outlined
          prepend-inner-icon="mdi-account-group-outline"
          :disabled="!isEditing"
        )
    .edit-body-column
      .column
        p.label-edit-form.font-color {{ $t("Form.ongoingProjects") }}
        v-text-field.edit-input-form(
          v-model="value.ongoing_projects"
          color="activeColor"
          type="number"
          outlined
          prepend-inner-icon="mdi-newspaper-variant-multiple-outline"
          :disabled="!isEditing"
        )
      .column
        p.label-edit-form.font-color {{ $t("Form.totalProjects") }}
        v-text-field.edit-input-form(
          v-model="value.total_projects"
          color="activeColor"
          style="min-height: 50px"
          type="number"
          outlined
          prepend-inner-icon="mdi-pencil-ruler"
          :disabled="!isEditing"
        )

</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class UserFieldsRed extends Vue {
  @Prop({ required: true }) value!: Object
  @Prop({ default: false }) isEditing!: boolean

  private items = [
    {
      name: this.$t('Form.city.Riyadh'),
      code: 1
    },
    {
      name: this.$t('Form.city.Makkah'),
      code: 2
    },
    {
      name: this.$t('Form.city.Madinah'),
      code: 3
    },
    {
      name: this.$t('Form.city.Tabuk'),
      code: 4
    },
    {
      name: this.$t('Form.city.AlJawf'),
      code: 5
    },
    {
      name: this.$t('Form.city.Hail'),
      code: 6
    },
    {
      name: this.$t('Form.city.AlQassim'),
      code: 7
    },
    {
      name: this.$t('Form.city.NorthernBordersProvince'),
      code: 8
    },
    {
      name: this.$t('Form.city.EasternProvince'),
      code: 9
    },
    {
      name: this.$t('Form.city.Najran'),
      code: 10
    },
    {
      name: this.$t('Form.city.Jazan'),
      code: 11
    },
    {
      name: this.$t('Form.city.Aseer'),
      code: 12
    },
    {
      name: this.$t('Form.city.AlBahah'),
      code: 13
    }
  ]
}
</script>
