<template lang="pug">
  v-card.user-submission-kira.mt-4.pt-4.px-4.px-sm-14.edit-card(outlined)
    v-card-title.edit-user-header
      div.header-section-subtitle
        p.edit-header-title.font-color Beschreiben Sie jetzt die konkrete Stelle, für die Sie ein KIRA-Profil erstellen wollen.
      div.header-section-title
        p.edit-header-text.font-color Neues Stellenprofil anlegen
        p.section-title.ms-4.generalText--text  {{ currentTabIndex + '.' }}
        v-avatar(color="activeColor" size="65")
          v-icon(color="activeTextColor" ) mdi-account-tag
    v-divider
    v-card-text
      .py-8
        user-submission-form(
          v-model="submissionInfo"
          :disabled="formComplete"
        )
        .d-flex.flex-wrap.justify-center.justify-md-space-between.align-center
          .report-link(v-if="hasSubmissions")
            span.label-edit-form.font-color Bereits angelegte Profile finden Sie unter dem Tab
            a.label-edit-form.ms-1.text-decoration-underline(
              @click="goToReportTab"
            ) Report.
          v-spacer
          v-btn.btn-survey.btn-next-form.tabsTextColor--text.mt-4.mt-md-0(
            v-if="formComplete"
            color="colorTab"
            @click="$emit('retakeSurvey')"
          )
            span {{ $t('Questionnaire.retakeSurveySubmission') }}
            v-icon.ms-2(small) mdi-undo-variant
          v-btn(
            v-else
            color="primary"
            large
            @click="saveUser"
          ) {{ $t("save") }}

</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'

import { GO_TO_QUESTIONNAIRE } from '../../services/constants'
import UserJobPosition from '../../assets/interfaces/UserJobPosition'
import UserSubmissionForm from '../Steps/UserSubmissionForm.vue'
import Submission from '../../assets/interfaces/Submission'

@Component({
  components: { UserSubmissionForm }
})
export default class UserSubmissionKira extends Vue {
  @Prop({ required: true }) readonly currentTabIndex!: number
  @Prop({ required: true }) readonly formComplete!: boolean

  @Getter('user/getUserSubmissions') getUserSubmissions!: Submission[]

  @Action('questionnaire/registerUserJobPosition') registerUserJobPosition!: (userJobPosition: UserJobPosition) => void

  private submissionInfo: UserJobPosition = {
    job_position: '',
    home_office: false,
    location: '',
    occupation: '',
    working_times: ''
  }

  get hasSubmissions (): boolean {
    return !!this.getUserSubmissions.length
  }

  goNextTab () {
    this.$emit('changeTab', GO_TO_QUESTIONNAIRE)
  }

  goToReportTab () {
    this.$emit('changeTab', 'action-initiative-select')
  }

  async saveUser () {
    this.registerUserJobPosition(this.submissionInfo)
    this.goNextTab()
  }
}
</script>

<style lang="scss">
.font-color {
  color: var(--v-generalText-base);
}

.edit-card {
  background: var(--v-cardBackground-base) !important;
  .edit-user-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .header-section-title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
  }

  p.section-title.ms-4 {
    white-space: nowrap;
  }

  .header-section-action {
    width: 20%;
    text-align: end;
  }

  .header-section-subtitle {
    width: 50%;
  }

  .edit-header-title {
    margin: 0 1rem;
    max-width: 600px;
    font-size: 16px;
    font-weight: 400;
    font-family: "cairo";
  }

  .label-edit-form {
    font-size: 20px;
  }

  .edit-header-img {
    object-fit: scale-down;
  }

  p.edit-header-text {
    margin: 0 1rem;
    max-width: 600px;
    font-size: 24px;
    font-weight: 600;
    font-family: "cairo";
  }

  .edit-user-header .v-btn.v-size--large.edit-btn {
    font-size: 16px;
    padding: 16px 32px;
    width: auto;
    height: 50px;
  }

  .edit-btni.v-icon.notranslate.mdi.mdi-square-edit-outline.theme--light {
    font-size: 16px;
  }

  .edit-form {
    padding: 32px 100px 15px 100px;

    i, input, .v-select__selections {
      color: var(--v-editFormColor-base)
    }
  }

  .theme--light.v-label {
    color: var(--v-generalText-base);
    font-size: 20px;
  }

  .cancel-edit-btn,
  .save-edit-btn {
    font-size: 16px;
    text-transform: capitalize !important;
    height: 55px !important;
  }

  .v-list-item__action,
  .v-list-item__content {
    display: inline-block;
  }

  @media (min-width: 840px) and (max-width: 1024px) {
    p.edit-header-title.font-color {
      max-width: 330px;
    }

    .edit-card .edit-form {
      padding: 32px 80px 15px 80px;
    }
  }

  @media (max-width: 839px) {
    .edit-user-header {
      flex-direction: column-reverse;
    }

    .header-section-title {
      width: fit-content;
      margin-bottom: 8px;
    }
    .header-section-action {
      width: fit-content;
      margin-bottom: 8px;
    }

    .header-section-subtitle {
      width: fit-content;
      margin-bottom: 8px;
    }
    .edit-header-title {
      font-size: 13px;
      text-align: center;
    }

    p.edit-header-text {
      font-size: 16px;
    }
    .edit-form {
      padding: 32px 5px 15px 5px;
    }
  }
}
</style>
