<template lang="pug">
  .user-fields-education
    .edit-body-column
      .column
        p.label-edit-form.font-color {{ $t("Form.gender.label") }}
        v-select.edit-zone-select(
          v-model="value.gender"
          outlined
          :items="genderOptions"
          color="activeColor"
          item-color="activeColor"
          :disabled="!isEditing"
        )
      .column
        p.label-edit-form.font-color {{ $t("Form.age.label") }}
        v-select.edit-zone-select(
          v-model="value.age_range"
          outlined
          :items="ageOptions"
          color="activeColor"
          item-color="activeColor"
          :disabled="!isEditing"
        )
    .edit-body-column
      .column
        p.label-edit-form.font-color {{ $t("Form.education.label") }}
        v-select.edit-zone-select(
          v-model="value.education"
          outlined
          :items="educationOptions"
          color="activeColor"
          item-color="activeColor"
          :disabled="!isEditing"
        )
      .column
        p.label-edit-form.font-color {{ $t("Form.employment.label") }}
        v-select.edit-zone-select(
          v-model="value.employment"
          outlined
          :items="employmentOptions"
          color="activeColor"
          item-color="activeColor"
          :disabled="!isEditing"
        )
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class UserFieldsEducation extends Vue {
  @Prop({ required: true }) value!: Object
  @Prop({ default: false }) isEditing!: boolean

  private ageOptions = [
    {
      text: this.$t('Form.age.options.option1'),
      value: '0'
    },
    {
      text: this.$t('Form.age.options.option2'),
      value: '1'
    },
    {
      text: this.$t('Form.age.options.option3'),
      value: '2'
    }
  ]

  private educationOptions = [
    {
      text: this.$t('Form.education.options.option1'),
      value: '0'
    },
    {
      text: this.$t('Form.education.options.option2'),
      value: '1'
    },
    {
      text: this.$t('Form.education.options.option3'),
      value: '2'
    },
    {
      text: this.$t('Form.education.options.option4'),
      value: '3'
    },
    {
      text: this.$t('Form.education.options.option5'),
      value: '4'
    },
    {
      text: this.$t('Form.education.options.option6'),
      value: '5'
    },
    {
      text: this.$t('Form.education.options.option7'),
      value: '6'
    },
    {
      text: this.$t('Form.education.options.option8'),
      value: '7'
    },
    {
      text: this.$t('Form.education.options.option9'),
      value: '8'
    }
  ]

  private employmentOptions = [
    {
      text: this.$t('Form.employment.options.option1'),
      value: '0'
    },
    {
      text: this.$t('Form.employment.options.option2'),
      value: '1'
    },
    {
      text: this.$t('Form.employment.options.option3'),
      value: '2'
    },
    {
      text: this.$t('Form.employment.options.option4'),
      value: '3'
    },
    {
      text: this.$t('Form.employment.options.option5'),
      value: '4'
    },
    {
      text: this.$t('Form.employment.options.option6'),
      value: '5'
    },
    {
      text: this.$t('Form.employment.options.option7'),
      value: '6'
    },
    {
      text: this.$t('Form.employment.options.option8'),
      value: '7'
    }
  ]

  private genderOptions = [
    {
      text: this.$t('Form.gender.options.m'),
      value: 'm'
    },
    {
      text: this.$t('Form.gender.options.f'),
      value: 'f'
    },
    {
      text: this.$t('Form.gender.options.d'),
      value: 'o'
    }
  ]
}
</script>
