<template lang="pug">
  .user-fields-company
    p.label-edit-form.font-color {{ $t("Form.companyName") }}
    v-text-field.input-form.font-color(
      v-model="value.company"
      color="activeColor"
      outlined
      prepend-inner-icon="mdi-office-building-outline"
      :disabled="!isEditing"
    )
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class UserFieldsCompany extends Vue {
  @Prop({ required: true }) value!: Object
  @Prop({ default: false }) isEditing!: boolean
}
</script>
