<template lang="pug">
  v-container
    .scoreboard-container.consultant-list-summary
      v-card.scoreboard-filter-container.mb-8(v-if="questionnaires.length > 0")
        p.user-list-title {{ $t('Scoreboard.selectDeveloper') }}
        .scoreboard-filter-user.me-4
          v-autocomplete.users-list(
            outlined
            v-model="emailSelected"
            :items="usersInSelect"
            :item-text="getNameForSelector"
            item-value="email"
            :prepend-inner-icon="userSelectorIcon()"
            append-icon="mdi-chevron-down"
            background-color="adminInputBackground"
            attach=".users-list"
            :menu-props="{ offsetY: true, marginTop: '8px' }"
            @change="userSelected"
            @click="selectText"
            @update:search-input="searchUser($event)"
          )
            template(#item="{ item }")
              v-icon.me-4 {{ getUserIcon(item) }}
              span {{ getNameForSelector(item) }}
        v-spacer
        .d-flex.justify-center
          v-btn.adminActiveTextColor--text(
            v-if="emailSelected && Object.keys(userInitiatives).length === 0"
            @click="takeSurvey"
            color="activeColor"
          ) {{ $t('Scoreboard.takeSurvey') }}
      .scoreboard-user-initiative-data
        ScoreboardUserData(
          v-if="selectedUser"
          :allow-edit="true"
          :selected-user="selectedUser"
          @reFetch="reFetch"
        )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'

import ScoreboardAside from '../Scoreboard/components/ScoreboardAside.vue'
import ScoreboardUserData from '../Scoreboard/components/ScoreboardUserData.vue'
import QuestionnaireService from '../../services/questionnaireService'
import { CONSULTANT_QUESTIONNAIRE_SLUG, MAIN_QUESTIONNAIRE_SLUG } from '../../services/constants'
import UserService from '../../services/userService'
import { User } from '../../store/modules/user/types'
import { Questionnaire } from '../../store/modules/questionnaire/types'
import InitiativesUser from '../../assets/interfaces/InitiativesUser'
import BaseUser from '../../assets/interfaces/BaseUser'

@Component({
  components: {
    ScoreboardAside,
    ScoreboardUserData
  }
})
export default class ConsultantListSummary extends Vue {
  @Action('admin/loadInitiativesScoreboard') loadInitiativesScoreboard: any
  @Action('admin/loadUserScoreboard') loadUserScoreboard: any
  @Action('user/loadUserInitiatives') loadUserInitiatives!: (filters: object) => Promise<void>
  @Action('setIsLoading') setIsLoading: any
  @Action('questionnaire/loadQuestionnaire') loadQuestionnaire!: (slug: string) => Promise<void>
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire: Questionnaire | undefined
  @Getter('user/getUserInitiatives') getUserInitiatives!: InitiativesUser[]
  @Getter('admin/getInitiativesScoreboard') getInitiativesScoreboard: any
  @Getter('user/getUser') getUser!: User

  private allUsers: BaseUser[] = []
  private emailSelected: string | null = null
  private qnrSlug: string = ''
  private questionnaires: Questionnaire[] = []
  private selectedUser: BaseUser | null = null
  private timeout: any
  private userInitiatives: InitiativesUser[] = []
  private usersInSelect: BaseUser[] = []
  private consultantUserIds: number[] = []

  get currentSelectedUserId (): number | undefined {
    if (!this.selectedUser) {
      return undefined
    }
    return this.selectedUser.id
  }

  get getQuestionnaireId () {
    return this.getQuestionnaire?.id
  }

  @Watch('selectedUser')
  async selectUser () {
    if (this.getQuestionnaire) {
      await this.loadData()
    }
  }

  @Watch('getUser')
  async QuestionnaireData () {
    await this.initData()
  }

  async created () {
    if (this.getUser.token.access_token) {
      this.setIsLoading(true)

      const questionnaireService = new QuestionnaireService()
      this.questionnaires = await questionnaireService.getQuestionnaires()

      const consultantQnr: Questionnaire | undefined = this.questionnaires.find((qnr: Questionnaire) => {
        return qnr.slug === CONSULTANT_QUESTIONNAIRE_SLUG
      })
      if (consultantQnr) {
        this.qnrSlug = CONSULTANT_QUESTIONNAIRE_SLUG
      } else {
        this.setIsLoading(false)
        this.$router.push('questionnaire')
      }
      await this.loadUsers()
      if (!await this.isUserFromUrlLoaded() && this.getQuestionnaire) {
        await this.loadData()
      }
      if (this.qnrSlug) {
        await this.initData()
      }
    }
  }

  async isUserFromUrlLoaded () {
    if (Object.keys(this.$route.query).length > 0 && this.$route.query.user_id) {
      const userService = new UserService([])
      const user = {
        id: this.$route.query.user_id
      }
      const usr: BaseUser = await userService.getUserData(user.id)
      this.emailSelected = usr.email
      this.usersInSelect.push(usr)
      this.selectedUser = usr
      return true
    } else {
      return false
    }
  }

  getNameForSelector (user: BaseUser): string {
    const email = ' (' + user.email + ')'
    if (user.company) {
      return user.company + email
    }
    return user.email
  }

  getUserIcon (user: BaseUser): string {
    const icon: string = ''
    if (!user.default_questionnaire) {
      return icon
    }
    const qnrs = this.questionnaires.filter((qnr: Questionnaire) => {
      return qnr.slug === user.default_questionnaire
    })
    if (qnrs[0]) {
      const qnr: Questionnaire = qnrs[0]
      return qnr.icon
    }
    return icon
  }

  async initData () {
    if (this.getUser.token.access_token && this.qnrSlug) {
      await this.loadQuestionnaire(this.qnrSlug)
      if (!await this.isUserFromUrlLoaded()) {
        await this.loadData()
      }
      this.setIsLoading(false)
    }
  }

  async loadData () {
    if (this.selectedUser) {
      await this.userScoreboardData()
    } else {
      this.userInitiatives = []
    }
  }

  async loadUsers () {
    const userService = new UserService([])
    const consultantQnr: Questionnaire | undefined = this.questionnaires.find((qnr: Questionnaire) => {
      return qnr.slug === CONSULTANT_QUESTIONNAIRE_SLUG
    })
    const mainQnr: Questionnaire | undefined = this.questionnaires.find((qnr: Questionnaire) => {
      return qnr.slug === MAIN_QUESTIONNAIRE_SLUG
    })
    if (consultantQnr && mainQnr && this.getUser.parent_id) {
      const res = await userService.getUsersByQuestionnaires(mainQnr.id, consultantQnr.id)
      this.consultantUserIds = Object.values(res)
      const usersList: BaseUser[] = await userService.getSmeUsersSearch(
        this.getUser.parent_id,
        '',
        this.consultantUserIds
      )
      if (usersList) {
        usersList.map((user: BaseUser) => {
          this.usersInSelect.push(user)
          this.allUsers.push(user)
          return user
        })
      }
    }
  }

  reFetch () {
    this.allUsers = []
    this.usersInSelect = []
    this.loadUsers()
  }

  async searchUser (search: string | null) {
    clearTimeout(this.timeout)
    this.timeout = setTimeout(async () => {
      if (search) {
        this.setIsLoading(true)
        const userService = new UserService([])
        const usersList: BaseUser[] = await userService.getSmeUsersSearch(
          this.getUser.parent_id,
          search,
          this.consultantUserIds
        )

        if (usersList.length > 0) {
          usersList.map((user: BaseUser) => {
            if (this.usersInSelect.findIndex((usr: BaseUser) => usr.email === user.email) === -1) {
              this.usersInSelect.push(user)
              this.allUsers.push(user)
            }
            return user
          })
        }
      }
      this.setIsLoading(false)
    }, 400)
  }

  selectText ($event: any) {
    $event.target.select()
  }

  async takeSurvey () {
    await this.$router.push({ path: `edit/${this.qnrSlug}?srcUserId=${this.currentSelectedUserId}` })
  }

  userSelected () {
    const listOfOne: BaseUser[] = this.allUsers.filter((user: BaseUser) => {
      return user.email === this.emailSelected
    })
    this.selectedUser = listOfOne[0]
    const query: any = { user_id: this.currentSelectedUserId }
    this.$router.push({ path: this.$route.path, query })
  }

  userSelectorIcon () {
    if (this.selectedUser) {
      return this.getUserIcon(this.selectedUser)
    }
    return 'mdi-magnify'
  }

  async userScoreboardData () {
    this.setIsLoading(true)
    this.userInitiatives = []
    await this.loadUserScoreboard({
      id: this.currentSelectedUserId,
      questionnaireId: this.getQuestionnaireId
    })

    await this.loadUserInitiatives({
      userId: this.currentSelectedUserId,
      questionnaireId: this.getQuestionnaireId
    })
    this.userInitiatives = this.getUserInitiatives
    this.setIsLoading(false)
  }
}
</script>

<style lang="scss">

.scoreboard-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  .scoreboard-filter-container.v-card.v-sheet {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: var(--v-adminCard-base);
    margin-top: 120px;
    min-height: 130px;
    padding: 28px;
    z-index: 1;
  }

  .scoreboard-filter-user {
    width: 45%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .v-input.users-list {
      .v-list {
        background: var(--v-adminInputBackground-base);
      }
      input,
      .v-list-item__title,
      i, .initiative-tag .v-list-item--active,
      div.v-application .primary--text {
        color: var(--v-adminInputText-base) !important;
      }
      .v-menu__content.theme--light.menuable__content__active {
        margin-top: 14px;
      }
      .v-select__selection.v-select__selection--comma {
        margin: 0 8px;
      }
      .v-text-field__details {
        display: none;
      }
      .v-input__slot.white {
        margin: 0;
      }
    }
  }

  p.user-list-title {
    margin: 0;
    color: var(--v-adminTitleText-base);
    font-size: 18px;
    font-weight: 600;
    width: 15%;
  }
  .consultant-summary-body {
    .scoreboard-aside{
      width: 34%;
    }

    .scoreboard-aside {
      background: none;
      height: fit-content;
      box-shadow: none !important;
    }
  }
  @media (max-width: 1263px) {

    .scoreboard-filter-container.v-card.v-sheet {
      flex-direction: column;
    }

    p.user-list-title {
      width: 100%;
      text-align: start;
      margin-bottom: 14px;
    }

    .scoreboard-filter-user {
      width: 100%;
      margin: 0 0 22px 0;
    }
  }

  @media (max-width: 1024px) {
    .scoreboard-aside {
      width: 100% !important;
      margin-bottom: 16px;
    }
    .consultant-summary-body {
      width: 100%;
    }
  }

  @media (max-width: 570px) {
    .scoreboard-filter-container.v-card.v-sheet {
      margin-top: 145px;
    }
    .scoreboard-filter-user.me-4 {
      margin: 0 0 16px 0 !important;
    }
  }
}
</style>
