<template lang="pug">
  v-progress-circular.circular-progress(
    :rotate="-90"
    :size="size"
    :width="width"
    :value="value"
    :color="optionsProgress(value).color"
  )
    .percentage-display(v-if="displayPercentageIcon")
      v-img(v-if="optionsProgress(value).img" :height="imgSize" :width="imgSize" :src="optionsProgress(value).img")
      v-icon(
        v-else
        :color="optionsProgress(value).color"
      ) mdi-thumb-up mdi-rotate-{{ optionsProgress(value).rotate }}
    p(v-else :style="`color: ${textColor}`")
      | {{ Math.round(value) }}
      span.percentage(v-if="percentage" :style="`color: ${textColor}`") %
</template>
<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import levelHelper from '../../lib/util/levelHelper'
import LevelIndicator from '../../assets/interfaces/LevelIndicator'

@Component({
  components: {}
})
export default class CircularProgress extends Vue {
  @Prop({ required: true }) value!: number
  @Prop({ required: true }) size: any
  @Prop({ required: true }) width: any
  @Prop({ required: true }) percentage: any
  @Prop({ required: false }) textColor: any
  @Prop({ default: false }) displayPercentageIcon!: boolean

  get imgSize (): Number {
    const size = parseInt(this.size)
    return 0.8 * size
  }

  optionsProgress (value: number): LevelIndicator {
    return levelHelper(this, value)
  }
}
</script>
<style lang="scss">
.circular-progress p{
  margin: 0;
}
</style>
