<template lang="pug">
  v-combobox.esco-occupation-selector(
    v-model="internalValue"
    :items="escoOccupations"
    :menu-props="{ auto: true }"
    hide-details
    outlined
    no-filter
    :search-input.sync="searchInputEsco"
    :label="label"
  )
</template>
<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import EscoService from '../../services/EscoService'
import { TranslateResult } from 'vue-i18n'

@Component({
  components: {}
})
export default class UserProfileDialog extends Vue {
  @Prop({ required: true }) value!: string
  @Prop({ default: '' }) label!: TranslateResult

  private delayRequestEsco: any = null
  private escoOccupations: string[] = []
  private internalValue: string = ''
  private searchInputEsco: string|null = null

  @Watch('searchInputEsco')
  changeSearchInputEsco (value: string) {
    if (this.delayRequestEsco) {
      clearTimeout(this.delayRequestEsco)
    }
    this.delayRequestEsco = setTimeout(() => {
      this.loadEscoOccupations(value)
    }, 300)
  }

  @Watch('internalValue')
  changeInternalValue (value: string) {
    this.$emit('input', value)
  }

  @Watch('value', { immediate: true })
  changeValue (value: string) {
    this.internalValue = value
  }

  mounted () {
    this.loadEscoOccupations()
  }

  async loadEscoOccupations (search: string | null = '') {
    try {
      const newArray: string[] = []
      const escoService = new EscoService()
      const query = search || ''
      const res = await escoService.getOccupations(0, 10, query)
      res.data?._embedded?.results?.forEach((elem: any) => {
        if (elem?.title) {
          newArray.push(elem.title)
        }
      })
      this.escoOccupations = newArray
    } catch (err) {
      // tslint:disable-next-line:no-console
      console.error('Error loading esco occupations', err)
    }
  }
}
</script>
