<template lang="pug">
  v-autocomplete.esco-skills-selector(
    v-model="internalValue"
    :items="escoSkills"
    item-text="title"
    item-value="uri"
    :menu-props="{ auto: true }"
    hide-details
    outlined
    chips
    small-chips
    deletable-chips
    multiple
    cache-items
    return-object
    :search-input.sync="searchInputEsco"
    :label="label"
    @change="searchInputEsco = ''"
  )
</template>
<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import EscoService from '../../services/EscoService'
import { TranslateResult } from 'vue-i18n'
import SkillSimplified from '../../assets/interfaces/SkillSimplified'

@Component({
  components: {}
})
export default class UserProfileDialog extends Vue {
  @Prop({ required: true }) value!: SkillSimplified[]
  @Prop({ default: '' }) label!: TranslateResult

  private delayRequestEsco: any = null
  private escoSkills: SkillSimplified[] = []
  private internalValue: SkillSimplified[] = []
  private searchInputEsco: string|null = null

  @Watch('searchInputEsco')
  changeSearchInputEsco (value: string) {
    if (this.delayRequestEsco) {
      clearTimeout(this.delayRequestEsco)
    }
    this.delayRequestEsco = setTimeout(() => {
      this.loadEscoSkills(value)
    }, 300)
  }

  @Watch('internalValue')
  changeInternalValue (value: SkillSimplified[]) {
    this.$emit('input', value)
  }

  @Watch('value', { immediate: true })
  changeValue (value: SkillSimplified[]) {
    this.internalValue = value
    value.forEach((selected: SkillSimplified) => {
      const isIncluded = this.escoSkills.find((skill: SkillSimplified) => {
        return skill.uri === selected.uri
      })
      if (!isIncluded) {
        this.escoSkills.push(selected)
      }
    })
  }

  mounted () {
    this.loadEscoSkills()
  }

  async loadEscoSkills (search: string | null = '') {
    try {
      const newArray: SkillSimplified[] = []
      const escoService = new EscoService()
      const query = search || ''
      const res = await escoService.getSkills(0, 10, query)
      res.data?._embedded?.results?.forEach((elem: any) => {
        newArray.push({
          title: elem.title,
          uri: elem.uri
        })
      })
      this.escoSkills = newArray
    } catch (err) {
      // tslint:disable-next-line:no-console
      console.error('Error loading esco skills', err)
    }
  }
}
</script>
