<template lang="pug">
  v-dialog.admin-dashboard-example-dialog(v-model="dialog" max-width="800")
    v-card
      v-card-title
        span {{ $t('DemoModals.adminDashboardExample.title') }}
      v-card-text
        v-row
          v-col.col-12.col-sm-6
            span.subtitle-1(v-html="$t('DemoModals.adminDashboardExample.text')" )
          v-col.col-12.col-sm-6.d-flex.justify-center.align-center
            v-img(
              src="https://d1b7ym3z97f6gf.cloudfront.net/s/img/skills-dashboard.jpg"
            )
      v-card-actions.d-flex.justify-end.flex-wrap.pa-6
        v-btn.activeTextColor--text.mt-4.mt-sm-0(
          color="activeColor"
          large
          @click="nextDialog"
        ) {{ $t('Weiter') }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Action } from 'vuex-class'

@Component
export default class AdminDashboardExampleDialog extends Vue {
  private dialog: boolean = true
  @Action('increaseDemoStep') increaseDemoStep!: () => void

  @Watch('dialog')
  changeDialog (value: boolean) {
    if (!value) {
      this.$emit('close-dialog')
    }
  }

  nextDialog () {
    this.dialog = false
    this.increaseDemoStep()
  }
}
</script>
