<template lang="pug">
  .demo-modals
    v-btn(
      v-if="showFloatingButton"
      color="primary"
      x-large
      fab
      fixed
      bottom
      elevation="12"
      :right="!$vuetify.rtl"
      :left="$vuetify.rtl"
      @click="openModal = true"
    )
      v-icon mdi-help
    component(
      v-if="openModal && modalComponent"
      :is="modalComponent"
      @close-dialog="openModal = false"
    )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import { DEMO_MODAL_STORAGE_KEY } from '../../services/constants'

@Component({
  components: {
    AdminDashboardExample: () => import('./AdminDashboardExampleDialog.vue'),
    SaveResultsModal: () => import('./SaveResultsDialog.vue'),
    RedirectDialog: () => import('./RedirectDialog.vue'),
    WelcomeDialog: () => import('./WelcomeDialog.vue')
  }
})
export default class DemoModals extends Vue {
  private openModal: boolean = false

  @Getter('demoStep') step!: number

  @Action('setDemoStep') setDemoStep!: (step: number) => void

  get modalComponent (): string {
    switch (this.step) {
      case 1:
        return 'welcome-dialog'
      case 2:
        return 'save-results-modal'
      case 3:
        return 'admin-dashboard-example'
      case 4:
        return 'redirect-dialog'
      default:
        return ''
    }
  }

  get showFloatingButton (): boolean {
    return !this.openModal && !!this.modalComponent
  }

  @Watch('step')
  changeStep (value: number) {
    const stepInStorage: number = parseInt(window.localStorage.getItem(DEMO_MODAL_STORAGE_KEY) || '')
    if (value && value !== stepInStorage) {
      if (this.modalComponent) {
        this.openModal = true
      }
      window.localStorage.setItem(DEMO_MODAL_STORAGE_KEY, value + '')
    }
  }

  mounted () {
    const stepInStorage: number = parseInt(window.localStorage.getItem(DEMO_MODAL_STORAGE_KEY) || '')
    if (stepInStorage) {
      this.setDemoStep(stepInStorage)
    }
  }
}
</script>
