<template lang="pug">
  v-dialog.redirect-dialog(v-model="dialog" max-width="600")
    v-card
      v-card-title
        span {{ $t('DemoModals.redirectDialog.title') }}
      v-card-text
        v-row
          v-col.col-12.col-sm-6
            span.subtitle-1(v-html="$t('DemoModals.redirectDialog.text')" )
          v-col.col-12.col-sm-6.d-flex.justify-center.align-center
            v-img(
              src="https://d1b7ym3z97f6gf.cloudfront.net/s/img/lernwelt.jpg"
            )
      v-card-actions.d-flex.justify-space-between.flex-wrap.pa-6
        issue-credentials-btn(@close-dialog="dialog = false")
        v-btn.activeTextColor--text.mt-4.mt-sm-0(
          color="activeColor"
          large
          @click="redirect"
        ) {{ $t('Weiter') }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Action } from 'vuex-class'
import issueCredentialsBtn from '../SSIWallet/issueCredentialsBtn.vue'

@Component({
  components: {
    issueCredentialsBtn
  }
})
export default class DemoModals extends Vue {
  private dialog: boolean = true
  @Action('increaseDemoStep') increaseDemoStep!: () => void

  @Watch('dialog')
  changeDialog (value: boolean) {
    if (!value) {
      this.$emit('close-dialog')
    }
  }

  redirect () {
    this.increaseDemoStep()
    const path = window.location.origin + '/' + this.$i18n.locale + '/?openListDrawer=true'
    window.location.href = path
  }
}
</script>
