<template lang="pug">
  v-dialog.save-results-dialog(v-model="dialog" max-width="800")
    v-card
      v-card-title
        span {{ $t('DemoModals.saveResultsModal.title') }}
      v-card-text
        v-row.mt-6
          v-col.col-12.col-sm-6.mt-2
            span.subtitle-1(v-html="$t('DemoModals.saveResultsModal.text')" )
          v-col.col-12.col-sm-6
            .d-flex.justify-center.align-center(
              v-if="loadingFetch"
            )
              v-progress-circular(
                :size="70"
                :width="7"
                color="primary"
                indeterminate
              )
            .statements-results(v-else)
              v-expansion-panels
                v-expansion-panel(
                  v-for="(item, index) in initiativesResult"
                  :key="index"
                )
                  v-expansion-panel-header
                    span(v-html="getHeader(item)")
                  v-expansion-panel-content
                    pre {{ item }}
      v-card-actions.d-flex.justify-space-between.flex-wrap.pa-6
        issue-credentials-btn(@close-dialog="dialog = false")
        user-profile-dialog
        v-btn.activeTextColor--text.mt-4.mt-sm-0(
          :loading="loadingSave"
          color="activeColor"
          large
          @click="saveInWallet"
        ) {{ $t('Weiter') }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import moment from 'moment'

import XApiTrackingService from '../../services/xApiTrackingService'
import { Action, Getter } from 'vuex-class'
import { User } from '../../store/modules/user/types'
import { XAPI } from '../../services/constants'
import issueCredentialsBtn from '../SSIWallet/issueCredentialsBtn.vue'
import userProfileDialog from '../SSIWallet/userProfileDialog.vue'

@Component({
  components: {
    issueCredentialsBtn,
    userProfileDialog
  }
})
export default class DemoModals extends Vue {
  private dialog: boolean = true
  private loadingFetch: boolean = false
  private loadingSave: boolean = false
  private initiativesResult: any[] = []

  @Getter('user/getUser') getUser!: User

  @Action('increaseDemoStep') increaseDemoStep!: () => void

  @Watch('dialog')
  changeDialog (value: boolean) {
    if (!value) {
      this.$emit('close-dialog')
    }
  }

  async mounted () {
    try {
      this.loadingFetch = true
      const xapiService = new XApiTrackingService()
      const res: any = await xapiService.getStatements(this.getUser.id, this.getUser.token.access_token, this.filters)
      if (res.data?.statements?.length) {
        this.initiativesResult = res.data.statements
      }
      this.loadingFetch = false
    } catch (err) {
      console.error('Error loading statements', err)
    }
  }

  get filters (): string {
    const agent = JSON.stringify({
      account: {
        homePage: window.location.origin,
        name: this.getUser.id
      }
    })
    const scoredVerb = XAPI.verbs.scored.id
    const time = moment().startOf('day').toISOString()
    return `verb=${scoredVerb}&agent=${agent}&since=${time}`
  }

  getHeader (statement: any): string {
    const verb = statement.verb.display['en-US']
    let object = statement.object?.id
    if (statement.object?.definition?.name) {
      object = statement.object.definition.name['en-US']
    }
    const score = statement.result?.score?.raw
    return `${object} <b>${verb}</b> ${score}`
  }

  saveInWallet () {
    this.loadingSave = true
    setTimeout(() => {
      this.loadingSave = false
      this.dialog = false
      this.increaseDemoStep()
    }, 1000)
  }
}
</script>
<style lang="sass" scoped>
.statements-results
  max-height: 400px
  overflow-y: auto
  overflow-x: hidden
</style>
