<template lang="pug">
  v-dialog.admin-dashboard-example-dialog(v-model="dialog" max-width="800")
    v-card
      v-card-title
        span {{ $t('DemoModals.welcomeDialog.title') }}
      v-card-text
        v-row
          v-col.col-12.col-sm-6
            span.subtitle-1(v-html="$t('DemoModals.welcomeDialog.text')" )
          v-col.col-12.col-sm-6.d-flex.justify-center.align-center
            ct-lord-icon(
              v-if="isLordIcon('study-graduation')"
              :src="lordIcons['study-graduation'].src"
              trigger="loop"
              :size="200"
            )
      v-card-actions.col-12.pa-6
        user-profile-dialog
        .d-flex.justify-end.flex-grow-1
          v-btn.activeTextColor--text.mt-4.mt-sm-0(
            color="activeColor"
            large
            @click="nextDialog"
          ) {{ $t('Weiter') }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Getter } from 'vuex-class'
import CtLordIcon from '../ct/CtLordIcon.vue'
import lordIcons from '../../lib/data/lord-icons'
import userProfileDialog from '../SSIWallet/userProfileDialog.vue'

interface lordiconInterface {
  src: String
}

interface lordiconsMapInterface {
  [key: string]: lordiconInterface
}
@Component({
  components: {
    CtLordIcon,
    userProfileDialog
  }
})
export default class AdminDashboardExampleDialog extends Vue {
  private dialog: boolean = true
  private lordIcons: lordiconsMapInterface = lordIcons

  @Getter('config/getConfig') getConfig: any

  @Watch('dialog')
  changeDialog (value: boolean) {
    if (!value) {
      this.$emit('close-dialog')
    }
  }

  nextDialog () {
    this.dialog = false
  }

  isLordIcon (name :string) {
    const hasLordIcon = this.getConfig.has_lordis === '1'
    return hasLordIcon && this.lordIcons[name] && this.lordIcons[name].src
  }
}
</script>
