<template lang="pug">
  .scoreboard-aside-content
    v-card
      v-list.px-4(v-if="avgCategories.length > 0 && !isCharging" color="adminCard")
        v-card-text.categories-card(
          v-for="(functionItem, category, index) in functions"
          :key="functionItem.id"
          )
          .category-title
            p {{ setCategories(category) }}
            CircularProgress.scoreboard-progress.ms-4(
              size="33"
              width="2"
              :value="(avgCategory.length > 0) ? avgCategory[index] : 0"
              textColor="adminTitleText"
              :percentage="false"
            )
          v-divider.mb-4
          v-list-group.categories(
            v-for="(item, i) in functionItem"
            :value="defaultOpen(category, index, i)"
            :key="item.id"
            no-action
            append-icon=""
            prepend-icon=""
            :ripple="false"
            :class="`${item.display_name}`"
            active-class="active-category"
            @click="selectedCategory(category, i, $event)"
          )
            template(v-slot:activator)
              v-list-item-content
                v-list-item-title
                  p.category-name {{ item.display_name }}
              CircularProgress.ms-4(
                size="33"
                width="2"
                :value="(avgCategories.length > 0) ? avgCategories[index][i] : 0"
                textColor="adminTitleText"
                :percentage="false"
              )
            template(v-slot:prependIcon)
              v-icon.plus(color="adminTitleText") mdi-plus-circle-outline
              v-icon.minus(color="adminTitleText") mdi-minus-circle
            v-list-item.scoreboard-tags(
              v-for="(tag) in initiativeTags[index][i]"
              :key="tag.id"
              link
              :disabled="true"
            )
              p.category.me-3 {{ tag.display_name }}
              v-progress-linear.category-percentage(
                :color="levelOptions(levelValue(tag.tag)).color"
                :value="levelValue(tag.tag)"
                height="18"
              )
                strong {{ levelOptions(levelValue(tag.tag)).label }}

</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { Getter, Action } from 'vuex-class'
import CircularProgress from '@/components/BaseComponents/CircularProgress.vue'
import FieldsMap from '../../../assets/interfaces/FieldsMap'
import { Questionnaire, Tag } from '../../../store/modules/questionnaire/types'
import InitiativesUser from '../../../assets/interfaces/InitiativesUser'
import BaseUser from '../../../assets/interfaces/BaseUser'
import LevelIndicator from '../../../assets/interfaces/LevelIndicator'
import levelHelper from '../../../lib/util/levelHelper'
@Component({
  components: {
    CircularProgress
  }
})
export default class ScoreboardAside extends Vue {
  @Prop({ required: true }) selectedUser!: BaseUser | null
  @Prop({ required: true }) user: any
  @Prop({ required: true }) initiativesScoreboard!: InitiativesUser[]
  @Prop({ required: true }) userInitiatives!: InitiativesUser[]
  @Prop({ required: true }) isCharging!: boolean

  @Action('questionnaire/loadQuestionnaireData') loadQuestionnaireData: any
  @Action('setIsLoading') setIsLoading: any

  @Getter('questionnaire/getTagsByFunction') getTagsByFunction!: (fieldSlug: string) => Tag[][]
  @Getter('admin/getInitiativesScoreboard') getInitiativesScoreboard: any
  @Getter('questionnaire/getFieldsMap') getFieldsMap!: FieldsMap | any
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire

  private scoreboardData: InitiativesUser[] = []
  private functions: any
  private functionsList: any[] = []
  private initiativeTags: any[] = []
  private avgCategories: any[] = []
  private avgCategory: any[] = []

  @Watch('avgCategories')
  completedChargeData () {
    if (this.avgCategories.length > 0) {
      this.$emit('completedChargeData')
    }
  }

  @Watch('avgCategory')
  checkAvgCategory () {
    const hasValue = this.avgCategory.some((value) => {
      return value > 0
    })
    if (hasValue) {
      this.$emit('has-avg-category-value')
    }
  }

  @Watch('initiativesScoreboard')
  @Watch('userInitiatives')
  @Watch('selectedUser')
  @Watch('user')
  async currentUser () {
    if (this.selectedUser && this.avgCategories.length > 0) {
      await this.initData()
    } else {
      this.calculateAvg()
    }
    if (this.user === null && this.functions) {
      this.avgCategory = []
      this.avgCategories = []
      let auxCategories: any[] = []
      Object.keys(this.functions).forEach((functionItem: any) => {
        this.functions[functionItem].forEach(() => {
          auxCategories.push(0)
        })
        this.avgCategories.push(auxCategories)
        auxCategories = []
      })
    }
  }

  @Watch('getQuestionnaire')
  async questionnaireData () {
    this.avgCategory = []
    this.avgCategories = []
    this.initiativeTags = []
    this.setIsLoading(true)
    await this.loadQuestionnaireData() // getFunctions
    this.functions = {}
    Object.keys(this.getFieldsMap).forEach((functionItem: any) => {
      this.getQuestionnaire.fields.forEach((field: any) => {
        if (functionItem === field.slug) {
          this.functions = {
            ...this.functions,
            [field.slug]: this.getFieldsMap[functionItem]
          }
        }
      })
    })

    this.getQuestionnaire.fields.forEach((field: any) => {
      this.initiativeTags.push(this.getTagsByFunction(field.slug))
    })

    if (this.selectedUser) {
      await this.initData()
    } else {
      await this.calculateAvg()
    }
  }

  async initData () {
    this.avgCategory = []
    this.avgCategories = []
    this.scoreboardData = this.userInitiatives

    this.functionsList = this.functions
    const tagsInitiatives: any[] = []
    let percentages = 0
    let percentagesCategory: any[] = []
    let count = 0

    Object.keys(this.functions).forEach((title: string) => {
      tagsInitiatives.push(this.getTagsByFunction(title))
    })
    tagsInitiatives.forEach((tagInitiative: any) => {
      tagInitiative.forEach((tag: any) => {
        tag.forEach((tagItem: any) => {
          Object.keys(this.userInitiatives).forEach((initiativeIndex: any) => {
            const initiative: InitiativesUser = this.userInitiatives[initiativeIndex]
            if (initiative.initiative !== null && initiative.initiative.tags_list[0] === tagItem.tag) {
              if (initiative.max_score > 0) {
                percentages += (initiative.score / initiative.max_score)
              }
              count++
            }
          })
        })

        if (count > 0) {
          percentagesCategory.push((percentages / count))
          percentages = 0
        } else {
          percentagesCategory.push(0)
        }
        count = 0
      })

      if (percentagesCategory.length > 0) {
        this.avgCategory.push(Math.round(
          (percentagesCategory.reduce((a, b) => a + b, 0) / tagInitiative.length) * 100
        ))
      } else {
        this.avgCategory.push(0)
      }

      percentagesCategory.forEach((value, index) => {
        percentagesCategory[index] = Math.round(value * 100)
      })
      this.avgCategories.push(percentagesCategory)
      percentagesCategory = []
    })
  }

  calculateAvg () {
    this.avgCategory = []
    this.avgCategories = []
    this.scoreboardData = this.initiativesScoreboard
    this.averageCategory()
    this.averageCategories()
  }

  averageCategory () { // Calculate average for each tag in the category
    let averages: number[] = []
    let sumAvg = 0
    let count = 0
    this.initiativeTags.forEach((initiativeTag: any) => {
      initiativeTag.forEach((tag: any) => {
        tag.forEach((tagItem: any) => {
          this.scoreboardData.forEach((initiative: InitiativesUser) => {
            if (initiative.initiative !== null && initiative.initiative.tags_list[0] === tagItem.tag) {
              sumAvg += initiative.avg_percentage || 0
              count++
            }
          })
        })

        if (count > 0) {
          averages.push(Math.round(sumAvg / count))
        } else {
          averages.push(sumAvg)
        }
        sumAvg = 0
        count = 0
      })
      this.avgCategories.push(averages)
      averages = []
    })
  }

  averageCategories () { // calculate average for all categories
    let averagesCategories = 0
    this.avgCategories.forEach((category: any) => {
      category.forEach((avgCategory: number) => {
        averagesCategories += avgCategory
      })
      this.avgCategory.push(Math.round(averagesCategories / category.length))
      averagesCategories = 0
    })
  }

  levelOptions (value: number): LevelIndicator {
    return levelHelper(this, value)
  }

  levelValueInitiatives (tag: string) {
    let avg = 0
    let cont = 0
    const aux: any = []
    Object.keys(this.scoreboardData).forEach((initiat, index) => {
      const initiative: InitiativesUser = this.scoreboardData[index]
      if (initiative.initiative) {
        if (initiative.initiative.tags_list[0] === tag) {
          if (initiative.percentage !== undefined) {
            avg = avg + initiative.percentage
            aux.push(avg)
            cont++
          }
        }
      }
      avg = 0
      cont = 0
    })
    if (aux.length > 0) return aux.reduce((a: number, b: number) => a + b, 0) / aux.length
    else return 0
  }

  levelValueGroupState (tag: string) {
    if (this.user !== null) {
      const value = this.scoreboardData.filter((initiative: InitiativesUser) => {
        if (initiative.initiative) return initiative.initiative.tags_list[0] === tag
        return 0
      })
      let result = 0
      value.forEach((val: any) => {
        result = result + val.avg_percentage
      })
      if (result) result = result / value.length
      else result = 0
      return result
    } else {
      return 0
    }
  }

  levelValue (tag: string) {
    if (this.selectedUser) {
      return this.levelValueInitiatives(tag)
    } else {
      return this.levelValueGroupState(tag)
    }
  }

  setCategories (category: string) {
    let nameCategory
    this.getQuestionnaire.fields.forEach((tab: any) => {
      if (tab.slug === category) {
        nameCategory = tab.title
      }
    })

    return nameCategory
  }

  defaultOpen (category: any, categoryIndex: number, categoriesIndex: number) {
    if (categoryIndex === 0) {
      if (categoriesIndex === 0) {
        this.$emit('categorySelected', { category: category, categoryItem: categoriesIndex, selected: this.functions[category][categoriesIndex].display_name })
        return true
      } else {
        return false
      }
    } else {
      return false
    }
  }

  selectedCategory (category: any, categoryItem: string, event: any) {
    this.$emit('categorySelected', { category: category, categoryItem: categoryItem, selected: this.functions[category][categoryItem].display_name })
  }
}
</script>

<style lang="scss">
.scoreboard-aside-content {
  .category-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;

    p {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      text-transform: capitalize;
      color: var(--v-adminTitleText-base);
      margin: 0;
    }
    .v-progress-circular__info {
      color: var(--v-adminTitleText-base);
    }
  }
  .active-category .v-list-item__content {
    color: var(--v-adminTitleText-base) !important;
    background: var(--v-adminLinkBackground-base);
    border-radius: 5px;

    .v-list-item__title {
      padding: 0 8px;
    }
  }
  .v-list-item--active:hover::before,
  .v-list-item--active::before {
    opacity: 0;
  }
  .active-category i.v-icon.plus.mdi.mdi-plus-circle-outline {
    display: none;
  }
  i.v-icon.minus.mdi.mdi-minus-circle {
    display: none;
  }
  .active-category i.v-icon.minus.mdi.mdi-minus-circle {
    display: initial;
    color: var(--v-adminTitleText-base);
  }
  .categories .v-list-group__header.v-list-item.v-list-item--link {
    padding: 0;
  }

  .categories .v-list-group__items {
    margin-top: 8px;
  }

  p.category-name {
    white-space: break-spaces;
    margin: 0;
  }

  .categories .v-list-item__content div {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--v-adminTitleText-base);
    opacity: .8;
  }
  .categories .v-progress-circular__info {
    color: var(--v-adminTitleText-base);
    font-size: 14px;
  }

  .scoreboard-progress p {
    font-size: 14px;
    font-weight: 100;
  }

  p.category {
    width: 55%;
    margin: 0;
    opacity: .65;
    line-height: 1.3em;
  }
  .category-percentage {
    width: 45%;
    border-radius: 10px;

    .v-progress-linear__content {
      justify-content: flex-start;
      padding: 0 8px;
      color: var(--v-adminTitleText-base);
    }
    .v-progress-linear__background {
      background: rgb(49 61 83) !important;
    }
    .v-progress-linear__content {
      font-size: 10px;
    }
  }

  .v-list-item--disabled {
    color: var(--v-adminTitleText-base);
  }

  @media (max-width: 570px) {
    .v-application--is-ltr .v-list-group--no-action > .v-list-group__items > .v-list-item {
      padding-left: 0 !important;
    }

    .categories .v-list-item.v-list-item--link {
      width: 100%;
      padding: 0 8px;
    }
  }
}
</style>
