<template lang="pug">
  .scoreboard-doughnutchart-container
    v-card.pa-4.pa-md-8(color="adminCard")
      v-card-text.scoreboard-doughnutchart-container-body
        .scoreboard-doughnutchart-title
          div.doughnutchart-title-container
            p.doughnutchart-title {{ $t('Scoreboard.doughnutchartTitle') }}
            p.doughnutchart-subtitle {{ $t('Scoreboard.doughnutchartSubtitle') }}
          .scoreboard-doughnutchart-icon
            v-icon(large color="adminTitleText" ) mdi-chart-donut
        div.chart-container
          div.chart-legend
            .state
              p {{ $t('notStarted') }}
              v-icon(color="low") mdi-circle-outline
            .state
              p {{ $t('inProgress') }}
              v-icon(color="med") mdi-circle-outline
            .state
              p {{ $t('completed') }}
              v-icon(color="adv") mdi-circle-outline
          div.chart-content
            canvas#doughnut(width="30", height="30")
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { Chart, ArcElement, LineController, DoughnutController, LineElement, PointElement, LinearScale, Title, CategoryScale } from 'chart.js'
import ChartDataLabels from 'chartjs-plugin-datalabels'
import { Getter } from 'vuex-class'
import { Tag } from '../../../store/modules/questionnaire/types'

@Component
export default class ScoreboardDoughnutChart extends Vue {
  @Getter('config/getConfig') getConfig: any

  @Prop({ required: true }) categoryStates!: Tag[]
  @Prop({ required: true }) totalStates!: any
  private data: any[] = []
  private checkTag: string[] = []
  private chart: any
  private Data = {
    completed: 0,
    in_progress: 0,
    not_started: 0
  }

  @Watch('categoryStates')
  @Watch('totalStates')
  updateChart (newVal: any) {
    this.setChartData()
    this.createChart()
  }

  mounted () {
    Chart.register(ChartDataLabels, ArcElement, LineController, DoughnutController, LineElement, PointElement, LinearScale, Title, CategoryScale)
    this.setChartData()
    this.createChart()
  }

  checkStateData (state: number) {
    if (state > 0) {
      return state
    } else {
      return null
    }
  }

  setChartData () {
    const completed: number[] = []
    const inProgress: number[] = []
    const norStarted: number[] = []
    this.data = []
    this.checkTag = []

    this.categoryStates.forEach((state: any, index: number) => {
      this.totalStates.forEach((tag: any) => {
        if (tag.initiative.tags_list[0] === state.tag && this.checkTag.includes(tag.initiative.tags_list[0]) === false) {
          this.checkTag.push(tag.initiative.tags_list[0])
          completed.push(tag.completed)
          inProgress.push(tag.in_progress)
          norStarted.push(tag.not_started)
        }
      })
    })

    this.data.push(this.checkStateData(norStarted.reduce((a, b) => a + b, 0)))
    this.data.push(this.checkStateData(completed.reduce((a, b) => a + b, 0)))
    this.data.push(this.checkStateData(inProgress.reduce((a, b) => a + b, 0)))
  }

  createChart () {
    const canvas = document.getElementById('doughnut') as HTMLCanvasElement
    if (this.chart) {
      this.chart.destroy()
    }
    const labelsChart = this.$vuetify.theme.currentTheme.labelsCharts?.toString()

    this.chart = new Chart(canvas, {
      type: 'doughnut',
      data: {
        datasets: [
          {
            borderColor: this.$vuetify.theme.currentTheme.adminBorderSelect?.toString(),
            borderWidth: 5,
            backgroundColor: [
              this.$vuetify.theme.currentTheme.low?.toString(),
              this.$vuetify.theme.currentTheme.adv?.toString(),
              this.$vuetify.theme.currentTheme.med?.toString()
            ],
            data: this.data,
            datalabels: {
              color: labelsChart,
              textAlign: 'center'
            }
          }
        ]
      },
      plugins: [ChartDataLabels]
    })
  }
}
</script>

<style lang="scss">
.scoreboard-doughnutchart-container {
  .scoreboard-doughnutchart-container-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .scoreboard-doughnutchart-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .chart-container {
    display: flex;
  }
  .chart-legend {
    width: 30%;
  }
  .chart-content {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  canvas#doughnut {
    max-width: 200px;
    max-height: 200px;
    margin-top: -60px;
  }

  p.doughnutchart-title,
  .doughnutchart-subtitle {
    font-size: 24px;
    line-height: 1.5rem;
    margin-bottom: 8px;
  }

  p.doughnutchart-title {
    color: var(--v-adminTitleText-base)
  }

  .doughnutchart-subtitle {
    color: var(--v-adminSubtitleText-base);
    margin-bottom: 32px;
  }

  .state {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0px 20px 16px 0;
    gap: 14px;
  }

  .state > p {
    color: var(--v-adminTitleText-base);
    margin: 0;
  }

  @media (max-width: 570px) {
    .chart-container {
      flex-direction: column-reverse;
      align-items: center;
    }

    canvas#doughnut {
      margin-top: 36px;
    }

    .chart-legend {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 36px;
    }
  }
}
</style>
