<template lang="pug">
  v-card.scoreboard-user-data-container.pa-4
    v-card-text
      component.edit-form(
        :is="editUserComponent"
        v-model="userUpdate"
        :is-editing="isEditing"
      )
      .actions.d-flex.justify-end(v-if="allowEdit")
        .edit-mode(v-if="isEditing")
          v-btn(
            color="adminTitleText"
            outlined
            large
            @click="isEditing = false"
          ) {{ $t("cancel") }}
          v-btn.ms-4(
            color="activeColor"
            large
            :loading="isSaving"
            @click="saveUser"
          ) {{ $t("save") }}
        .view-mode(v-else)
          v-btn(
            color="adminTitleText"
            outlined
            large
            @click="isEditing = true"
          ) {{ $t("Form.edit") }}
            v-icon mdi-square-edit-outline
</template>
<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import BaseUser from '../../../assets/interfaces/BaseUser'
import UserService from '../../../services/userService'

@Component({
  components: {
    UserFieldsCompany: () => import('../../Steps/UserFieldsCompany.vue'),
    UserFieldsEducation: () => import('../../Steps/UserFieldsEducation.vue'),
    UserFieldsRed: () => import('../../Steps/UserFieldsRed.vue')
  }
})
export default class ScoreboardUserData extends Vue {
  @Prop({ default: false }) readonly allowEdit!: boolean
  @Prop({ required: true }) readonly selectedUser!: BaseUser | null
  @Getter('config/getConfig') getConfig: any

  @Action('setIsLoading') setIsLoading: any

  private isEditing = false
  private isSaving = false
  private userUpdate = {
    age_range: '',
    company: '',
    cities: [],
    education: '',
    employees_amount: '',
    employment: '',
    gender: '',
    ongoing_projects: '',
    total_projects: ''
  }

  get editUserComponent (): string {
    return this.getConfig.user_fields_component || 'user-fields-company'
  }

  @Watch('selectedUser', { immediate: true })
  changeSelectedUser () {
    if (this.selectedUser) {
      const cities: any = this.selectedUser.cities || []
      this.userUpdate = {
        age_range: this.selectedUser.age_range || '',
        company: this.selectedUser.company || '',
        cities,
        education: this.selectedUser.education || '',
        employees_amount: this.selectedUser.employees_amount || '',
        employment: this.selectedUser.employment || '',
        gender: this.selectedUser.gender || '',
        ongoing_projects: this.selectedUser.ongoing_projects || '',
        total_projects: this.selectedUser.total_projects || ''
      }
    }
  }

  async saveUser () {
    if (this.selectedUser) {
      const userService = new UserService([])
      this.isSaving = true
      await userService.updateUser(this.userUpdate, this.selectedUser.id)
      this.isEditing = false
      this.isSaving = false
      this.$emit('reFetch')
    }
  }
}
</script>
<style lang="scss">
.scoreboard-user-data-container.v-card.v-sheet {
  background: var(--v-adminCard-base);

  .edit-form {
    .v-input__slot {
      background-color: var(--v-adminInputBackground-base);
    }
    .label-edit-form {
      color: var(--v-adminTitleText-base) !important;
      font-size: 18px;
      margin-bottom: 12px;
    }
    .edit-body-column {
      display: flex;
      justify-content: space-between;
    }

    .edit-body-column .column {
      width: 48%;
    }
  }
  .scoreboard-input .v-text-field__details {
    display: none;
  }
  .scoreboard-input i.v-icon,
  .scoreboard-input .v-text-field__slot input {
    color: var(--v-generalText-base) !important;
  }
  p.scoreboard-label-form {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .user-data-top {
    display: flex;
    justify-content: space-between;
  }
  .data-company {
    width: 65%;
  }
  .data-company.full {
    width: 100%;
  }
  .data-cities {
    width: 30%;
  }
  .user-data-bottom {
    display: flex;
    justify-content: space-between;
  }
  .data-bottom {
    width: 30%;
  }
  p.scoreboard-label-form {
    color: var(--v-adminTitleText-base);
  }
  @media (max-width: 839px) {
    .edit-form {
      .edit-body-column {
        flex-wrap: wrap;
      }
      .edit-body-column .column {
        width: 100%;
      }
    }
  }
}
</style>
