<template lang="pug">
  .scoreboard-barchart-container
    v-card.pa-4.pa-md-8(color="adminCard")
      v-card-title.scoreboard-barchart-container-title
        .scoreboard-barchart-title
          p.barchart-title {{ $t('Scoreboard.barchartTitle') }}
          p.barchart-subtitle {{ $t('Scoreboard.barchartSubtitle') }}
        .scoreboard-barchart-icon
          v-icon(large color="adminTitleText") mdi-chart-bar
      v-card-text
        canvas#bar
        .scoreboard-barchart-icon(:class="{reverse: !$vuetify.rtl}")
          .state
            p {{ $t('completed') }}
            v-icon(color="adv") mdi-circle-outline
          .state
            p {{ $t('inProgress') }}
            v-icon(color="med") mdi-circle-outline
          .state
            p {{ $t('notStarted') }}
            v-icon(color="low") mdi-circle-outline
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { Getter } from 'vuex-class'
import { Chart, LineController, BarController, LineElement, BarElement, PointElement, LinearScale, Title, CategoryScale } from 'chart.js'
import ChartDataLabels from 'chartjs-plugin-datalabels'
import Scorecard from '../../../assets/interfaces/Scorecard'
import { Tag } from '../../../store/modules/questionnaire/types'

@Component
export default class ScoreboardBarChart extends Vue {
  @Getter('config/getConfig') getConfig: any

  @Prop({ required: true }) categoryStates!: Tag[]
  @Prop({ required: true }) totalStates!: Scorecard[]

  private Data = {
    completed: [0],
    in_progress: [0],
    not_started: [0]
  }

  private labels: any[] = []
  private maxScaleY: number = 0
  private low: string | undefined
  private chart: any
  private checkTag: string[] = []

  @Watch('categoryStates')
  @Watch('totalStates')
  updateChart () {
    this.setChartData()
    this.createChart()
  }

  mounted () {
    Chart.register(ChartDataLabels, LineController, BarController, BarElement, LineElement, PointElement, LinearScale, Title, CategoryScale)
    this.setChartData()
    this.createChart()
  }

  setChartData () {
    const completed: number[] = []
    const inProgress: number[] = []
    const norStarted: number[] = []
    const maxScale: number[] = []
    this.checkTag = []

    this.labels = []
    this.categoryStates.forEach((tag: Tag) => {
      const currentTagSlug: string = tag.tag
      this.totalStates.forEach((scorecard: Scorecard) => {
        if (scorecard.initiative.tags_list.includes(currentTagSlug) && !this.checkTag.includes(currentTagSlug)) {
          this.checkTag.push(currentTagSlug)
          completed.push(scorecard.completed)
          inProgress.push(scorecard.in_progress)
          norStarted.push(scorecard.not_started)
          maxScale.push(scorecard.completed, scorecard.in_progress, scorecard.not_started)
          const tagList = tag.display_name.split(' ')
          this.labels.push(this.setLabels(tagList))
        }
      })
    })
    this.Data.completed = completed
    this.Data.in_progress = inProgress
    this.Data.not_started = norStarted
    this.maxScaleY = Math.max(...maxScale)
  }

  setLabels (labels: string[]) {
    const label: string[] = []
    let shouldSkip: boolean = false

    labels.forEach((item: string) => {
      if (!shouldSkip) {
        if (item.length > 15) {
          label.push(item.substring(0, 15) + '...')
          shouldSkip = true
          return
        }
        label.push(item.substring(0, 15))
      }
    })
    return label
  }

  createChart () {
    if (this.chart) {
      this.chart.destroy()
    }

    const labelsChart = this.$vuetify.theme.currentTheme.labelsCharts?.toString()

    const canvas = document.getElementById('bar') as HTMLCanvasElement
    this.chart = new Chart(canvas, {
      type: 'bar',
      data: {
        labels: this.labels,
        datasets: [
          {
            label: '',
            backgroundColor: this.$vuetify.theme.currentTheme.low?.toString(),
            borderRadius: 10,
            borderColor: this.$vuetify.theme.currentTheme.low?.toString(),
            borderWidth: 1,
            data: this.Data.not_started,
            datalabels: {
              color: labelsChart,
              anchor: 'end',
              align: 'top',
              offset: 10,
              textAlign: 'center'
            },
            categoryPercentage: 0.7,
            barPercentage: 0.2
          },
          {
            label: '',
            backgroundColor: this.$vuetify.theme.currentTheme.med?.toString(),
            borderRadius: 10,
            borderColor: this.$vuetify.theme.currentTheme.med?.toString(),
            borderWidth: 1,
            data: this.Data.in_progress,
            datalabels: {
              color: labelsChart,
              anchor: 'end',
              align: 'top',
              offset: 10,
              textAlign: 'center'
            },
            categoryPercentage: 0.7,
            barPercentage: 0.2
          },
          {
            label: '',
            backgroundColor: this.$vuetify.theme.currentTheme.adv?.toString(),
            borderRadius: 10,
            borderColor: this.$vuetify.theme.currentTheme.adv?.toString(),
            borderWidth: 1,
            data: this.Data.completed,
            datalabels: {
              color: labelsChart,
              anchor: 'end',
              align: 'top',
              offset: 10,
              textAlign: 'center'
            },
            categoryPercentage: 0.7,
            barPercentage: 0.2
          }
        ]
      },
      options: {
        scales: {
          y: {
            grid: {
              color: labelsChart + '38'
            },
            ticks: {
              color: labelsChart
            },
            max: this.maxScaleY + 1
          },
          xAxes: {
            grid: {
              color: labelsChart + '38'
            },
            ticks: {
              color: labelsChart
            }
          }
        }
      },
      plugins: [ChartDataLabels]
    })
  }
}
</script>

<style lang="scss">
.scoreboard-barchart-container {
  .scoreboard-barchart-container-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .scoreboard-barchart-title > p {
      line-height: 1.5rem;
      margin-bottom: 8px;
    }

    .barchart-title {
      color: var(--v-adminTitleText-base);
    }

    .barchart-subtitle {
      color: var(--v-adminSubtitleText-base);
    }
    .barchart-title,
    .barchart-subtitle {
      font-size: 24px;
    }
  }

  .scoreboard-barchart-icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px;
  }

  .scoreboard-barchart-icon.reverse {
    flex-direction: row-reverse;
  }

  .state {
    display: flex;
    margin: 0 20px;
  }

  .state > p{
    margin: 0 10px;
    color: var(--v-adminTitleText-base);
  }

  @media(max-width: 570px) {
    .scoreboard-barchart-icon .state {
      margin-bottom: 20px;
    }
  }
}
</style>
