<template lang="pug">
  .scoreboard-stats-container
    v-card.pa-4.pa-md-8(color="adminCard")
      v-card-title.scoreboard-stats-container-title.mb-8
        .scoreboard-stats-title
          p.stats-title {{ $t('Scoreboard.statsTitle') }}
        .scoreboard-barchart-icon
          v-icon(large color="adminTitleText") mdi-alpha-q-circle-outline
      v-card-text.scoreboard-stats-container-body
        .status-container
          .status
            v-progress-circular(
              :rotate="-90" :size="85" :width="8" :value="maxInCat.completed.percentage" color="adv"
            ) {{ maxInCat.completed.percentage }} %
            p.body-2 {{ maxInCat.completed.category }}
          .status
            v-progress-circular(
              :rotate="-90" :size="85" :width="8" :value="maxInCat.in_progress.percentage" color="med"
            ) {{ maxInCat.in_progress.percentage }} %
            p.body-2 {{ maxInCat.in_progress.category }}
          .status
            v-progress-circular(
              :rotate="-90" :size="85" :width="8" :value="maxInCat.not_started.percentage" color="low"
            ) {{ maxInCat.not_started.percentage }}
            p.body-2 {{ maxInCat.not_started.category }}
        v-divider
        .scoreboard-stats-icon
          .state
            p {{ $t('completed') }}
            v-icon(color="adv") mdi-circle-outline
          .state
            p {{ $t('inProgress') }}
            v-icon(color="med") mdi-circle-outline
          .state
            p {{ $t('notStarted') }}
            v-icon(color="low") mdi-circle-outline
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { Getter } from 'vuex-class'
import Scorecard from '../../../assets/interfaces/Scorecard'
import { Tag } from '../../../store/modules/questionnaire/types'
import { COMPLETED, IN_PROGRESS, NOT_STARTED } from '../../../services/constants'

interface InternalStatus {
  category: string,
  value: number,
  percentage: number
}

class MaxStatusCategory {
  public completed: InternalStatus = {
    category: '',
    value: 0,
    percentage: 0
  }

  public in_progress: InternalStatus = {
    category: '',
    value: 0,
    percentage: 0
  }

  public not_started: InternalStatus = {
    category: '',
    value: 0,
    percentage: 0
  }
}

@Component
export default class ScoreboardStats extends Vue {
  @Prop({ required: true }) categoryStates!: Tag[]
  @Prop({ required: true }) totalStates!: Scorecard[]

  @Getter('admin/getInitiativesScoreboard') getInitiativesScoreboard: any

  private maxInCat = new MaxStatusCategory()

  @Watch('categoryStates')
  @Watch('totalStates')
  updateChart () {
    this.setChartData()
  }

  created () {
    this.setChartData()
  }

  setChartData () {
    this.maxInCat = new MaxStatusCategory()
    const checkTag: string[] = []
    this.categoryStates.forEach((tag: Tag) => {
      const currentTagSlug: string = tag.tag
      this.totalStates.forEach((scorecard: Scorecard) => {
        if (scorecard.initiative.tags_list.includes(currentTagSlug) && !checkTag.includes(currentTagSlug)) {
          checkTag.push(currentTagSlug)
          this.checkMaxStatus(scorecard, tag.display_name)
        }
      })
    })
  }

  checkMaxStatus (scorecard: Scorecard, tagDisplayName: string) {
    if (scorecard.completed > this.maxInCat.completed.value) {
      this.maxInCat.completed.value = scorecard.completed
      this.maxInCat.completed.category = tagDisplayName
      this.maxInCat.completed.percentage = Math.round(scorecard.avg_completed)
    }
    if (scorecard.in_progress > this.maxInCat.in_progress.value) {
      this.maxInCat.in_progress.value = scorecard.in_progress
      this.maxInCat.in_progress.category = tagDisplayName
      this.maxInCat.in_progress.percentage = Math.round(scorecard.avg_in_progress)
    }
    if (scorecard.not_started > this.maxInCat.not_started.value) {
      this.maxInCat.not_started.value = scorecard.not_started
      this.maxInCat.not_started.category = tagDisplayName
      this.maxInCat.not_started.percentage = Math.round(scorecard.avg_not_started)
    }
  }
}
</script>

<style lang="scss">
.scoreboard-stats-container {
  .scoreboard-stats-container-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .scoreboard-stats-title {
      margin-bottom: 8px;
    }

    .scoreboard-stats-title > p{
      margin: 0;
    }

    .stats-title {
      font-size: 24px;
      color: var(--v-adminTitleText-base);
    }
  }

  .scoreboard-stats-icon {
    display: flex;
    justify-content: center;
    padding: 8px;
  }

  .state {
    display: flex;
    margin: 0px 20px;
  }

  .state > p{
    margin: 0 10px;
    color: var(--v-adminTitleText-base);
  }
  .status-container {
    display: flex;
    justify-content: space-around;

    .status {
      text-align: center;
    }
    .status p {
      font-size: 20px;
      margin-top: 16px;
      max-width: 125px;
      color: var(--v-adminTitleText-base);
    }
    .v-progress-circular__info {
      color: var(--v-adminTitleText-base);
      font-size: 20px;
    }
    .v-progress-circular__overlay {
      stroke-width: 4;
    }
    .v-progress-circular__underlay {
      stroke-width: 2;
    }
  }

  @media (max-width: 570px) {
    .status-container {
      display: flex;
      justify-content: space-around;
      flex-direction: column-reverse;
    }

   .status-container .status > p {
      margin: 20px auto;
    }

    .scoreboard-stats-icon {
      align-items: center;
      flex-direction: column-reverse;
    }

    .state {
      display: flex;
      justify-content: space-between;
      margin: 0px 20px 16px 0;
    }
  }
}
</style>
