<template lang="pug">
  v-card.scoreboard-user-initiative-container.pa-4
    v-card-title.user-initiative-title.mb-4
      p.scoreboard-list-initiative-title {{ $t('Scoreboard.actionTitle') }}
      v-icon(large, color="adminTitleText" ) mdi-view-grid-outline
    v-card-text.user-initiative-content
      div.user-initiative-filter.mb-8
        div.scoreboard-initiative-select-function
          p.scoreboard-select-function-title.mb-2 {{ $t('Scoreboard.selectFunction') }}
          v-autocomplete.scoreboard-select-category.scoreboard-input(
            hide-details
            outlined
            v-model="category"
            :items="functions"
            attach=".scoreboard-select-category.scoreboard-input"
            background-color="adminListCard"
            @change="selectedFunction"
          )
            template(v-slot:append-inner)
              v-icon(color="adminTitleText") mdi-home-city
        div.scoreboard-initiative-filter-state.ms-10
          v-btn-toggle.scoreboard-filter-state(v-model="stateFilter" mandatory @change="filterState")
            v-btn {{ $t('notStarted') }}
            v-btn {{ $t('inProgress') }}
            v-btn {{ $t('completed') }}
      div.user-initiative-list
        div.title-content
          p.scoreboard-list-user-initiative-title.mb-8 {{ currentState }} initiatives
        div.initiatives-content
          v-card.initiatives-empty(v-if="showInitiatives.length === 0" )
            v-card-text {{ `${$t('Scoreboard.initiativesEmpty')} ${currentState}`}}
          v-list.scoreboard-list-initiatives.pb-0(flat, subheader, three-line)
            v-list-item-group(v-model="settings", multiple, :ripple="false")
              template(v-for="initiative in showInitiatives")
                v-list-item.scoreboard-initiative-card.mb-8.px-8.py-4(:key="initiative.id", :ripple="false")
                  template(v-slot:default="{ active }")
                    v-list-item-action.mt-4
                      v-icon.ma-0(color="checkbox") mdi-checkbox-marked-circle
                    v-list-item-content
                      v-list-item-title.mt-1
                        .scoreboard-initiative-card-header.mb-4
                          p.initiative-title.me-4 {{ initiative.initiative.title }}
                      span.initiative-card-description {{ initiative.initiative.description }}

</template>
<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import { NOT_STARTED, IN_PROGRESS, COMPLETED } from '@/services/constants'
import FieldsMap from '../../../assets/interfaces/FieldsMap'
import InitiativesUser from '../../../assets/interfaces/InitiativesUser'
import { TranslateResult } from 'vue-i18n'

@Component({
  components: {}
})
export default class ScoreboardUserInitiative extends Vue {
  @Prop({ required: true }) readonly categoryStates!: any
  @Prop({ required: true }) readonly userInitiatives!: InitiativesUser[]
  @Prop({ required: true }) readonly categorySelect!: any
  @Action('setIsLoading') setIsLoading: any

  @Getter('questionnaire/getFieldsMap') getFieldsMap!: FieldsMap | any

  private initiatives: InitiativesUser [] = []
  private allInitiatives: InitiativesUser[] = []
  private categoryInitiatives: InitiativesUser[] = []
  private showInitiatives: InitiativesUser[] = []
  private stateFilter: number = COMPLETED.id
  private currentState: TranslateResult = this.$t('completed')
  private functions: string[] = []
  private settings = []
  private category = ''
  @Watch('categoryStates')
  @Watch('userInitiatives')
  currentCategory () {
    this.category = this.categorySelect
    this.allInitiatives = this.userInitiatives
    this.setInitiatives()
    this.setInitiativesCategory()
  }

  created () {
    Object.keys(this.getFieldsMap).forEach((functionItem: any) => {
      this.getFieldsMap[functionItem].forEach((category: any) => {
        this.functions.push(category.display_name)
      })
    })
    this.currentCategory()
  }

  setInitiatives () {
    this.initiatives = []
    Object.keys(this.allInitiatives).forEach((initiativeIndex: any) => {
      this.categoryStates.forEach((categoryTag: any) => {
        const initiative: InitiativesUser = this.allInitiatives[initiativeIndex]
        if (initiative.initiative.tags_list[0] === categoryTag.tag) {
          this.initiatives.push(initiative)
        }
      })
    })
  }

  setInitiativesCategory () {
    this.categoryInitiatives = []
    this.categoryStates.forEach((categoryTag: any) => {
      this.initiatives.forEach((initiative: InitiativesUser) => {
        if (initiative.initiative !== null && categoryTag.tag === initiative.initiative.tags_list[0]) {
          this.categoryInitiatives.push(initiative)
        }
      })
    })
    this.filterState()
  }

  filterState () {
    switch (this.stateFilter) {
      case COMPLETED.id :
        this.currentState = this.$t('completed')
        this.showInitiatives = this.categoryInitiatives.filter((initiative: InitiativesUser) => {
          return initiative.state === COMPLETED.label
        })
        break
      case IN_PROGRESS.id :
        this.currentState = this.$t('inProgress')
        this.showInitiatives = this.categoryInitiatives.filter((initiative: InitiativesUser) => {
          return initiative.state === IN_PROGRESS.label
        })
        break
      case NOT_STARTED.idAnother :
        this.currentState = this.$t('notStarted')
        this.showInitiatives = this.categoryInitiatives.filter((initiative: InitiativesUser) => {
          return initiative.state === NOT_STARTED.label
        })
        break
    }
  }

  selectedFunction () {
    const category = this.category.split(' ')
    this.$emit('selectedFunction', category)
  }
}
</script>
<style lang="scss">
.scoreboard-user-initiative-container.v-card.v-sheet{
  background-color: var(--v-adminCard-base);

  .v-select__slot input {
    color: var(--v-adminTitleText-base) !important;
  }
  .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: var(--v-adminTitleText-base) !important;
  }
  .scoreboard-input {
    border: solid thin var(--v-adminBorderSelect-base) !important;
  }
  .v-text-field fieldset, .v-text-field .v-input__control {
    border: none !important;
  }
  i.v-icon.notranslate.mdi.mdi-menu-down {
    color: var(--v-adminTitleText-base);
  }
  .user-initiative-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  p.initiative-title {
    white-space: pre-wrap;
    color: var(--v-adminTitleText-base);
  }
  p.scoreboard-list-initiative-title {
    font-size: 20px;
    font-weight: 900;
    color: var(--v-adminTitleText-base);
    margin: 0;
  }
  p.scoreboard-list-user-initiative-title {
    font-size: 20px;
    font-weight: 900;
    color: var(--v-adminSubtitleText-base);
    margin: 0;
  }

  .user-initiative-filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .scoreboard-select-category.scoreboard-input .v-select-list {
      background:var(--v-adminListCard-base);
    }

    .scoreboard-initiative-filter-state{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 6px;
      border-radius: 4px;
      background: var(--v-filterBtn-base);

      .scoreboard-filter-state {
        height: auto;
        flex-direction: row-reverse;
        background: var(--v-filterBtn-base);

        button.v-btn {
          min-height: 30px;
          font-size: 14px;
          text-transform: capitalize;
          background: none;
          border: none;
          color: var(--v-filterTextBtn-base);
        }

        button.v-btn.v-btn--is-elevated{
          height: 40px;
          border: thin solid rgba(0, 0, 0, 0.12);
        }

        button.v-btn.v-item--active {
          background: var(--v-activeColor-base);
          color: var(--v-adminActiveTextColor-base);
          border-radius: 5px;
          height: 40px;
          font-weight: 800;
        }
      }
      .v-select__slot {
        min-height: 60px;
      }
    }
    .scoreboard-initiative-select-function {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;

      p.scoreboard-select-function-title {
        font-size: 18px;
        font-weight: 600;
        color:var(--v-adminTitleText-base);
        margin: 0;
      }
      .v-input.scoreboard-select-category.theme--light.v-text-field.v-text-field--is-booted.v-text-field--enclosed.v-text-field--outlined.v-select.v-autocomplete {
        width: 100%;
      }
    }
  }
  .v-list.scoreboard-list-initiatives {
    background: none;
  }
  .scoreboard-initiative-card,
  .initiatives-empty {
    background: var(--v-adminListCard-base);
    border-radius: 10px;
  }

  .scoreboard-initiative-card-header {
    font-size: 18px;
    color: var(--v-adminTitleText-base);
  }

  span.initiative-card-description {
    color: var(--v-adminTitleText-base);
    font-size: 16px;
  }
  .initiatives-empty.v-card .v-card__text {
    color: var(--v-adminTitleText-base);
    text-align: center;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .scoreboard-user-data-container.v-card.v-sheet .user-data-top {
    flex-direction: column;
    margin-bottom: 0 !important;
  }
  .scoreboard-user-data-container.v-card.v-sheet .data-company,
  .scoreboard-user-data-container.v-card.v-sheet .data-cities {
    margin-bottom: 14px;
    width: 100%;
  }
  .scoreboard-user-data-container.v-card.v-sheet .user-data-bottom {
    flex-direction: column;
  }
  .scoreboard-user-data-container.v-card.v-sheet .data-bottom {
    width: 100%;
    margin-bottom: 14px;
  }
  .scoreboard-user-initiative-container.v-card.v-sheet .user-initiative-filter {
    flex-direction: column;
  }
  .scoreboard-user-initiative-container.v-card.v-sheet .user-initiative-filter .scoreboard-initiative-select-function {
    width: 100%;
  }
  .scoreboard-user-initiative-container.v-card.v-sheet .user-initiative-filter .scoreboard-initiative-filter-state {
    width: 100%;
    margin: 22px 0 0 0 !important;
  }

  @media (max-width: 570px) {
    .scoreboard-filter-state.v-item-group.v-btn-toggle {
      flex-wrap: wrap;
      justify-content: center;
    }

    .scoreboard-initiative-card.v-list-item.v-list-item--link {
      flex-direction: column;
      align-items: center;
    }

    .scoreboard-list-initiatives .v-list-item__title.mt-1 {
      text-align: center;
    }

    .scoreboard-initiative-card .v-list-item__action {
      align-self: center !important;
      margin: 8px 0 !important;
    }
    .v-list--three-line .v-list-item,
    .v-list-item--three-line {
      min-height: 100%;
    }
  }
}
</style>
