<template lang="pug">
  .scoreboard-doughnutchart-user-container
    v-card.pa-8(color="adminCard")
      v-card-text.scoreboard-doughnutchart-container-body
        .scoreboard-doughnutchart-title
          p.doughnutchart-title {{ $t('Scoreboard.initiativesStatus') }}
          .scoreboard-doughnutchart-icon
            v-icon(large color="adminTitleText" ) mdi-chart-donut
        div.chart-container
          div.chart-legend.mt-14
            .state
              p {{ $t('notStarted') }}
              v-icon(color="red") mdi-circle-outline
            .state
              p {{ $t('inProgress') }}
              v-icon(color="yellow") mdi-circle-outline
            .state
              p {{ $t('completed') }}
              v-icon(color="green") mdi-circle-outline
          div.chart-content
            canvas#doughnut(width="30", height="30")
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { Chart, ArcElement, LineController, DoughnutController, LineElement, PointElement, LinearScale, Title, CategoryScale } from 'chart.js'
import ChartDataLabels from 'chartjs-plugin-datalabels'
import { Getter } from 'vuex-class'
import InitiativesUser from '../../../assets/interfaces/InitiativesUser'
import { COMPLETED, IN_PROGRESS, NOT_STARTED } from '../../../services/constants'

@Component
export default class ScoreboardInitiativeChart extends Vue {
  @Prop({ required: true }) categoryStates: any
  @Prop({ required: true }) readonly userInitiatives!: InitiativesUser[]

  @Getter('config/getConfig') getConfig: any

  private data: any[] = []
  private chart: any
  private initiatives: InitiativesUser [] = []
  private allInitiatives: InitiativesUser[] = []

  @Watch('categoryStates')
  @Watch('userInitiatives')
  updateChart (newVal: any) {
    this.allInitiatives = this.userInitiatives
    this.setChartData()
    this.createChart()
  }

  mounted () {
    Chart.register(ChartDataLabels, ArcElement, LineController, DoughnutController, LineElement, PointElement, LinearScale, Title, CategoryScale)
    this.allInitiatives = this.userInitiatives
    this.setChartData()
    this.createChart()
  }

  setChartData () {
    this.initiatives = []
    this.data = []
    Object.keys(this.allInitiatives).forEach((initiativeIndex: any) => {
      this.categoryStates.forEach((categoryTag: any) => {
        const initiative: InitiativesUser = this.allInitiatives[initiativeIndex]
        if (initiative.initiative.tags_list[0] === categoryTag.tag) {
          this.initiatives.push(initiative)
        }
      })
    })
    this.totalStates()
  }

  checkStateData (state: number) {
    if (state > 0) {
      return state
    } else {
      return null
    }
  }

  totalStates () {
    let completed = 0
    let inProgress = 0
    let notStarted = 0

    this.initiatives.forEach((initiative: InitiativesUser) => {
      switch (initiative.state) {
        case COMPLETED.label :
          completed++
          break
        case IN_PROGRESS.label :
          inProgress++
          break
        case NOT_STARTED.label :
          notStarted++
          break
      }
    })
    this.data.push(this.checkStateData(notStarted))
    this.data.push(this.checkStateData(completed))
    this.data.push(this.checkStateData(inProgress))
  }

  createChart () {
    const canvas = document.getElementById('doughnut') as HTMLCanvasElement
    if (this.chart) {
      this.chart.destroy()
    }
    const labelsChart = this.$vuetify.theme.currentTheme.labelsCharts?.toString()

    this.chart = new Chart(canvas, {
      type: 'doughnut',
      data: {
        datasets: [
          {
            borderColor: this.$vuetify.theme.currentTheme.adminBorderSelect?.toString(),
            borderWidth: 5,
            backgroundColor: [
              this.$vuetify.theme.currentTheme.low?.toString(),
              this.$vuetify.theme.currentTheme.adv?.toString(),
              this.$vuetify.theme.currentTheme.med?.toString()
            ],
            data: this.data,
            datalabels: {
              color: labelsChart,
              textAlign: 'center'
            }
          }
        ]
      },
      plugins: [ChartDataLabels]
    })
  }
}
</script>

<style lang="scss">
.scoreboard-doughnutchart-user-container {
  .scoreboard-doughnutchart-container-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .chart-legend {
    width: 30%;
  }
  .chart-content {
    justify-content: center;
    width: 70%;
    display: flex;
  }
  canvas#doughnut {
    max-width: 200px;
    max-height: 200px;
  }

  .doughnutchart-subtitle {
    color: var(--v-adminSubtitleText-base);
  }
  .scoreboard-doughnutchart-title {
    display: flex;
    justify-content: space-between;
  }

  .chart-container {
    display: flex;
  }

  .doughnutchart-title,
  .doughnutchart-subtitle {
    font-size: 24px;
    color: var(--v-adminTitleText-base);
  }

  .state {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 0px 20px 16px 0;
  }

  .state > p {
    color: var(--v-adminTitleText-base);
    margin: 0;
  }

  @media(max-width: 570px) {
    .chart-container {
      flex-direction: column-reverse;
    }
    .chart-legend {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    .chart-content {
      justify-content: center;
      width: 100%;
      margin-top: 36px;
    }
  }
}
</style>
