<template lang="pug">
  v-card.performance-trend-card-data.pa-6.pa-lg-10(v-intersect.once="{ handler: onIntersect, options: { threshold: [0.5] } }")
    v-card-title.dashboard-title-container.mb-4
      p.body-card-data-title {{ $t('Dashboard.performanceTrend') }}
      v-icon mdi-chart-line
    v-card-text.total-respondents-function-content-container
      .elemrow.d-flex.justify-space-between.flex-wrap.mb-8
        .function-performance-filter.d-flex.align-center
          p.me-4.adminTitleText--text {{ $t('Dashboard.selectFunction') }}
          v-select.function-list-performances.adminTitleText--text(
            :placeholder="currentCategory"
            outlined
            :menu-props="{ offsetY: true, marginTop: '30px' }"
            attach=".function-list-performances"
          )
            template(v-slot:no-data)
              .no-data
            template( v-slot:prepend-item)
              v-list-item.custom-list-performance(
                v-for="(groupTitle, index) in fieldSlugs"
                :key="index"
              )
                v-list-item-content
                  v-list-item-title
                    .category-title(@click="selectAll(index)")
                      v-icon.checkIcon.me-4(v-if="categorySelected[index]" color="activeColor" ) mdi-checkbox-marked
                      v-icon.checkIcon.me-4(v-else color="activeColor" ) mdi-checkbox-blank-outline
                      | {{ findFieldName(groupTitle) }}
                    v-list.category-list
                      v-list-item-group(v-model="selectedCat[index - 1]" @click.stop multiple)
                        template(v-for="(category, index) in matrixCategoriesInFields[index - 1]")
                          v-list-item(:key="category")
                            template(v-slot:default="{ active }")
                              v-list-item-action
                                v-icon.checkIcon(v-if="!active" color="activeColor") mdi-checkbox-blank-outline
                                v-icon.checkIcon(v-else color="activeColor") mdi-checkbox-marked
                              v-list-item-content
                                v-list-item-title(v-text="category")
                    v-divider(v-if="index < fieldSlugs.length - 1" ).ma-2
        .date-performance-filter
          .range-date-container.d-flex.align-center
            p.me-4.adminTitleText--text {{ $t('Dashboard.rangeDate') }}
            v-menu(
              v-model="rangeDate"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y min-width="auto"
            )
              template(v-slot:activator="{ on, attrs }")
                v-text-field.date-input-filter.adminTitleText--text(
                  v-model="dates"
                  prepend-inner-icon="mdi-calendar"
                  append-icon="mdi-menu-down"
                  readonly
                  outlined
                  v-bind="attrs"
                  v-on="on"
                )
              v-date-picker(
                v-model="dates"
                range type="month"
                color="adminListCard"
                :allowed-dates="disablePastDates"
                )
        .d-flex.align-center.apply-performance-filters
          v-btn.adminActiveTextColor--text(@click="applyFilter" color="activeColor" ) {{ $t('Dashboard.apply') }}
      .loader-data(v-if="charging")
        v-progress-circular(
          :size="70"
          :width="5"
          color="loader"
          indeterminate
        )
      canvas#line.mb-2(v-if="!charging" v-intersect.once="{ handler: renderChart, options: { threshold: [0.5] } }")
      .dashboard-linearchart-legend(v-if="!charging" :class="{reverse: !$vuetify.rtl}")
        .state.me-8(v-for="legend in legends")
          v-icon.me-2(:color="legend.color") mdi-circle-outline
          p {{ legend.label }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import ChartDataLabels from 'chartjs-plugin-datalabels'
import { Action, Getter } from 'vuex-class'
import {
  BarController,
  BarElement,
  CategoryScale,
  Chart,
  LinearScale,
  LineController,
  LineElement,
  PointElement,
  Title
} from 'chart.js'

import moment from 'moment'
import InitiativeScore from '../../../assets/interfaces/InitiativeScore'
import Field from '../../../assets/interfaces/Field'
import { Questionnaire, Tag } from '../../../store/modules/questionnaire/types'
import CategoryData from '../../../assets/interfaces/CategoryData'
import Category from '../../../assets/interfaces/Category'
import FieldsMap from '../../../assets/interfaces/FieldsMap'

@Component({
  components: {
  }
})
export default class PerformanceTrend extends Vue {
  @Action('questionnaire/loadQuestionnaireData') loadQuestionnaireData: any
  @Action('admin/loadInitiativesGroupStateByDate') loadInitiativesGroupStateByDate: any
  @Action('admin/loadInitiativesScoreboardByDate') loadInitiativesScoreboardByDate: any
  @Action('user/loadUserInitiativesByDate') loadUserInitiativesByDate: any

  @Getter('questionnaire/getFieldsMap') getFieldsMap!: FieldsMap
  @Getter('admin/getInitiativesScoreboardByDate') getInitiativesScoreboardByDate!: InitiativeScore[]
  @Getter('admin/getInitiativesGroupStateByDate') getInitiativesGroupStateByDate: any
  @Getter('questionnaire/getTagsByFunction') getTagsByFunction!: (fieldSlug: string) => Tag[][]
  @Getter('config/getConfig') getConfig: any
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire

  private rangeDate = false
  private dates: string[] = []
  private forwardDate: string = ''
  private backDate: string = ''
  private configData: any = []
  private labels: string[] = []
  private data: any[] = []
  private chart: any
  private legends: any[] = []
  private fieldSlugs: string[] = [this.$t('Dashboard.allFunctions').toString()]
  private matrixCategoriesInFields: any[] = []
  private categorySelected: boolean[] = []
  private selectedCat: any[] = []
  private selectedTags: string[] = []
  private historic: boolean = true
  private currentCategory: string = this.$t('Dashboard.selectFunction').toString()
  private charging: boolean = false
  private chartData: boolean = false
  private scoreboardData: any[] = []
  private fieldsMap: FieldsMap = {}
  private avgCategories: any[] = []
  private initiativesScoreboard: any[] = []
  private initiativeTags: any[] = []
  private categoryPercentage: any[] = []
  private labelsChart = '#FFFFFF'
  private chartScale = {
    min: 100,
    max: -1
  }

  private selectedCategoryData: CategoryData[] = [{
    categoryTitle: '',
    tags: []
  }]

  private allCategories: CategoryData[] = [{
    categoryTitle: '',
    tags: []
  }]

  @Watch('getQuestionnaire')
  updateData () {
    this.clearData()
    this.initData(false)
    this.applyFilter()
  }

  @Watch('selectedCat')
  @Watch('categorySelected')
  @Watch('rangeDate')
  @Watch('rangeDate')
  updateFilters () {
    this.checkCompleteCategory()
    this.categorySelected.forEach((category: boolean, index: number) => {
      if (index > 0 && !this.categorySelected[index]) {
        this.categorySelected[0] = false
        this.setShowTags(index)
      }
    })
  }

  async mounted () {
    window.scrollTo(0, 0)
    await this.initData(true)
    this.chartData = false
    this.charging = false
    document.documentElement.style.overflow = 'auto'
  }

  clearData () {
    this.matrixCategoriesInFields = []
    this.avgCategories = []
    this.categorySelected = []
    this.fieldSlugs = [this.$t('Dashboard.allFunctions').toString()]
    this.selectedCat = []
    this.scoreboardData = []
    this.legends = []
    this.historic = true
    this.selectedTags = []
    this.allCategories = []
    this.selectedCategoryData = [{
      categoryTitle: '',
      tags: []
    }]
  }

  async initData (init: boolean) {
    document.documentElement.style.overflow = 'hidden'
    Chart.register(ChartDataLabels, LineController, BarController, BarElement, LineElement, PointElement, LinearScale, Title, CategoryScale)
    this.fieldsMap = this.getFieldsMap
    this.getQuestionnaire.fields.forEach((field: Field) => {
      Object.keys(this.fieldsMap).forEach((functionItem: string) => {
        if (field.slug === functionItem) {
          this.initiativeTags.push(this.getTagsByFunction(functionItem))
        }
      })
    })

    if (init) {
      this.dates[0] = this.initDates().from
      this.dates[1] = this.initDates().to
      this.forwardDate = moment(this.dates[0]).locale('en').add(5, 'M').format('YYYY-MM')
      this.backDate = moment(this.dates[0]).locale('en').add(-5, 'M').format('YYYY-MM')
    }
    let categoryNamesInField: string[] = []

    this.getQuestionnaire.fields.forEach((field: Field) => {
      Object.keys(this.fieldsMap).forEach((fieldSlug: string) => {
        if (field.slug === fieldSlug) {
          this.fieldSlugs.push(fieldSlug)
          this.fieldsMap[fieldSlug].forEach((cat: Category) => {
            categoryNamesInField.push(cat.display_name)
          })
          this.matrixCategoriesInFields.push(categoryNamesInField)
          this.selectedCat.push([])
          categoryNamesInField = []
        }
      })
    })

    if (this.selectedCat.length > 0) {
      this.selectedCat[0].push(0)
    }

    this.fieldSlugs.forEach((title: string, index: number) => {
      if (index > 0) {
        this.setTags(title)
      }
      this.categorySelected.push(false)
    })
    this.setShowTags(1)
  }

  createChart () {
    if (this.chart) {
      this.chart.destroy()
    }
    const canvas = document.getElementById('line') as HTMLCanvasElement
    if (canvas) {
      this.chart = new Chart(canvas, {
        type: 'bar',
        data: {
          labels: this.labels,
          datasets: this.configData
        },
        plugins: [ChartDataLabels],
        options: {
          scales: {
            y: {
              min: this.chartScale.min,
              max: this.chartScale.max,
              grid: {
                color: this.labelsChart + '38'
              },
              ticks: {
                color: this.labelsChart
              }
            },
            xAxes: {
              stacked: true,
              grid: {
                color: this.labelsChart + '38'
              },
              ticks: {
                color: this.labelsChart
              }
            }
          }
        }
      })
    }
  }

  setChartData (categories: number[]) {
    let percentages: number[] = []
    const chartData: any[] = []
    const chartConfig: any[] = []
    this.data = []
    const colors = [
      '#E57373',
      '#FFF176',
      '#BA68C8',
      '#4DB6AC',
      '#F48FB1',
      '#A1887F',
      '#FFD54F',
      '#FF8A65',
      '#4DD0E1',
      '#7986CB',
      '#F06292',
      '#4FC3F7',
      '#AED581',
      '#90A4AE',
      '#E0E0E0',
      '#64B5F6',
      '#DCE775'
    ]

    this.categoryPercentage.forEach((functions: number[][]) => {
      functions.forEach((functionItem: number[], functionIndex: number) => {
        functionItem.forEach((avgPercentage: number, percentageIndex: number) => {
          categories.forEach((category: any, categoryIndex: number) => {
            category.forEach((categoryItem: number) => {
              if (functionIndex === categoryIndex && percentageIndex === categoryItem) {
                percentages.push(avgPercentage)
              }
            })
          })
        })
      })
      chartData.push(percentages)
      percentages = []
    })

    this.selectedCat.forEach((categorySelected: number[]) => {
      categorySelected.forEach(() => {
        this.data.push([])
      })
    })

    this.matrixCategoriesInFields.forEach((categoryNamesInField: string[], fieldIndex: number) => {
      categoryNamesInField.forEach((categoryName: string, categoryIndex: number) => {
        this.selectedCat.forEach((categorySelected: any, selectedIndex: number) => {
          categorySelected.forEach((category: number) => {
            if (fieldIndex === selectedIndex && categoryIndex === category) {
              this.legends.push({
                label: categoryName,
                color: ''
              })
            }
          })
        })
      })
    })

    chartData.forEach((data: any) => {
      data.forEach((percentage:number, index: number) => {
        this.data[index].push(percentage)
      })
    })

    this.currentCategories()
    this.setChartScale()

    const labelBg = this.$vuetify.theme.currentTheme.adminCard?.toString()
    this.labelsChart = this.$vuetify.theme.currentTheme.labelsCharts?.toString() || this.labelsChart

    this.data.forEach((data: any, dataIndex: number) => {
      this.legends[dataIndex].color = (dataIndex < colors.length) ? colors[dataIndex] : '#000000'
      chartConfig.push({
        label: '',
        data: data,
        backgroundColor: colors[dataIndex],
        borderColor: colors[dataIndex],
        tension: 0.4,
        type: 'line',
        datalabels: {
          anchor: 'end',
          backgroundColor: labelBg,
          borderColor: (dataIndex < colors.length) ? colors[dataIndex] : '#000000',
          textAlign: 'center',
          borderRadius: 100,
          borderWidth: 3,
          color: this.labelsChart,
          padding: {
            top: 16,
            bottom: 16,
            right: 7,
            left: 7
          },
          formatter: function (value: any, context: any) {
            return `${((value < 10) ? `  ${value}%  ` : ((value >= 10 && value <= 99) ? ` ${value}% ` : `${value}%`))}`
          }
        }
      })
    })

    this.configData = chartConfig
  }

  setChartScale () {
    this.chartScale = {
      min: 100,
      max: -1
    }
    this.data.forEach((data: number[]) => {
      if (this.chartScale.min > Math.min(...data)) {
        this.chartScale.min = (Math.round((Math.min(...data) - 10) / 10) * 10)
      }

      if (this.chartScale.max < Math.max(...data)) {
        this.chartScale.max = (Math.round((Math.max(...data) + 10) / 10) * 10)
      }
    })
  }

  initDates () {
    return {
      from: moment(moment().locale('en').format('YYYY-MM')).locale('en').add(-2, 'M').format('YYYY-MM'),
      to: moment().locale('en').format('YYYY-MM')
    }
  }

  findFieldName (fieldSlug: string): string {
    let toRet: string = fieldSlug
    this.getQuestionnaire.fields.forEach((field: Field) => {
      if (field.slug === fieldSlug) {
        toRet = field.title
      }
    })
    return toRet
  }

  setTags (functionTitle: string) {
    Object.keys(this.fieldsMap).forEach((functionItem: any) => {
      if (functionItem === functionTitle) {
        this.fieldsMap[functionItem].forEach((item: any) => {
          this.allCategories.push({
            categoryTitle: item.display_name,
            tags: item.landing_page_tags
          })
        })
      }
    })
  }

  selectTags () {
    this.selectedCategoryData.forEach((categoryData: CategoryData) => {
      categoryData.tags.forEach((tags: Tag) => {
        this.selectedTags.push(tags.tag)
      })
    })
  }

  setShowTags (index: number) {
    this.selectedCategoryData = []
    this.selectedTags = []
    const categories: string[] = []
    this.matrixCategoriesInFields.forEach((functions: any, functionsIndex: number) => {
      functions.forEach((functionCategory: string, categoryIndex: number) => {
        this.selectedCat.forEach((categorySelected: any, selectedIndex: number) => {
          categorySelected.forEach((category: number) => {
            if (functionsIndex === selectedIndex && categoryIndex === category) {
              categories.push(functionCategory)
            }
          })
        })
      })
    })

    if (index > 0) {
      categories.forEach((category: string) => {
        this.allCategories.forEach((categoryData: CategoryData) => {
          if (category === categoryData.categoryTitle) {
            this.selectedCategoryData.push(categoryData)
          }
        })
      })
    }
  }
  // */

  disablePastDates (val: any) {
    if (this.dates.length === 1) {
      this.forwardDate = moment(this.dates[0]).locale('en').add(5, 'M').format('YYYY-MM')
      this.backDate = moment(this.dates[0]).locale('en').add(-5, 'M').format('YYYY-MM')
      return val >= this.backDate && val <= this.forwardDate
    }

    return true
  }

  getMonthDifference () {
    const dates: string[] = []
    if (this.dates[0] > this.dates[1]) {
      this.dates = this.dates.reverse()
    }

    const difference = (
      new Date(this.dates[1]).getMonth() -
      new Date(this.dates[0]).getMonth() +
      12 * (new Date(this.dates[1]).getFullYear() - new Date(this.dates[0]).getFullYear())) + 1

    for (let i = 0; i < difference; i++) {
      this.labels.push(moment(this.dates[0]).locale('en').add(i, 'M').format('MMMM YYYY'))
      dates.push(moment(this.dates[0]).locale('en').add(i, 'M').format('YYYY-MM'))
    }
    return dates
  }

  getMonthRange (date: string) {
    return {
      firstDay: moment(date).locale('en').format('YYYY-MM-DDT00:00:00') + 'Z',
      lastDay: moment(date).locale('en').add(1, 'M').format('YYYY-MM-DDT00:00:00') + 'Z'
    }
  }

  selectAll (index: number) {
    this.categorySelected = this.categorySelected.map((category: boolean, i: number) => {
      if (i === index) {
        category = !category
      }
      return category
    })

    if (index === 0) {
      this.categorySelected.forEach((categorySelect: boolean, categoryIndex: number) => {
        if (index === 0 && this.categorySelected[index]) {
          this.categorySelected.forEach((category: boolean, categoryIndex: number) => {
            this.categorySelected[categoryIndex] = true
          })
        } else {
          this.categorySelected[categoryIndex] = false
        }
      })
      this.matrixCategoriesInFields.forEach((categoryNamesInField: string[], fieldIndex: number) => {
        categoryNamesInField.forEach((categoryName: string, categoryIndex: number) => {
          if (this.categorySelected[index]) {
            if (this.selectedCat[fieldIndex].indexOf(categoryIndex) === -1) {
              this.selectedCat[fieldIndex].push(categoryIndex)
            }
          } else {
            this.selectedCat[fieldIndex] = []
          }
        })
      })
      this.selectedCategoryData = [{
        categoryTitle: '',
        tags: []
      }]
    } else {
      this.matrixCategoriesInFields.forEach((categoryNamesInField: string[], categoriesIndex: number) => {
        categoryNamesInField.forEach((categoryName: string, categoryIndex: number) => {
          if (index - 1 === categoriesIndex) {
            if (this.categorySelected[index]) {
              if (this.selectedCat[index - 1].indexOf(categoryIndex) === -1) {
                this.selectedCat[index - 1].push(categoryIndex)
              }
            } else {
              this.selectedCat[index - 1] = []
            }
          }
        })
      })
    }
  }

  currentCategories () {
    const current: string[] = []
    let amountOfCategories = 0
    this.matrixCategoriesInFields.forEach((categoryNamesInField: string[]) => {
      amountOfCategories += categoryNamesInField.length
    })
    this.legends.forEach((category: any) => {
      current.push(category.label)
    })

    if (current.length === amountOfCategories) {
      this.currentCategory = this.$t('Dashboard.allFunctions').toString()
    } else if (current.length > 0) {
      this.currentCategory = current.join()
    } else {
      this.currentCategory = this.$t('Dashboard.selectFunction').toString()
    }
  }

  checkCompleteCategory () {
    this.categorySelected.forEach((category: boolean, index: number) => {
      if (index > 0) {
        if (this.selectedCat[index - 1].length === this.matrixCategoriesInFields[index - 1].length) {
          this.categorySelected[index] = true
          this.categorySelected[0] = true
        } else {
          this.categorySelected[index] = false
        }
      }
    })
  }

  checkCategories () {
    let categoriesSelected: number[] = []
    const totalCategories: any[] = []
    this.selectedCat.forEach((categories: any, categoriesIndex: number) => {
      categories.forEach((category: number) => {
        this.matrixCategoriesInFields.forEach((categoryNamesInField: string[], fieldIndex: number) => {
          categoryNamesInField.forEach((categoryName: string, categoryIndex: number) => {
            if (categoriesIndex === fieldIndex && category === categoryIndex) {
              categoriesSelected.push(category)
            }
          })
        })
      })
      totalCategories.push(categoriesSelected)
      categoriesSelected = []
    })
    return totalCategories
  }

  onIntersect (entries: any) {
    if (entries[0].intersectionRatio >= 0.5) {
      this.applyFilter()
    }
  }

  renderChart () {
    this.createChart()
  }

  async calculateAvg () {
    this.avgCategories = []
    this.scoreboardData = []
    this.getQuestionnaire.fields.forEach((field: Field) => {
      Object.keys(this.fieldsMap).forEach((fieldSlug: any) => {
        this.fieldsMap[fieldSlug].forEach((category: Category) => {
          if (field.slug === fieldSlug) {
            category.landing_page_tags.forEach((tag: Tag) => {
              this.initiativesScoreboard.forEach((initiative: any) => {
                if (initiative.initiative && tag.tag === initiative.initiative.tags_list[0]) {
                  this.scoreboardData.push(initiative)
                }
              })
            })
          }
        })
      })
    })
    this.averageCategory()
  }

  averageCategory () { // Calculate average for each tag in the category
    let averages: number[] = []
    let sumAvg = 0
    let count = 0
    this.avgCategories = []

    this.initiativeTags.forEach((initiativeTag: any) => {
      initiativeTag.forEach((tag: any) => {
        tag.forEach((tagItem: any) => {
          this.scoreboardData.forEach((initiative) => {
            if (initiative.initiative !== null && initiative.initiative.tags_list[0] === tagItem.tag) {
              sumAvg += initiative.avg_percentage
              count++
            }
          })
        })

        if (count > 0) {
          averages.push(Math.round(sumAvg / count))
        } else {
          averages.push(sumAvg)
        }
        sumAvg = 0
        count = 0
      })
      this.avgCategories.push(averages)
      averages = []
    })
    this.categoryPercentage.push(this.avgCategories)
  }

  async filterData (ranges: any) {
    await this.loadInitiativesScoreboardByDate({
      gte: ranges.lastDay,
      lte: ranges.firstDay,
      questionnaireId: this.getQuestionnaire.id,
      historic: this.historic,
      tags: String(this.selectedTags)
    }).then(() => {
      this.initiativesScoreboard = this.getInitiativesScoreboardByDate
    })
  }

  async applyFilter () {
    this.charging = true
    this.labels = []
    this.legends = []
    const ranges: any[] = []
    const dates = this.getMonthDifference()

    this.selectedTags = []
    this.selectTags()

    dates.forEach((date: string) => {
      ranges.push(this.getMonthRange(date))
    })

    for (const range of ranges) {
      await this.filterData(range)
      await this.calculateAvg()
    }

    this.chartData = true
    this.charging = false

    this.setChartData(this.checkCategories())
    this.createChart()
    this.categoryPercentage = []
  }
}
</script>

<style lang="scss">
.dashboard-container {

  .date-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .performance-trend-card-data {
    background: var(--v-adminCard-base);
  }

  .apply-performance-filters {
    button {
      font-weight: 800;
    }
  }
  /*custom v-select*/
  .v-list-item--active:hover::before,
  .v-list-item--active::before,
  .v-list-item--active:focus::before,
  .v-list-item:focus::before  {
    opacity: 0;
  }

  .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: var(--v-adminCard-base);
    background: var(--v-adminListCard-base);
  }

  .category-title{
    display: flex;
    align-items: center;
    font-weight: 900;
    min-height: 48px;
    padding: 0 16px;
    cursor: pointer;
  }

  .v-text-field input::placeholder,
  .v-menu__content.menuable__content__active div:active {
    color: var(--v-adminTitleText-base);
    background: var(--v-adminListCard-base);
  }

  .v-menu__content.theme--light.menuable__content__active > div {
    padding: 16px 8px;
  }

  .custom-list-performance .v-list-item__content {
    padding: 0;
  }

  .v-list-item__action:first-child {
    margin-right: 16px;
  }

  .custom-list-performance .v-list.v-sheet {
    padding: 0;
  }

  i.v-icon.notranslate.checkIcon {
    background: #FFFFFF;
    width: 17px;
    height: 17px;
  }
  /*------------*/

  .function-list-performance .v-list-item--active .v-list-item__content,
  .function-list-performance .v-list-item--active .v-list-item__title {
    background: var(--v-activeColor-base) !important;
  }

  .function-list-performance.v-select .v-select__selections {
    color: var(--v-adminTitleText-base);
    font-weight: 600;
  }

  .function-list-performance .v-list-item.v-list-item--highlighted::before {
    opacity: 1;
  }
  i.v-icon.notranslate.mdi.mdi-menu-down,
  i.v-icon.notranslate.mdi.mdi-calendar,
  {
    color: var(--v-adminTitleText-base) !important;
  }
  .function-list-performance .v-menu__content {
    max-height: fit-content !important;
  }

  .date-input-filter .v-text-field__slot input {
    color: var(--v-adminTitleText-base);
  }

  .date-input-filter {
    max-width: 70%;
  }

  .date-filter .v-input input {
    color: var(--v-adminTitleText-base);
  }

  .dashboard-linearchart-legend.reverse {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .loader-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 575px;
  }
}

@media (max-width: 599px) {
  .dashboard-container {
    .performance-trend-card-data {
      display: none;
    }

    .date-input-filter {
      width: 70%;
    }

    .date-container {
      flex-wrap: wrap;
    }
  }
}
</style>
