<template lang="pug">
  v-card.list-questionnaire-card-data.pa-6.pa-lg-10
    v-card-title.dashboard-title-container.pa-0
      p.body-card-data-title {{ $t('Dashboard.listQuestionnaires') }}
      v-icon mdi-clipboard-list-outline
    v-card-text.list-questionnaires-container.pa-0
      v-select.questionnaire-list.mt-10(
        v-model="qnr"
        outlined
        :items="questionnaires"
        item-text="title"
        item-value="slug"
        :placeholder="$t('Navbar.questionnaires')"
        append-icon="mdi-chevron-down"
        background-color="adminInputBackground"
        :menu-props="{ offsetY: true, marginTop: '8px' }"
        @change="questionnaireSelected"
      )
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'

@Component({
  components: {
  }
})
export default class SelectQuestionnaires extends Vue {
  @Prop({ required: true }) readonly questionnaires!: any

  private qnr: string = ''

  created () {
    this.qnr = this.questionnaires[0].slug
  }

  async questionnaireSelected () {
    this.$emit('selectedQuestionnaire', this.qnr)
  }
}
</script>

<style lang="scss">
.list-questionnaire-card-data.v-card.v-sheet {
  background: var(--v-adminCard-base) !important;
}
</style>
