<template lang="pug">
  v-card.top-performance-card-data.pa-6.pa-lg-10
    v-card-title.dashboard-title-container.pa-0
      p.body-card-data-title {{ $t('Dashboard.topPerformance') }}
      v-icon mdi-medal-outline
    v-card-text.top-performance-content-container.pa-0
      .performer-info(v-for="performer in topPerformers" :key="performer.user.id")
        p.name-performer {{ performer.user.email }}
        CircularProgress.progress-performer(size="70" width="5" :value="performer.avg_percentage" text-color="adminTitleText" :percentage="true")
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import CircularProgress from '@/components/BaseComponents/CircularProgress.vue'
import { Questionnaire } from '../../../store/modules/questionnaire/types'

@Component({
  components: {
    CircularProgress
  }
})
export default class TopPerformers extends Vue {
  @Getter('admin/getTopPerformers') getTopPerformers: any
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire

  @Watch('getTopPerformers')
  updateData () {
    this.initData()
  }

  private topPerformers: any[] = []

  async created () {
    this.initData()
  }

  initData () {
    this.topPerformers = this.getTopPerformers
  }
}
</script>

<style lang="scss">
.dashboard-container {
  .dashboard-title-container {
    display: flex;
    justify-content: space-between;
  }

  p.body-card-data-title, p.aside-data-title {
    margin: 0;
  }

  .top-performance-card-data.v-card {
    width: 47.5%;
    height: auto;
    background: var(--v-adminCard-base);
  }

  p.name-performer {
    margin: 0;
    max-width: 220px;
  }

  .v-card__text.top-performance-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .performer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .v-progress-circular__underlay {
    stroke: #5E6979;
    z-index: 1;
    stroke-width: 2px;
  }

  .body-card-data-title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: var(--v-adminTitleText-base);
  }

  .dashboard-title-container i {
    color:var(--v-adminTitleText-base);
  }

  .name-performer {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--v-adminTitleText-base);
    opacity: 0.65;
  }
  .progress-performer p {
    margin: 0;
  }
  .v-progress-circular__info {
    color: var(--v-adminTitleText-base);
    font-size: 20px;
    align-items: baseline;
  }
  .percentage{
    color: var(--v-adminTitleText-base);
    font-size: 14px;
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  .dashboard-container {
    .v-progress-circular.circular-progress.progress-performer {
      height: 65px !important;
    }
  }
}

@media (max-width: 599px) {
  .dashboard-container {
    .top-performance-card-data.v-card {
      width: 100%;
    }
    p.name-performer {
      font-size: 16px;
    }

    .performer-info {
      margin-top: 30px;
    }

    .v-progress-circular.circular-progress.progress-performer {
      height: 60px !important;
    }
  }
}
</style>
