<template lang="pug">
  v-card.total-respondents-function-card-data.pa-6.pa-lg-10
    v-card-title.dashboard-title-container.mb-4
      p.body-card-data-title {{ $t('Dashboard.totalRespondentsFunction') }}
      v-icon mdi-chart-bar
    v-card-text.total-respondents-function-content-container
      .respondents-function-filter.mb-8
        .range-filter.me-8.me-lg-0
          p.range-label.me-4 {{ $t('Dashboard.scoreRange') }}
          v-select.range-list(
            v-model="range"
            item-text="label"
            value="value"
            :items="rangeSelect"
            outlined
            :menu-props="{ offsetY: true, marginTop: '30px' }"
            attach=".range-list"
            @change="rangeSelected($event)"
            :ripple="false"
          )
        .function-filter.me-8.me-lg-0
          p.function-label.me-4 {{ $t('Dashboard.selectFunction') }}
          v-select.function-list(
            v-model="category"
            :value="functionSelect[0]"
            :items="functionSelect"
            outlined
            :menu-props="{ offsetY: true, marginTop: '30px' }"
            attach=".function-list"
            @change="functionSelected($event)"
            :ripple="false"
          )
        .filter-date
          v-btn-toggle.dates-container(v-model="timeFilter" @change="timeSelect(false)")
            v-btn.date-btn(v-for="(date, index) in dateSelect", :key="index" large) {{ date }}
      canvas#bar2.mb-2
      .dashboard-barchart-legend(:class="{reverse: !$vuetify.rtl}")
        .state.me-8(v-for="(legend, index) in legends" :key="index")
          v-icon.me-2(:color="legendColor(legend.value)") mdi-circle-outline
          p {{ legend.label }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { MONTH, WEEK, TO_DATE, ALL_OPTIONS, EXTRA_LOW, LOW, MED, ADVANCE, HIGH } from '@/services/constants'
import { Action, Getter } from 'vuex-class'
import { Chart, LineController, BarController, LineElement, BarElement, PointElement, LinearScale, Title, CategoryScale } from 'chart.js'
import ChartDataLabels from 'chartjs-plugin-datalabels'
import FieldsMap from '../../../assets/interfaces/FieldsMap'
import { Questionnaire } from '../../../store/modules/questionnaire/types'
@Component({
  components: {
  }
})
export default class TotalRespondentsFunction extends Vue {
  @Action('setIsLoading') setIsLoading: any
  @Action('questionnaire/loadQuestionnaireData') loadQuestionnaireData: any
  @Action('admin/loadScoreGrouped') loadScoreGrouped: any
  @Action('admin/loadScoreGroupedByDate') loadScoreGroupedByDate: any

  @Getter('questionnaire/getFieldsMap') getFieldsMap!: FieldsMap | any
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire
  @Getter('admin/getScoreGrouped') getScoreGrouped: any
  @Getter('config/getConfig') getConfig: any

  @Watch('getQuestionnaire')
  async updateData () {
    this.clearData()
    await this.initData()
    this.setChartData(this.rangeColor)
    this.createChart()
  }

  private dateSelect = [this.$t('Scoreboard.thisMonth'), this.$t('Scoreboard.thisWeek'), this.$t('Scoreboard.toDate')]
  private rangeSelect = [
    { label: this.$t('Dashboard.allScoreRange'), value: ALL_OPTIONS },
    { label: this.$t('extraLow'), value: EXTRA_LOW },
    { label: '50%', value: LOW },
    { label: '51-71%', value: MED },
    { label: '71-90%', value: ADVANCE },
    { label: '91-100%', value: HIGH }
  ]

  private range = 0
  private rangeColor: number = -1
  private category = this.$t('Dashboard.allFunctions')
  private allFunctions: any[] = []
  private functionSelect = [this.$t('Dashboard.allFunctions')]
  private timeFilter = 0
  private functions: any[] = []
  private data: any[] = []
  private allData: any[] = []
  private configData: any
  private labels: any[] = []
  private chart: any
  private maxScaleY: number = 0
  private labelsChart = '#FFFFFF'
  private legends = [
    { label: this.$t('extraLow'), value: EXTRA_LOW },
    { label: this.$t('Percentages.low'), value: LOW },
    { label: this.$t('Percentages.medium'), value: MED },
    { label: this.$t('Percentages.advance'), value: ADVANCE },
    { label: this.$t('Percentages.high'), value: HIGH }
  ]

  async created () {
    Chart.register(ChartDataLabels, LineController, BarController, BarElement, LineElement, PointElement, LinearScale, Title, CategoryScale)
    this.functions = await this.getFieldsMap
    await this.initData()
    this.setChartData(this.rangeColor)
    this.createChart()
    this.setIsLoading(false)
  }

  clearData () {
    this.allFunctions = []
    this.functionSelect = [this.$t('Dashboard.allFunctions')]
    this.labels = []
  }

  async initData () {
    await this.timeSelect(true)
    this.getQuestionnaire.fields.forEach((field: any) => {
      Object.keys(this.functions).forEach((functionItem: any) => {
        this.functions[functionItem].forEach((item: any) => {
          if (field.slug === functionItem) {
            this.allFunctions.push({ category: item.display_name, tags: item.landing_page_tags })
          }
        })
      })
    })

    Object.keys(this.allFunctions).forEach((functionItem: any) => {
      this.functionSelect.push(this.allFunctions[functionItem].category)
      this.labels.push(this.setLabels(this.allFunctions[functionItem].category))
    })
    this.setData()
    this.setMaxScale()
  }

  functionSelected (functionSelected: any) {
    const rangeData: any[] = [[], [], [], [], []]
    this.data = []
    this.labels = []
    let select: any

    Object.keys(this.allFunctions).forEach((functionItem: any) => {
      if (this.allFunctions[functionItem].category === functionSelected) {
        select = this.allFunctions[functionItem]
      }
    })

    if (select) {
      Object.keys(select.tags).forEach((tag: any) => {
        Object.keys(this.getScoreGrouped).forEach((score: any) => {
          if (select.tags[tag].tag === score) {
            this.labels.push(this.setLabels(score))
            Object.keys(this.getScoreGrouped[score]).forEach((range: any, index: number) => {
              rangeData[index].push(this.getScoreGrouped[score][`range-${index + 1}`])
            })
          }
        })
      })
      this.data = rangeData
      this.allData = rangeData
    } else {
      Object.keys(this.allFunctions).forEach((functionItem: any) => {
        this.labels.push(this.setLabels(this.allFunctions[functionItem].category))
      })
      this.setData()
    }
    this.setMaxScale()
    this.rangeSelected(this.range)
    this.setChartData(this.rangeColor)
    this.createChart()
  }

  rangeSelected (rangeSelected: number) {
    this.data = []
    const auxData = this.allData
    switch (rangeSelected) {
      case ALL_OPTIONS :
        this.data = this.allData
        this.setMaxScale()
        this.setChartData(-1)
        break
      case EXTRA_LOW :
        this.data = auxData[0]
        this.setMaxScale()
        this.rangeColor = 0
        this.setChartData(this.rangeColor)
        break
      case LOW :
        this.data = auxData[1]
        this.setMaxScale()
        this.rangeColor = 1
        this.setChartData(this.rangeColor)
        break
      case MED :
        this.data = auxData[2]
        this.setMaxScale()
        this.rangeColor = 2
        this.setChartData(this.rangeColor)
        break
      case ADVANCE :
        this.data = auxData[3]
        this.setMaxScale()
        this.rangeColor = 3
        this.setChartData(this.rangeColor)
        break
      case HIGH :
        this.data = auxData[4]
        this.setMaxScale()
        this.rangeColor = 4
        this.setChartData(this.rangeColor)
        break
    }
    this.createChart()
  }

  setLabels (label:string) {
    return label.split(' ')
  }

  setData () {
    let ranges: number[] = [0, 0, 0, 0, 0]
    const rangeData: any[] = [[], [], [], [], []]
    this.data = []
    Object.keys(this.allFunctions).forEach((functionItem: any) => {
      this.allFunctions[functionItem].tags.forEach((tag: any) => {
        Object.keys(this.getScoreGrouped).forEach((score: any) => {
          if (tag.tag === score) {
            Object.keys(this.getScoreGrouped[score]).forEach((range: any, index: number) => {
              ranges[index] = ranges[index] + this.getScoreGrouped[score][`range-${index + 1}`]
            })
          }
        })
      })
      ranges.forEach((range: any, index: number) => {
        rangeData[index].push(range)
      })
      ranges = [0, 0, 0, 0, 0] // *****
    })
    this.data = rangeData
    this.allData = rangeData
  }

  setMaxScale () {
    this.maxScaleY = 0
    // const data = this.data
    if (this.data.length > 0 && this.data[0].length > 0) {
      this.data.forEach((scores: any) => {
        scores.forEach((score: number) => {
          if (this.maxScaleY < score) {
            this.maxScaleY = score
          }
        })
      })
    } else {
      this.data.forEach((score) => {
        if (this.maxScaleY < score) {
          this.maxScaleY = score
        }
      })
    }
  }

  async timeSelect (init: boolean) {
    let lte: any = new Date()
    const gte = new Date()
    if (!init) {
      this.setIsLoading(true)
    }
    switch (this.timeFilter) {
      case MONTH :
        lte = new Date(lte.setDate(gte.getDate() - 30)).toISOString()
        await this.loadScoreGroupedByDate({
          gte: gte.toISOString(),
          lte: lte,
          questionnaireId: this.getQuestionnaire.id
        }).then(() => {
          this.functionSelected(this.category)
        })
        break
      case WEEK :
        lte = new Date(lte.setDate(gte.getDate() - 7)).toISOString()
        await this.loadScoreGroupedByDate({ gte: gte.toISOString(), lte: lte, questionnaireId: this.getQuestionnaire.id }).then(() => {
          this.functionSelected(this.category)
        })
        break
      case TO_DATE :
        await this.loadScoreGrouped(this.getQuestionnaire.id)
        this.functionSelected(this.category)
        break
      default:
        break
    }
    if (!init) {
      this.setIsLoading(false)
    }
  }

  setChartData (index: number) {
    const aux: any[] = []
    const colors = [
      this.$vuetify.theme.currentTheme.min?.toString(),
      this.$vuetify.theme.currentTheme.low?.toString(),
      this.$vuetify.theme.currentTheme.med?.toString(),
      this.$vuetify.theme.currentTheme.adv?.toString(),
      this.$vuetify.theme.currentTheme.high?.toString()
    ]
    if (this.data.length > 0 && this.data[0].length > 0) {
      this.data.forEach((data: any, index: number) => {
        aux.push(
          {
            label: '',
            backgroundColor: colors[index],
            borderRadius: 25,
            borderWidth: 1,
            data: data,
            borderSkipped: false,
            datalabels: {
              color: this.labelsChart,
              anchor: 'end',
              align: 'top',
              offset: 10,
              textAlign: 'center'
            },
            categoryPercentage: 0.5,
            barPercentage: 0.8
          })
      })
      this.configData = aux
    } else {
      this.configData = [{
        label: '',
        backgroundColor: colors[index],
        borderRadius: 25,
        borderWidth: 1,
        data: this.data,
        borderSkipped: false,
        datalabels: {
          color: this.labelsChart,
          anchor: 'end',
          align: 'top',
          offset: 10,
          textAlign: 'center'
        },
        categoryPercentage: 0.5,
        barPercentage: 0.8
      }]
    }
  }

  createChart () {
    if (this.chart) {
      this.chart.destroy()
    }

    this.labelsChart = this.$vuetify.theme.currentTheme.labelsCharts?.toString() || this.labelsChart

    const canvas = document.getElementById('bar2') as HTMLCanvasElement
    this.chart = new Chart(canvas, {
      type: 'bar',
      data: {
        labels: this.labels,
        datasets: this.configData
      },
      options: {
        scales: {
          y: {
            grid: {
              color: this.labelsChart + '38'
            },
            ticks: {
              color: this.labelsChart
            },
            max: this.maxScaleY + 5
          },
          xAxes: {
            grid: {
              color: this.labelsChart + '38'
            },
            ticks: {
              color: this.labelsChart
            }
          }
        }
      },
      plugins: [ChartDataLabels]
    })
  }

  legendColor (legend: number) {
    switch (legend) {
      case EXTRA_LOW :
        return 'min'
      case LOW :
        return 'low'
      case MED :
        return 'med'
      case ADVANCE :
        return 'adv'
      case HIGH :
        return 'high'
    }
  }
}
</script>

<style lang="scss">
.dashboard-container {
  .total-respondents-function-card-data {
    background: var(--v-adminCard-base);
  }

  .respondents-function-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard-barchart-legend {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .dashboard-barchart-legend.reverse {
    flex-direction: row;
  }
  .v-menu__content.menuable__content__active div {
    background: var(--v-adminListCard-base);
    color: var(--v-adminTitleText-base);
    z-index: 10;
  }

  .v-menu__content.menuable__content__active div:active {
    background: var(--v-adminCard-base);
    color: var(--v-adminCard-base);
    z-index: 10;
  }

  .v-menu__content.theme--light.menuable__content__active > div {
    padding: 0 8px 0 8px;
  }

  .function-list {
    max-width: 280px;
  }

  .function-list .v-list-item--active .v-list-item__content,
  .function-list .v-list-item--active .v-list-item__title,
  .range-list .v-list-item--active .v-list-item__content,
  .range-list .v-list-item--active .v-list-item__title {
    background: var(--v-activeColor-base) !important;
  }
  .v-list {
    background: var(--v-adminCard-base);
  }

  .v-menu__content.theme--light.menuable__content__active {
    margin-top: 10px;
  }

  .range-filter {
    width: 30%;
    display: flex;
    align-items: center;
  }

  .range-filter {
    width: 30%;
    display: flex;
    align-items: center;
  }

  .function-filter {
    width: 30%;
    display: flex;
    align-items: center;
  }

  .dates-container.v-item-group.v-btn-toggle {
    background: var(--v-filterBtn-base);
  }

  .function-list.v-select .v-select__selections,
  .range-list.v-select .v-select__selections {
    color: var(--v-adminTitleText-base);
    font-weight: 600;
  }

  .function-list .v-list-item.v-list-item--highlighted::before,
  .range-list .v-list-item.v-list-item--highlighted::before {
    opacity: 1;
  }
  i.v-icon.notranslate.mdi.mdi-menu-down {
    color: var(--v-adminTitleText-base) !important;
  }
  .function-list .v-menu__content {
    max-height: fit-content !important;
  }

  .performance-trend-filter .v-text-field .v-input__control {
    background: var(--v-adminListCard-base);
  }

  .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    color: var(--v-adminBorderSelect-base)
  }

  .v-input__slot {
    background: var(--v-adminListCard-base) !important;
  }

  .v-text-field__details {
    display: none;
  }

  .scoreboard-filter-date {
    padding: 6px;
    background: var(--v-filterBtn-base);
    border-radius: 4px;
    width: -moz-fit-content;
    width: fit-content;
  }

  .filter-date {
    display: flex;
    justify-content: center;
    padding: 6px;
    background: var(--v-filterBtn-base);
    border-radius: 4px;
    width: -moz-fit-content;
    width: fit-content;
  }

  .v-btn-toggle:not(.v-btn-toggle--group) {
    background:  var(--v-filterBtn-base);
  }
  button.date-btn.v-btn.v-btn--is-elevated.v-btn--has-bg {
    height: 40px;
    background: transparent;
    color: var(--v-filterTextBtn-base);
    font-weight: 800;
  }
  button.date-btn.v-btn.v-item--active.v-btn--active.v-btn--is-elevated.v-btn--has-bg {
    height: 40px;
    background: var(--v-activeColor-base);
    border-radius: 5px;
    padding: 0 24px;
  }
  button.date-btn.v-btn.v-item--active.v-btn--active span {
    color: var(--v-adminActiveTextColor-base);
  }

  .state {
    display: flex;
    align-items: center;
  }

  .state p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--v-adminTitleText-base);
    margin: 0;
  }

  p.function-label,
  p.range-label {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--v-adminTitleText-base);
    opacity: 0.65;
    margin: 0;
  }

  p.range-label, p.function-label {
    white-space: nowrap;
  }
}

@media (min-width: 1025px) and (max-width: 1100px) {
  .dashboard-container {
    .respondents-function-filter {
      flex-wrap: wrap;
      justify-content: center;
    }

    .range-filter, .function-filter {
      width: 45%;
    }

    .filter-date {
      margin-top: 12px;
    }
  }
}

@media (min-width: 840px) and (max-width: 1024px) {
  .dashboard-container {
    .respondents-function-filter {
      justify-content: center;
      flex-wrap: wrap;
    }

    .range-filter, .function-filter  {
      width: 40%;
      display: flex;
      align-items: center;
    }

    .filter-date {
      margin-top: 12px;
    }
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  .dashboard-container {
    .respondents-function-filter {
      justify-content: center;
      flex-wrap: wrap;
    }

    .function-filter, .range-filter {
      flex-direction: column;
    }

    .v-input.range-list,
    .v-input.function-list {
      min-width: 100%;
      justify-content: center;
    }

    p.function-label, p.range-label {
      margin-bottom: 18px;
    }

    .range-filter {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0 0 18px 0 !important;
    }

    .function-filter {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0 0 18px 0 !important;
    }

    .dashboard-barchart-legend {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 599px) {
  .dashboard-container {

    .respondents-function-filter {
      flex-direction: column;
      flex-wrap: wrap;
    }

    .function-filter {
      width: 100%;
      flex-direction: column;
      margin: 0 0 32px 0 !important;
    }

    .range-filter {
      width: 100%;
      flex-direction: column;
      margin: 0 0 32px 0 !important;
    }

    p.function-label,
    p.range-label {
      margin-bottom: 12px;
    }

    .v-input.range-list,
    .v-input.function-list {
      min-width: 100%;
      justify-content: center;
    }

    .v-btn-toggle {
      flex-wrap: wrap;
      justify-content: center;
    }

    .dashboard-barchart-legend {
      flex-wrap: wrap;
    }
  }
}
</style>
