<template lang="pug">
  v-card.dashboard-aside-data-container.pa-6.pa-lg-10
    v-card-title.dashboard-title-container.pa-0
      p.aside-data-title {{ $t('Dashboard.totalScore') }}
      v-icon mdi-bag-checked
    v-card-text.total-score-function.px-0.pt-10
      .score-function(v-for="(functionItem, index) in functionsList" :key="index")
        .function-name-container
          p.function-name {{ functionItem }}
          p.function-name-percentage {{ avgCategories[index] }}%
        v-progress-linear.functions-progress(:value="avgCategories[index]" :color="levelColor(avgCategories[index])" height="6" rounded)
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import FieldsMap from '../../../assets/interfaces/FieldsMap'
import { Questionnaire, Tag } from '../../../store/modules/questionnaire/types'
import levelHelper from '../../../lib/util/levelHelper'

@Component({
  components: {
  }
})
export default class TotalScoreFunction extends Vue {
  @Getter('questionnaire/getTagsByFunction') getTagsByFunction!: (fieldSlug: string) => Tag[][]

  @Getter('admin/getInitiativesScoreboard') getInitiativesScoreboard: any
  @Getter('questionnaire/getFieldsMap') getFieldsMap!: FieldsMap | any
  @Action('setIsLoading') setIsLoading: any
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire

  @Watch('getInitiativesScoreboard')
  updateData () {
    this.clearData()
    this.initData()
  }

  private functionTitle: any[] = []
  private functionsList: any[] = []
  private avgCategories: any[] = []
  private functions: any[] = []
  private initiativeTags: any[] = []
  private initiativesPercentage: any[] = []

  async created () {
    this.initData()
  }

  clearData () {
    this.functionTitle = []
    this.functionsList = []
    this.avgCategories = []
    this.functions = []
    this.initiativeTags = []
    this.initiativesPercentage = []
  }

  initData () {
    this.functions = this.getFieldsMap
    Object.keys(this.functions).forEach((functionItem: any) => { // get function name
      this.functionTitle.push(functionItem)
      this.initiativeTags.push(this.getTagsByFunction(functionItem))
    })

    this.initiativesPercentage = this.getInitiativesScoreboard

    this.getQuestionnaire.fields.forEach((field: any) => {
      Object.keys(this.functions).forEach((functionItem: any) => {
        this.functions[functionItem].forEach((item: any) => {
          if (field.slug === functionItem) {
            this.functionsList.push(item.display_name)
          }
        })
      })
    })
    this.averageCategory()
  }

  averageCategory () { // Calculate average for each tag in the category
    let sumAvg = 0
    let count = 0
    this.initiativeTags.forEach((initiativeTag: any, index: number) => {
      initiativeTag.forEach((tag: any) => {
        tag.forEach((tagItem: any) => {
          this.initiativesPercentage.forEach((initiative) => {
            if (initiative.initiative !== null && initiative.initiative.tags_list[0] === tagItem.tag) {
              sumAvg += initiative.avg_percentage
              count++
            }
          })
        })

        if (count > 0) {
          this.avgCategories.push(Math.round(sumAvg / count))
        } else {
          this.avgCategories.push(sumAvg)
        }
        sumAvg = 0
        count = 0
      })
    })
  }

  levelColor (value: number): string {
    return levelHelper(this, value).color
  }
}
</script>

<style lang="scss">
.dashboard-container {
  .dashboard-aside-data-container {
    background: var(--v-adminCard-base);
    width: 34%;
  }

  .aside-data-title {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: var(--v-adminTitleText-base);
  }

  .function-name-container {
    display: flex;
    justify-content: space-between;
  }

  p.function-name {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--v-adminTitleText-base);
    opacity: 0.65;
  }

  p.function-name-percentage {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--v-adminTitleText-base);
    word-break: initial !important;
  }

  .v-card__text.total-score-function {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 46px;
    justify-content: space-between;
  }

  .v-progress-linear__background {
    height: 5px !important;
    color: #101624;
    background: #101624;
  }
}
@media (max-width: 1024px) {
  .dashboard-container {
    .dashboard-aside-data-container.v-card.v-sheet {
      width: 100%;
    }

    .score-function {
      margin-bottom: 32px;
    }

    div.score-function:last-child  {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  .dashboard-container {
    .aside-data-title {
      font-size: 18px;
    }

    p.function-name {
      font-size: 16px;
    }

    p.function-name-percentage {
      font-size: 18px;
    }
  }
}

@media (max-width: 599px) {
  .dashboard-container {
    .aside-data-title {
      font-size: 18px;
    }

    p.function-name {
      font-size: 16px;
    }

    p.function-name-percentage {
      font-size: 18px;
    }
  }
}

</style>
