<template lang="pug">
  v-card.dashboard-body-chart-data.pa-6.pa-lg-10
    v-card-title.dashboard-title-container.pa-0.mb-12
      p.body-card-data-title {{ $t('Dashboard.totalRespondentsRange') }}
      v-icon mdi-chart-box-outline
    v-card-text.pa-0
      canvas#bar.mb-2
      .total-score-range.px-6(:class="{reverse: !$vuetify.rtl}" )
        p.range(v-for="(range, index) in ranges", :key="index") {{ range }}
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Action, Getter } from 'vuex-class'
import { Chart, ChartConfiguration, LineController, BarController, LineElement, BarElement, PointElement, LinearScale, Title, CategoryScale } from 'chart.js'
import ChartDataLabels from 'chartjs-plugin-datalabels'
import { Questionnaire } from '../../../store/modules/questionnaire/types'

@Component({
  components: {
  }
})
export default class TotalScore extends Vue {
  @Getter('admin/getTotalRespondents') getTotalRespondents: any
  @Getter('config/getConfig') getConfig: any
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire

  @Watch('getTotalRespondents')
  updateData () {
    this.initData()
    this.createChart()
  }

  private totalScore: any[] = []
  private data: number[] = []
  private labels = ['0-30%', '31-50%', '51-65%', '66-80%', '81-90%', '91-95%', '96-100%']
  private chart: any
  private ranges = [this.$t('high'), this.$t('medium'), this.$t('low')]
  private maxScaleY: any

  async beforeMount () {
    this.initData()
  }

  mounted () {
    Chart.register(ChartDataLabels, LineController, BarController, BarElement, LineElement, PointElement, LinearScale, Title, CategoryScale)
    this.createChart()
  }

  initData () {
    this.totalScore = this.getTotalRespondents
    this.data = Object.values(this.getTotalRespondents)
    this.maxScaleY = Math.max(...this.data)
  }

  createChart () {
    if (this.chart) {
      this.chart.destroy()
    }

    const labelsChart = this.$vuetify.theme.currentTheme.labelsCharts?.toString()

    const canvas = document.getElementById('bar') as HTMLCanvasElement
    this.chart = new Chart(canvas, {
      type: 'bar',
      data: {
        labels: this.labels,
        datasets: [
          {
            label: 'Not started',
            backgroundColor: ['#B21703', '#E2422D', '#DC621E', '#E29117', '#E29117', '#649731', '#226F45'],
            borderRadius: 25,
            borderWidth: 1,
            data: this.data,
            borderSkipped: false,
            datalabels: {
              color: labelsChart,
              anchor: 'end',
              align: 'top',
              offset: 10,
              textAlign: 'center'
            },
            categoryPercentage: 0.5,
            barPercentage: 0.8
          }
        ]
      },
      options: {
        scales: {
          y: {
            grid: {
              color: labelsChart + '38'
            },
            ticks: {
              color: labelsChart
            },
            max: this.maxScaleY + 50
          },
          xAxes: {
            grid: {
              color: labelsChart + '38'
            },
            ticks: {
              color: labelsChart
            }
          }
        }
      },
      plugins: [ChartDataLabels]
    })
  }
}
</script>

<style lang="scss">
.dashboard-container {
  .dashboard-body-chart-data {
    background: var(--v-adminCard-base);
  }

  .total-score-range {
    display: flex;
    justify-content: space-between;
  }

  .total-score-range.reverse {
    flex-direction: row-reverse;
  }

  p.range {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--v-adminTitleText-base);
    opacity: 0.65;
    margin: 0;
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  .dashboard-container {
    p.range {
      font-size: 16px;
    }
  }
}

@media (max-width: 599px) {
  .dashboard-container {
    p.range {
      font-size: 16px;
    }
  }
}
</style>
