<template lang="pug">
  v-card.total-respondents-card-data.pa-6.pa-lg-10
    v-card-title.dashboard-title-container.pa-0
      p.body-card-data-title {{ $t('Dashboard.totalRespondents') }}
      v-icon mdi-office-building
    v-card-text.total-respondents-content-container.pa-0
      p.amount-respondents {{ amountRespondents }}
      .amount-respondents-state(v-for="(respondent, index) in startedRespondents" :key="index")
        .respondents-state-title-container
          p.respondents-state-title {{ respondentsTitle(respondent.state) }}
          p.respondents-state-amount {{ respondent.amount }}
        v-progress-linear.respondents-amount-progress(
          :value="levelValue(respondent.amount)"
          :color="levelColor(levelValue(respondent.amount))"
          height="6"
          rounded
        )
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { Getter } from 'vuex-class'
import { Questionnaire } from '../../../store/modules/questionnaire/types'
import { COMPLETED, IN_PROGRESS, NOT_STARTED } from '../../../services/constants'
import { RespondentEntity } from '../../../store/modules/admin/types'
import levelHelper from '../../../lib/util/levelHelper'

@Component({
  components: {
  }
})
export default class TotalRespondents extends Vue {
  @Getter('admin/getTotalRespondentsState') getTotalRespondentsState!: RespondentEntity[]
  @Getter('questionnaire/getQuestionnaire') getQuestionnaire!: Questionnaire

  @Watch('getTotalRespondentsState')
  updateData () {
    this.initData()
  }

  private totalRespondents: RespondentEntity[] = []
  private amountRespondents: number = 0

  async created () {
    this.initData()
  }

  get startedRespondents (): RespondentEntity[] {
    const res = this.totalRespondents.filter((respondent: RespondentEntity) => {
      return respondent.state !== NOT_STARTED.label
    })
    return res
  }

  initData () {
    this.totalRespondents = this.getTotalRespondentsState
    this.amountRespondents = 0
    this.totalRespondents.forEach((respondent: RespondentEntity) => {
      if (respondent.state !== NOT_STARTED.label) {
        this.amountRespondents = this.amountRespondents + respondent.amount
      }
    })
  }

  respondentsTitle (state: string) {
    switch (state.toLocaleLowerCase()) {
      case COMPLETED.label :
        return this.$t('completed')
      case IN_PROGRESS.label :
        return this.$t('inProgress')
    }
  }

  levelColor (value: number): string {
    return levelHelper(this, value).color
  }

  levelValue (value: number): number {
    return (value * 100 / this.amountRespondents)
  }
}
</script>

<style lang="scss">
.dashboard-container {
  .dashboard-title-container {
    display: flex;
    justify-content: space-between;
  }

  p.body-card-data-title, p.aside-data-title {
    margin: 0;
  }

  .total-respondents-card-data.v-card {
    width: 47.5%;
    height: 416px;
    background: var(--v-adminCard-base);
  }

  p.amount-respondents {
    margin: 0;
  }

  .amount-respondents {
    font-style: normal;
    font-weight: 300;
    font-size: 111px;
    line-height: 90px;
    color: var(--v-activeColor-base);
  }

  .v-card__text.total-respondents-content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .respondents-state-title-container {
    display: flex;
    justify-content: space-between;
  }

  .respondents-state-title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--v-adminTitleText-base);
    opacity: 0.65;
  }

  .respondents-state-amount {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--v-adminTitleText-base);
  }
}

@media (min-width: 840px) and (max-width: 1024px) {
  .dashboard-container {
    .v-progress-circular.progress-performer.v-progress-circular--visible.primary--text {
      height: 60px !important;
    }
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  .dashboard-container {
    .dashboard-title-container {
      height: 20%;
    }

    .v-card__text.top-performance-content-container {
      height: 80%;
    }

    .amount-respondents {
      font-size: 65px;
    }

    .v-card__text.total-respondents-content-container {
      height: 80%;
    }

    .respondents-state-title {
      font-size: 16px;
    }

    .name-performer {
      font-size: 16px;
    }

    .v-progress-circular.progress-performer.v-progress-circular--visible.primary--text {
      height: 45px !important;
    }

    .v-progress-circular__info {
      font-size: 16px;
    }

    .percentage {
      font-size: 12px;
    }

    .respondents-state-amount {
      font-size: 16px;
    }
  }
}

@media (max-width: 599px) {
  .dashboard-container {
    .v-card__title.dashboard-title-container {
      height: 10%;
    }

    .v-card__text.total-respondents-content-container {
      height: 90%;
    }

    .v-progress-circular.progress-performer.v-progress-circular--visible.primary--text {
      height: 45px !important;
    }

    .v-progress-circular__info {
      font-size: 16px;
    }

    .percentage {
      font-size: 12px;
    }

    p.respondents-state-title,
    p.respondents-state-amount,
    p.aside-data-title {
      font-size: 16px;
    }
  }
}
</style>
